<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default card">
            <div class="panel-body">
                <h3>Chipcard Requests</h3>
                <button class="btn" ng-click="prevPage()" ng-disabled="curPage == 1"> &lt; </button>
                <p class="btn"> {{curPage}} </p>
                <button class="btn" ng-click="nextPage()" ng-disabled="curPage >= lastPage"> &gt; </button>
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Person</th>
                        <th>Resource</th>
                        <th>Booking</th>
                        <th>Chipcard</th>
                        <th>Request Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="request in chipcardrequest">
                        <td>{{ request.id }}</td>
                        <td>
                            <a class="pull-left" ui-sref="root.person.show.summary({personId: request.booking.person.id })">
                                {{ request.booking.person.firstName }}
                            </a>
                        </td>
                        <td>
                            <a class="pull-left" ui-sref="root.resource.show.summary({ resourceId: request.booking.resource.id})">
                                {{ request.booking.resource.alias }}
                            </a>
                        </td>
                        <td>
                            <a class="pull-left" ui-sref="root.trip.dashboard({ tripId: booking.id })">
                                {{ request.booking.resource.id }}
                            </a>
                        </td>
                        <td>{{ request.rfid }}</td>
                        <td>{{ request.requestDate | amDateFormat:'DD-MM-YYYY | HH:mm' }}</td>
                    </tr>

                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
