<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default card">
      <div class="panel-body">
        <h3>Revisions</h3>
        <button class="btn" ng-click="prevPage()" ng-disabled="curPage == 1"> &lt; </button>
        <p class="btn"> {{curPage}} </p>
        <button class="btn" ng-click="nextPage()" ng-disabled="curPage >= lastPage"> &gt; </button>
        <button class="btn" ng-click="refresh()"> <i class="fa fa-refresh"></i></button>
        <table class="table">
          <thead>
          <tr>
            <th>Date</th>
            <th></th>
            <th>Updated by</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="revision in revisionlog">
            <td class="nowrap">{{ revision.loggedAt | amDateFormat:'DD-MM-YYYY HH:mm' }}</td>
            <td>
              <span ng-if="revision.action==='create'">Created</span>
              <span ng-if="revision.action==='update'">{{ revision.data[selectedField] | json }}</span>
            </td>
            <td>{{ revision.username }}</td>
          </tr>

          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>
