<div style="margin-bottom: 20px">
  <button class="btn btn-default" ng-click="showAll()">Toon alle ritten</button>
  <button class="btn btn-default" ng-click="reset()">Reset</button>
  <button class="btn btn-default" ng-click="previous()">&laquo;&nbsp;Vorige</button>
  <button class="btn btn-default" ng-click="next()">Volgende&nbsp;&raquo;</button>
  {{ currentTimeFrame.startDate | amDateFormat: 'DD MMM YYYY'}} - {{ currentTimeFrame.endDate | amDateFormat: 'DD MMM YYYY'}}
</div>

<div class="alert alert-info" ng-hide="bookings.length > 0">
  Geen ritten gevonden.
</div>

<table class="table table-hover" ng-show="bookings.length > 0">
  <thead>
    <tr>
      <th>Ritnummer</th>
      <th>Status</th>
      <th colspan="2">Tijdframe</th>
      <th>Begin trip</th>
      <th ng-if="!$state.includes('root.resource')">Auto</th>
      <th ng-if="!$state.includes('root.person')">Persoon</th>
      <th ng-if="!$state.includes('root.person')">E-mail</th>
      <th>Betaald</th>
    </tr>
  </thead>
  <tbody>
    <tr 
      ng-class="{
        danger: ['cancelled', 'owner_cancelled'].indexOf(booking.status) >= 0, 
        warning: booking.status === 'rejected', 
        success: booking.beginBooking < now && booking.endBooking > now
      }" 
      ng-repeat="booking in bookings | orderBy: ['-beginBooking','-beginRequested']"
    >
      <td><a ui-sref="root.trip.dashboard({ tripId: booking.id })">#{{ booking.id }}</a></td>
      <td>{{ booking.status }}</td>
      <td colspan="2">
        <booking-date ng-if="booking.beginBooking" booking="booking"></booking-date>
        <booking-date ng-if="booking.beginRequested && !booking.beginBooking" booking="booking" type="requested"></booking-date>
      </td>
      <td>{{ booking.trip.begin | amDateFormat:'DD-MM HH:mm' }}</td>
      <td ng-if="!$state.includes('root.resource')"><a ui-sref="root.resource.show.trip({ resourceId: booking.resource.id })">{{ booking.resource.alias }}</a></td>
      <td ng-if="!$state.includes('root.person')"><a ui-sref="root.person.show.trip({ personId: booking.person.id })">{{ booking.person.firstName }}</a></td>
      <td ng-if="!$state.includes('root.person')"><a ng-href="mailto:{{ booking.person.email }}">{{ booking.person.email }}</a></td>
      <td>
        <span>{{ booking.approved }}</span>
      </td>
    </tr>
  </tbody>
</table>
