<div style="margin-bottom: 20px">
  <button class="btn btn-default" ng-click="previous()" hide-xs>&laquo;&nbsp;15 dagen terug</button>
  <button class="btn btn-default" ng-click="previousMonth()">&laquo;&nbsp;1 maand terug</button>
  <span hide-xs>
    &nbsp; &nbsp; &nbsp;
    {{ currentTimeFrame.startDate | amDateFormat: 'DD MMM YYYY'}} - {{ currentTimeFrame.endDate | amDateFormat: 'DD MMM YYYY'}} 
    &nbsp; &nbsp; &nbsp;
  </span>
  <button class="btn btn-default" ng-click="next()" hide-xs>15 dagen vooruit&nbsp;&raquo;</button>
  <button class="btn btn-default" ng-click="nextMonth()">1 maand vooruit&nbsp;&raquo;</button>

</div>

<div class="alert alert-info" ng-hide="bookings.length > 0">
  Geen ritten gevonden.
</div>

<table class="table table-hover" ng-show="bookings.length > 0">
  <thead>
    <tr>
      <th hide-xs>Ritnummer</th>
      <th hide-xs>Status</th>
      <th colspan="2">Tijden</th>
      <th hide-xs>Ingestapt op</th>
      <th hide-xs>Kilometers</th>
      <th ng-if="!$state.includes('root.resource')">Auto</th>
      <th ng-if="!$state.includes('root.person')">Huurder</th>
      <th>Betaald</th>
    </tr>
  </thead>
  <tbody>
    <tr 
      ng-class="{
        danger: ['cancelled', 'owner_cancelled'].indexOf(booking.status) >= 0, 
        warning: booking.status === 'rejected', 
        success: booking.beginBooking < now && booking.endBooking > now
      }" 
      ng-repeat="booking in bookings | orderBy: ['-beginBooking','-beginRequested']"
      class='clickable-row' ui-sref="root.trip.dashboard({ tripId: booking.id })"
    >
      <td hide-xs>{{ booking.id }}</td>
      <td ng-if="booking.status === 'accepted'" hide-xs>geaccepteerd</td>
      <td ng-if="booking.status === 'cancelled'" hide-xs>geannuleerd</td>
      <td ng-if="booking.status === 'owner_cancelled'" hide-xs>geannuleerd door eigenaar</td>
      <td ng-if="booking.status === 'rejected'" hide-xs>afgewezen door eigenaar</td>
      <td ng-if="booking.status === 'requested'" hide-xs>in aanvraag</td>
      <td colspan="2">
        <booking-date ng-if="booking.beginBooking" booking="booking"></booking-date>
        <booking-date ng-if="booking.beginRequested && !booking.beginBooking" booking="booking" type="requested"></booking-date>
      </td>
      <td hide-xs>{{ booking.trip.begin | amDateFormat:'DD-MM HH:mm' }}</td>
      <td ng-if="booking.trip.finalized" hide-xs>{{ booking.trip.odoEnd - booking.trip.odoBegin }}</td>
      <td ng-if="!booking.trip.finalized" hide-xs></td>
      <td ng-if="!$state.includes('root.resource')">{{ booking.resource.alias }}</td>
      <td ng-if="!$state.includes('root.person')">{{ booking.person | fullname }}</td>
      <td>
        <span ng-if="!booking.approved || booking.contract.id === 934646">Onderhoud</span>
        <span ng-if="booking.approved === 'OK' && booking.contract.id !== 934646">Ja</span>
        <span ng-if="booking.approved === 'BUY_VOUCHER'">Nee</span>
      </td>
    </tr>
  </tbody>
</table>
