<div style="margin-bottom: 20px">
  <button class="btn btn-default" ng-click="showAll()">Show all trips</button>
  <button class="btn btn-default" ng-click="reset()">Reset</button>
  <button class="btn btn-default" ng-click="previous()">&laquo;&nbsp;Previous</button>
  <button class="btn btn-default" ng-click="next()">Next&nbsp;&raquo;</button>
  {{ currentTimeFrame.startDate | amDateFormat: 'DD MMM YYYY'}} - {{ currentTimeFrame.endDate | amDateFormat: 'DD MMM YYYY'}}
</div>

<div class="alert alert-info" ng-hide="bookings.length > 0">
  No bookings found in this timeframe
</div>

<table class="table table-hover" ng-show="bookings.length > 0">
  <thead>
    <tr>
      <th>Trip</th>
      <th>Status</th>
      <th colspan="2">Datum boeking</th>
      <th>Begin trip</th>
      <th>Begin requested</th>
      <th ng-if="! $state.includes('root.resource')">Auto</th>
      <th ng-if="! $state.includes('root.person')">Bestuurder</th>
      <th ng-if="!$state.includes('root.person')">Email</th>
      <th>Approved</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="{danger: booking.status === 'cancelled', warning: booking.status === 'rejected'}" ng-repeat="booking in bookings | orderBy: ['-beginBooking','-beginRequested']">
      <td><a ui-sref="root.trip.dashboard({ tripId: booking.id })">#{{ booking.id }}</a></td>
      <td>{{ booking.status }}</td>
      <td colspan="2"><booking-date booking="booking"></booking-date></td>
      <td>{{ booking.trip.begin | amDateFormat:'DD-MM HH:mm' }}</td>
      <td>{{ booking.beginRequested | amDateFormat:'DD-MM | HH:mm' }}</td>
      <td ng-if="!$state.includes('root.resource')"><a ui-sref="root.resource.show.summary({ resourceId: booking.resource.id })">{{ booking.resource.alias }}</a></td>
      <td ng-if="!$state.includes('root.person')"><a ui-sref="root.person.show.summary({ personId: booking.person.id })">{{ booking.person.firstName }}</a></td>
      <td ng-if="!$state.includes('root.person')"><a ng-href="mailto:{{ booking.person.email }}">{{ booking.person.email }}</a></td>
      <td>
        <span>{{ booking.approved }}</span><br/>
        <a ng-if="booking.approved === 'OK'" ng-click="refundBooking(booking)">Refund</a>
      </td>
      <td>
        <span ng-if="b.trip.finalized" class="text-success">finalized</span>
      </td>
    </tr>
  </tbody>
</table>
