<div class="row">

  <div class="col-md-12">
    <h2 class="no-margin" ng-class="{'ok':'text-success', 'nok':'text-danger', 'unchecked':'text-muted'}[person.driverLicenseStatus]">
      <span ng-if="person.driverLicenseStatus === 'ok'">Rijbewijs goedgekeurd</span>
      <span ng-if="person.driverLicenseStatus === 'nok'">Rijbewijs niet goedgekeurd</span>
      <span ng-if="person.driverLicenseStatus === 'unchecked'">Rijbewijs nog niet gecontroleerd</span>
    </h2>
    <hr>
    <div class="row">&nbsp;</div>
  </div>

  <div class="col-md-6">

    <form>
      <div class="form-group">
        <strong>Voorkant rijbewijs</strong>
        <div ng-if="person.driverLicense">
          <driver-license person="person.id"></driver-license>
        </div>

        <div style="margin-bottom:20px;">
          <input id="licenseFrontFile" type="file" />
        </div>


        <strong>Achterkant rijbewijs</strong>
        <div ng-if="person.driverLicense">
          <driver-license person="person.id" back="true"></driver-license>
        </div>

        <div>
          <input id="licenseBackFile" type="file" />
        </div>
      </div>
      
      <button type="button" class="btn btn-primary" ng-click="startUpload()" ng-disabled="!images.front || !images.back || isBusy">
          <span class="fa fa-upload"></span> Upload
      </button>
    </form>

    <div class="row">&nbsp;</div>

    <table class="table table-striped table-condensed">
      <tr>
        <th style="min-width:140px;">Opmerking</th>
        <td>{{person.remark}}</td>
      </tr>
      <tr>
        <th>E-mail geverifieerd?</th>
        <td>{{person.emailVerified ? 'Ja' : 'Nee'}}</td>
      </tr>
      <tr>
        <th>Voorkeur</th>
        <td ng-if="person.preference === 'both'">Huren & verhuren</td>
        <td ng-if="person.preference === 'renter'">Huren</td>
        <td ng-if="person.preference === 'owner'">Verhuren</td>
      </tr>
      <tr>
        <th>Facebook</th>
        <td><a href="http://facebook.com/{{ person.facebookUid }}" target="_blank">{{person.facebookUid}}</a></td>
      </tr>
      <tr>
        <th>Facebook achternaam</th>
        <td>{{person.facebookSurname}}</td>
      </tr>
      <tr>
        <th>Twitter</th>
        <td><a href="https://twitter.com/{{person.twitterUid}}" target="_blank">{{person.twitterUid}}</a></td>
      </tr>
      <tr>
        <th>LinkedIn</th>
        <td><a href="https://linkedin.com/in/{{person.linkedinUid}}" target="_blank">{{person.linkedinUid}}</a></td>
      </tr>
      <tr>
        <th>Tenaamstelling</th>
        <td>{{person.account.name}}</td>
      </tr>
      <tr>
        <th>IBAN-nummer</th>
        <td>{{person.account.iban}}</td>
      </tr>
    </table>
  </div>

  <div class="col-md-6">
    <form name="form">
      <div class="form-group">
        <div class="form-group">
          <label for="driverLicenseNumber">Rijbewijsnummer:</label>
          <input name="driverLicenseNumber" id="driverLicenseNumber" type="text" class="form-control" ng-model="person.driverLicenseNumber" />
        </div>
        <div class="form-group">
          <label for="driverLicenseDate">Geldig tot:</label>
          <div>
          <input move-next-on-maxlength maxlength="2" ng-blur="driverLicenseDate1 = prefix(driverLicenseDate1)" ng-model="driverLicenseDate1" class="form-control" placeholder="DD" style="width: 4em; display: inline-block; " name="driverLicenseDate1" ng-keyup="format($event)" type="text" ></input>
          <span>-</span>
          <input move-next-on-maxlength maxlength="2" ng-blur="driverLicenseDate2 = prefix(driverLicenseDate2)"  ng-model="driverLicenseDate2" class="form-control" placeholder="MM" style="width: 4em; display: inline-block;" name="driverLicenseDate2" ng-keyup="format($event)" type="text" ></input>
          <span>-</span>
          <input maxlength="4" class="form-control" ng-blur="hasFocus = false" ng-focus="hasFocus = true" ng-model="driverLicenseDate3" ng-blur="" placeholder="YYYY" style="width: 8em; display: inline-block;" name="driverLicenseDate3" ng-keyup="format($event)" type="text" ></input>
          </div>
          <p ng-if="form.driverLicenseDate3.$touched && !hasFocus"><span ng-if="notValidDate()">Datum is nog niet in het goede formaat (dd-mm-YYYY) of ongeldig</span></p>
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-disabled="!form.$dirty || !person.driverLicenseNumber || notValidDate()" ng-click="saveDriverLicenseData()">Opslaan</button>
        </div>
      </div>

      <button type="button" class="btn btn-success" ng-click="moderateLicense(person, 'ok')" ng-disabled="form.$invalid">OK</button>
      <button type="button" class="btn btn-warning" ng-click="moderateLicense(person, 'nok')">Niet OK</button>
      <button type="button" class="btn btn-danger" ng-click="moderateLicense(person, 'nok', 'block')">Niet OK + Deactiveren</button>
    </form>

    <div class="row">&nbsp;</div>

    <div ng-if="blockedLike.length > 0">
      <h4 class="text-danger">Zwarte lijst <small>matches in kleur</small></h4>
      <table class="table table-condensed table-striped table-hover">
        <tr>
          <th>Naam</th>
          <th>Geboortedatum</th>
          <th>Adres</th>
          <th>Rijbewijsnr.</th>
          <th>IBAN</th>
        </tr>
        <tr ng-repeat="blockedPerson in blockedLike" ui-sref="root.person.show.summary({personId: blockedPerson.id})" style="cursor:pointer;">
          <td ng-class="{'bg-danger': person.surname && blockedPerson.surname == person.surname}">{{blockedPerson | fullname}}</td>
          <td ng-class="{'bg-danger': person.dateOfBirth && blockedPerson.dateOfBirth == person.dateOfBirth}">{{blockedPerson.dateOfBirth | amDateFormat:'DD-MM-YYYY' }}</td>
          <td ng-class="{'bg-danger': person.zipcode && blockedPerson.zipcode == person.zipcode}">{{blockedPerson.zipcode}} {{blockedPerson.streetNumber}}</td>
          <td ng-class="{'bg-danger': person.driverLicenseNumber && blockedPerson.driverLicenseNumber == person.driverLicenseNumber}">{{blockedPerson.driverLicenseNumber}}</td>
          <td ng-class="{'bg-danger': blockedPerson.ibanmatch}">{{ blockedPerson.ibanmatch ? (blockedPerson.ibanmatch | limitTo: -9) : ''}}</td>
        </tr>
        <tr style="border-top: 2px #ccc solid" class="nohover text-muted" title="Huidige user">
          <td>{{person | fullname}}</td>
          <td>{{person.dateOfBirth | amDateFormat:'DD-MM-YYYY' }}</td>
          <td>{{person.zipcode}} {{person.streetNumber}}</td>
          <td>{{person.driverLicenseNumber}}</td>
          <td>{{person.account.iban | limitTo: -9}}</td>
        </tr>
      </table>
    </div>

    <div ng-if="blockedLike.length === 0">
      <h4 class="text-danger">Zwarte lijst <small>matches in kleur</small></h4>
      <hr>
      Geen matches op de zwarte lijst gevonden.
    </div>

    <div class="row">&nbsp;</div>

    <div ng-if="similar.length > 0">
      <h4>Overeenkomstig <small>matches in kleur</small></h4>
      <table class="table table-condensed table-striped table-hover">
        <tr>
          <th>Naam</th>
          <th>Geboortedatum</th>
          <th>Adres</th>
          <th>Rijbewijsnr.</th>
          <th>IBAN</th>
        </tr>
        <tr ng-repeat="similarPerson in similar" ui-sref="root.person.show.summary({personId: similarPerson.id})"
            style="cursor:pointer;">
          <td ng-class="{'bg-danger': person.surname && similarPerson.surname == person.surname}">{{similarPerson | fullname}}</td>
          <td ng-class="{'bg-danger': person.dateOfBirth && similarPerson.dateOfBirth == person.dateOfBirth}">{{similarPerson.dateOfBirth | amDateFormat:'DD-MM-YYYY' }}</td>
          <td ng-class="{'bg-danger': person.zipcode && similarPerson.zipcode == person.zipcode}">{{similarPerson.zipcode}} {{similarPerson.streetNumber}}</td>
          <td ng-class="{'bg-danger': person.driverLicenseNumber && similarPerson.driverLicenseNumber == person.driverLicenseNumber}">{{similarPerson.driverLicenseNumber}}</td>
          <td ng-class="{'bg-danger': similarPerson.ibanmatch}">{{similarPerson.ibanmatch ? (similarPerson.ibanmatch | limitTo: -9) : ''}}</td>
        </tr>
        <tr style="border-top: 2px #ccc solid" class="nohover text-muted" title="Huidige user">
          <td>{{person | fullname}}</td>
          <td>{{person.dateOfBirth | amDateFormat:'DD-MM-YYYY' }}</td>
          <td>{{person.zipcode}} {{person.streetNumber}}</td>
          <td>{{person.driverLicenseNumber}}</td>
          <td>{{person.account.iban | limitTo: -9}}</td>
        </tr>
      </table>
    </div>

    <div ng-if="similar.length === 0">
      <h4>Overeenkomstig <small>matches in kleur</small></h4>
      <hr>
      Geen overeenkomende actieve personen gevonden.
    </div>

  </div>
</div>
</div>


