
<section class="row">
    <article class="col-md-6 panel panel-default card">
        <div class="card-body">
        <table class="table table-condensed">
            <caption>ccome berichten {{unfinishedJobs.length}}</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>boeking #</th>
                    <th>begin boeking</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in unfinishedJobs">
                    <td>{{item.id}}</td>
                    <td>{{item.booking.id}}</td>
                    <td>{{item.begin | amDateFormat:'DD-MM-YYYY | HH:mm'}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </article>
    <article class="col-md-6">
        <div google-chart chart="chartData" style="height:20em"> </div>
    </article>
</section>
<section class="row">
    <article class="col-md-6 panel panel-default card">
        <div class="card-body">
        <table class="table table-condensed">
            <caption>Rijbewijzen {{notActiveDrivers.length}}</caption>
            <thead>
                <tr>
                    <th>pr# </th>
                    <th>e-mail</th>
                    <th>begin boeking</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in notActiveDrivers">
                    <td>{{item.person.provider.id}}</td>
                    <td>{{item.person.email}}</td>
                    <td>{{item.beginBooking | amDateFormat:'DD-MM-YYYY | HH:mm'}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </article>
    <article class="col-md-6 panel panel-default card">
        <div class="card-body">
        <table class="table table-condensed">
            <caption>Requested {{requested.length}}</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>autonaam</th>
                    <th>naam huurder</th>
                    <th>begin boeking</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in requested.slice().reverse() | limitTo:10">
                    <td>{{item.id}}</td>
                    <td>{{item.resource.alias}}</td>
                    <td>{{item.person.firstName}}</td>
                    <td>{{item.beginRequested | amDateFormat:'DD-MM-YYYY | HH:mm'}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </article>
</section>