
<section class="col-md-6">
    <snoozablechecklist query="query" limit="5" hide-if-null="true" ng-repeat="query in rightQueries"> </snoozablechecklist>
</section>
<section class="col-md-6">
    <article class="">
        <div google-chart chart="chartData" style="height:20em"> </div>
    </article>
    
    <article class="panel panel-default card" ng-if="unfinishedJobs.length > 0">
        <div class="card-body">
        <table class="table table-condensed">
            <caption>CComE messages {{unfinishedJobs.length}}</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Booking</th>
                    <th>Begin booking</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in unfinishedJobs">
                    <td>{{item.id}}</td>
                    <td>
                        <a ui-sref="root.trip.show.summary({ tripId: item.booking.id })">#{{item.booking.id}}</a>
                    </td>
                    <td>{{item.begin | amDateFormat:'DD-MM-YYYY | HH:mm'}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </article>
    

    <snoozablechecklist query="query" limit="5" hide-if-null="true" ng-repeat="query in leftQueries"> </snoozablechecklist>
</section>