<div class="row">
    <div class="col-md-12">

        <div ng-if="$state.includes('root.person')" class="panel panel-default card">
            <div class="panel-body">
                <h3>Communication</h3>
                <button class="btn" ng-click="prevPage()" ng-disabled="curPage == 1"> &lt; </button>
                <p class="btn"> {{curPage}} </p>
                <button class="btn" ng-click="nextPage()" ng-disabled="curPage >= lastPage"> &gt; </button>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Address</th>
                        <th>Subject</th>
                        <th>Timestamp</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="message in communication">
                        <td>{{message.address}}</td>
                        <td>{{ message.subject }}</td>
                        <td>{{ message.timestamp | amDateFormat:'DD-MM-YYYY | HH:mm' }}</td>
                        <td><button id="submitForm" ng-click="viewMessage(message.message)" type="button" class="btn btn-primary pull-left">View</button></td>
                    </tr>

                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
