<div class="panel panel-default card">
  <div class="panel-body">
    <h3 ng-click="getRemark()" ng-if='iCall != 24889'>Bewerk gesprek</h3>
    <h3 ng-click="getRemark()" ng-if='iCall == 24889'>Stel een vraag</h3>

    <div class="form-group">
      <label for="remark" ng-if='iCall != 24889'>Opmerking</label>
      <textarea id="remark" name="sRemark" class="form-control" ng-model="sRemark" placeholder="Een opmerking over het gesprek. Geef altijd aan welke actie je hebt uitgevoerd." rows="7"></textarea>
    </div>

    <div class="form-group">
      <button class="btn btn-default" ng-click="saveRemark()">Opslaan</button>
    </div>

  </div>
</div>