<div class="modal-content">
  <form name="phoneCreateEditForm" ng-submit="save(phone)">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="dismiss()">&times;</button>
      <h4 class="modal-title" ng-hide="phone.id">Create Phone</h4>
      <h4 class="modal-title" ng-show="phone.id">Edit Phone</h4>
    </div>

    <div class="modal-body">
      <div class="form-group">
        <label for="number">Number</label>
        <input class="form-control" type="text" ng-model="phone.number" required name="number" id="number" />
      </div>

      <div class="form-group">
        <label for="type">Phone Type</label>
        <select class="form-control" name="type" id="type" ng-model="phone.type" ng-options="o.value as o.label for o in phoneTypeOptions"></select>
      </div>

      <div class="form-group">
        <label for="confidential"><input type="checkbox" ng-model="phone.confidential" id="confidential" name="confidential"> Confidential</label>
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="dismiss()">Close</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
