<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default card">
      <div class="panel-body">
        <h2>Bank not verified</h2>
        <table class="table table-condensed table-hover">
          <thead>
          <tr>
            <th>Person</th>
            <th>Name</th>
            <th>IBAN-number(s)</th>
            <th>Email</th>
          </tr>
          </thead>
          <tbody>
            <tr ng-repeat="person in persons" ui-sref="root.person.show.data.account({personId: person.id})" style="cursor:pointer">
              <td><a ui-sref="root.person.show.summary({personId: person.id})">{{person.id}}</a></td>
              <td>{{person | fullname }}</td>
              <td>
                <span ng-repeat="account in person.accounts">
                  {{account.iban}}<span ng-if="!$last">, </span>
                </span>
              </td>
              <td>{{person.email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
