<div class="row">

  <div class="col-sm-3">
    <div class="panel panel-default card">
      <div class="panel-body">
        <form class="form">

          <div class="form-group">
            <label for="max">Max results</label>
            <select id="max" class="form-control" ng-model="params.max"
                    ng-options="max.value as max.label for max in maxOptions">
            </select>
          </div>

          <div class="form-group">
            <label for="status">Status</label>
            <select id="status" class="form-control" ng-model="params.status"
                    ng-options="status.value as status.label for status in statusOptions">
            </select>
          </div>

          <div class="form-group">
            <label for="from">From</label>
            <input type="text" id="from" placeholder="pick a date" class="form-control pickadate-input"
                   ng-model="params.from" pickadate="dateConfig">
          </div>

          <div class="form-group">
            <label for="until">Until</label>
            <input type="text" id="until" placeholder="pick a date" class="form-control pickadate-input"
                   ng-model="params.until" pickadate="dateConfig">
          </div>

          <button class="btn btn-primary" ng-click="refresh()">Refresh</button>
        </form>
      </div>
    </div>
  </div>


  <div class="col-sm-9">

    <div class="panel panel-default card">
      <div class="panel-body">
        <h3>
          Invoice groups
          <a ui-sref="root.invoice2.invoice.create({person: personId})" class="btn btn-default" ng-if="$state.includes('root.person')">Create invoice</a>
        </h3>

        <table class="table table-condensed table-hover table-invoice">

          <thead>
          <tr>
            <th colspan="2">Invoice group</th>
            <th ng-if="!$state.includes('root.person')">Person</th>
            <th>Date</th>
            <th>Expires</th>
            <th class="text-center">Sent / received</th>
            <th>Paid</th>
            <th>Approved</th>
            <th class="text-right">Total</th>
            <th>Payout</th>
          </tr>
          </thead>

          <tr ng-repeat="elm in invoiceGroups">
            <!-- link -->
            <td>
              <a ng-href="{{ FRONT_BASE }}/verzamelfactuur/{{ elm.id }}.pdf" target="_blank">
                <i class="fa fa-external-link"></i></a>
              <button ng-if="!elm.paid" ng-click="removeInvoiceGroup(elm.id)" title="Ongroepeer deze verzamelfactuur" class="btn btn-xs btn-link"><i class="fa fa-fw fa-expand"></i></button>
            </td>

            <td>
              <a ui-sref="root.invoice2.invoiceGroup.show({ invoiceGroupId: elm.id })">{{ elm.id }}</a>
            </td>

            <!-- person -->
            <td ng-if="!$state.includes('root.person')">
              <a ui-sref="root.person.show.invoiceGroupV2.list({ personId: elm.person.id })">{{ elm.person | fullname }}</a>
            </td>

            <!-- date -->
            <td>
              {{ elm.date | amDateFormat: 'DD-MM-YYYY' }}
            </td>

            <!-- expiry -->
            <td>
              {{ elm.expirationDate | amDateFormat: 'DD-MM-YYYY' }}
            </td>

            <!-- sent/received -->
            <td class="text-center">
              {{ elm.sentInvoices.length }} / {{ elm.receivedInvoices.length }}
            </td>

            <!-- paid -->
            <td>
              {{ elm.paid | amDateFormat: 'DD-MM-YYYY' }}
              <span ng-if="!elm.paid && elm.total !== 0" class="text-danger">
                  <i class="fa fa-exclamation-triangle fa-fw"></i>To be paid
              </span>
            </td>

            <!-- approved -->
            <td class="text-right">
              <span ng-if="!elm.approved" class="text-danger">
                <i class="fa fa-exclamation-triangle fa-fw"></i>Not approved
              </span>
            </td>

           <!-- total -->
            <td class="text-right">
              {{ elm.total | currency }}
            </td>

            <!-- payout invoiceGroup -->
            <td ng-if="elm.total < 0">
              <span ng-if="elm.payoutRequest && !elm.paid" class="text-muted">Requested</span>
              <a href="" ng-if="!elm.payoutRequest && !elm.paid" ng-click="payoutInvoiceGroup(elm)">Payout now<br/></a>
              <a href="" ng-if="!elm.payoutRequest && !elm.paid" ng-click="payoutToVoucher(elm)">Make voucher<br/></a>
              <div ng-if="elm.paid" class="text-success text-center"><i class="fa fa-check"></i></div>

            </td>

            <td ng-if="elm.total >= 0">
            </td>

          </tr>
        </table>

      </div>
    </div>

    <!-- ungrouped received invoices -->

    <div ng-if="$state.includes('root.person')" class="panel panel-default card">
      <div class="panel-body">
        <h3>Ungrouped received invoices</h3> 
          
        <table class="table">
          <thead>
            <tr>
              <th>Invoice</th>
              <th>Trip</th>
              <th>Date</th>
              <th>Sender</th>
              <th>Description</th>
              <th class="text-right">Total</th>
            </tr>
          </thead>
          <tr ng-repeat="invoice in ungroupedReceivedInvoices">
            <td><a ui-sref="root.invoice2.invoice.edit({ invoiceId: invoice.id })">{{ invoice.id }}</a></td>
            <td><a ui-sref="root.trip.show.summary({ tripId: invoice.booking.id })">{{ invoice.booking.id }}</a></td>
            <td>{{ invoice.date | amDateFormat: 'DD-MM-YY hh:mm'}}</td>
            <td>{{ invoice.sender | fullname }}</a>
            <td>{{ invoice.description }}</td>
            <td class="text-right">{{ invoice.total | currency }}</td>
          </tr>
          <tr>
            <td colspan="5"><b>Total</b></td>
            <td class="text-right">
              <strong>{{ ungroupedReceivedInvoicesTotal | currency }}</strong>
            </td>
          </tr>
        </table>

      </div>
    </div>

    <!-- ungrouped sent invoices -->

    <div ng-if="$state.includes('root.person')" class="panel panel-default card">
      <div class="panel-body">
        <h3>Ungrouped sent invoices</h3>

        <table class="table">
          <thead>
            <tr>
              <th>Invoice</th>
              <th>Trip</th>
              <th>Date</th>
              <th>Recipient</th>
              <th>Description</th>
              <th class="text-right">Total</th>
            </tr>
          </thead>
          <tr ng-repeat="invoice in ungroupedSentInvoices">
            <td><a ui-sref="root.invoice2.invoice.edit({ invoiceId: invoice.id })">{{ invoice.id }}</a></td>
            <td><a ui-sref="root.trip.show.summary({ tripId: invoice.booking.id })">{{ invoice.booking.id }}</a></td>
            <td>{{ invoice.date | amDateFormat: 'DD-MM-YY hh:mm'}}</td>
            <td>{{ invoice.recipient | fullname }}</a>
            <td>{{ invoice.description }}</td>
            <td class="text-right">{{ invoice.total | currency }}</td>
          </tr>
          <tr>
            <td colspan="5"><b>Total</b></td>
            <td class="text-right">
              <strong>{{ ungroupedSentInvoicesTotal | currency }}</strong>
            </td>
          </tr>
          <tr>
            <td colspan="5"></td>
            <td class="text-right">
              <button type="button" class="btn btn-primary" ng-click="createSenderGroup(person.id)">
                Bundle
              </button>
              <button type="button" class="btn btn-primary" ng-click="payoutInvoices()">
                Bundle + uitbetalen
              </button>
            </td>
          </tr>
        </table>

      </div>
    </div>

    <!-- Accounts -->

    <div ng-if="$state.includes('root.person')" class="panel panel-default card">
      <div class="panel-body">
        <h3>Accounts</h3>

        <table class="table">
          <thead>
            <tr>
              <th>Person</th>
              <th>Name</th>
              <th>IBAN</th>
              <th>Approved</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="account in accounts">
              <td>
                <a ui-sref="root.person.show.summary({ personId: account.person.id })">
                  {{ account.person | fullname }}
                </a>
              </td>

              <td>{{ account.lastName }}</td>

              <td>{{ account.iban }}</td>

              <td>
                <span ng-if="account.approved">
                  <i class="fa fa-check fa-fw text-success"></i> Approved (<a href="" ng-click="disapprove(account)">disapprove</a>)
                </span>
                <span ng-if="!account.approved">
                  <i class="fa fa-times fa-fw text-danger"></i> Not approved (<a href="" ng-click="approve(account)">approve</a>)
                </span>
              </td>

            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>
