<div class="row">

  <div class="col-sm-3">
    <div class="panel panel-default card">
      <div class="panel-body">
        <form class="form">

          <div class="form-group">
            <label for="max">Aantal resultaten</label>
            <select id="max" class="form-control" ng-model="params.max"
                    ng-options="max.value as max.label for max in maxOptions">
            </select>
          </div>

          <div class="form-group">
            <label for="status">Status</label>
            <select id="status" class="form-control" ng-model="params.status"
                    ng-options="status.value as status.label for status in statusOptions">
            </select>
          </div>

          <div class="form-group">
            <label for="from">Van</label>
            <input type="text" id="from" placeholder="Selecteer datum" class="form-control pickadate-input"
                   ng-model="params.from" pickadate="dateConfig">
          </div>

          <div class="form-group">
            <label for="until">Tot</label>
            <input type="text" id="until" placeholder="Selecteer datum" class="form-control pickadate-input"
                   ng-model="params.until" pickadate="dateConfig">
          </div>

          <button class="btn btn-primary" ng-click="refresh()">Vernieuw</button>
        </form>
      </div>
    </div>
  </div>


  <div class="col-sm-9">

    <div class="panel panel-default card">
      <div class="panel-body">
        <h3>
          Facturen
          <a ui-sref="root.invoice2.invoice.create({person: personId})" class="btn btn-default" ng-if="$state.includes('root.person')">Factuurregel toevoegen</a>
        </h3>

        <table class="table table-condensed table-hover table-invoice">

          <thead>
          <tr>
            <th colspan="2">Factuur</th>
            <th ng-if="!$state.includes('root.person')">Persoon</th>
            <th>Datum</th>
            <th>Verloopdatum</th>
            <th>Betaald</th>
            <th>Goedgekeurd</th>
            <th class="text-right">Bedrag</th>
            <th>Uitbetalen</th>
          </tr>
          </thead>

          <tr ng-repeat="elm in invoiceGroups">
            <!-- link -->
            <td>
              <a ng-href="{{ FRONT_BASE }}/verzamelfactuur/{{ elm.id }}.pdf" target="_blank">
                <i class="fa fa-fw fa-file-pdf-o"></i>
              </a>
              <button ng-if="!elm.paid" ng-click="removeInvoiceGroup(elm.id)" title="Ongroepeer deze verzamelfactuur" class="btn btn-xs btn-link"><i class="fa fa-fw fa-expand"></i></button>
            </td>

            <td>
              {{ elm.id }}
            </td>

            <!-- person -->
            <td ng-if="!$state.includes('root.person')">
              <a ui-sref="root.person.show.invoiceGroupV2.list({ personId: elm.person.id })">{{ elm.person | fullname }}</a>
            </td>

            <!-- date -->
            <td>
              {{ elm.date | amDateFormat: 'DD-MM-YYYY' }}
            </td>

            <!-- expiry -->
            <td>
              {{ elm.expirationDate | amDateFormat: 'DD-MM-YYYY' }}
            </td>

            <!-- paid -->
            <td>
              {{ elm.paid | amDateFormat: 'DD-MM-YYYY' }}
              <span ng-if="!elm.paid && elm.total !== 0" class="text-danger">
                  <i class="fa fa-exclamation-triangle fa-fw"></i>Te betalen
              </span>
            </td>

            <!-- approved -->
            <td class="text-right">
              <span ng-if="!elm.approved" class="text-danger">
                <i class="fa fa-exclamation-triangle fa-fw"></i>Niet goedgekeurd
              </span>
            </td>

           <!-- total -->
            <td class="text-right">
              {{ elm.total | currency }}
            </td>

            <!-- payout invoiceGroup -->
            <td ng-if="elm.total < 0">
              <span ng-if="elm.payoutRequest && !elm.paid" class="text-muted">In aanvraag</span>
              <a href="" ng-if="!elm.payoutRequest && !elm.paid && !$root.isInterswitch" ng-click="payoutInvoiceGroup(elm)" show-if-user-has-role="ROLE_ADMIN">Uitbetalen<br/></a>
              <a href="" ng-if="!elm.payoutRequest && !elm.paid && !$root.isInterswitch" ng-click="payoutToVoucher(elm)">Als saldo uitbetalen<br/></a>
              <div ng-if="elm.paid" class="text-success text-center"><i class="fa fa-check"></i></div>

            </td>

            <td ng-if="elm.total >= 0">
            </td>

          </tr>
        </table>

      </div>
    </div>

    <!-- ungrouped received invoices -->

    <div ng-if="$state.includes('root.person')" class="panel panel-default card">
      <div class="panel-body">
        <h3>Te betalen</h3> 
          
        <table class="table">
          <thead>
            <tr ng-if="ungroupedReceivedInvoices.length > 0">
              <th>#</th>
              <th>Rit</th>
              <th>Datum</th>
              <th>Aan</th>
              <th>Omschrijving</th>
              <th>Totaal</th>
              <th>Actie</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="invoice in ungroupedReceivedInvoices" ng-if="ungroupedReceivedInvoices.length > 0">
              <td><a ui-sref="root.invoice2.invoice.edit({ invoiceId: invoice.id })">{{ invoice.id }}</a></td>
              <td><a ui-sref="root.trip.dashboard({ tripId: invoice.booking.id })">{{ invoice.booking.id }}</a></td>
              <td>{{ invoice.date | amDateFormat: 'DD-MM-YY hh:mm'}}</td>
              <td>{{ invoice.sender | fullname }}</a>
              <td>{{ invoice.description }}</td>
              <td>{{ invoice.total | currency }}</td>
              <td ng-click="removeInvoice(invoice.id)"><i class="fa fa-trash"></i></td>
            </tr>
            <tr ng-if="ungroupedReceivedInvoices.length === 0">
              <td>Geen factuurregels</td>
            </tr>
          </tbody>
          <tfoot ng-if="ungroupedReceivedInvoices.length > 0">
            <tr>
              <td colspan="5"><b>Totaal</b></td>
              <td class="text-right">
                <strong>{{ ungroupedReceivedInvoicesTotal | currency }}</strong>
              </td>
              <td colspan="1">&nbsp;</td>
            </tr>
          </tfoot>
        </table>

      </div>
    </div>

    <!-- ungrouped sent invoices -->

    <div ng-if="$state.includes('root.person')" class="panel panel-default card">
      <div class="panel-body">
        <h3>Te ontvangen</h3>

        <table class="table">
          <thead>
            <tr ng-if="ungroupedSentInvoices.length > 0">
              <th>#</th>
              <th>Rit</th>
              <th>Datum</th>
              <th>Van</th>
              <th>Omschrijving</th>
              <th>Totaal</th>
              <th>Actie</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="invoice in ungroupedSentInvoices" ng-if="ungroupedSentInvoices.length > 0">
              <td><a ui-sref="root.invoice2.invoice.edit({ invoiceId: invoice.id })">{{ invoice.id }}</a></td>
              <td><a ui-sref="root.trip.dashboard({ tripId: invoice.booking.id })">{{ invoice.booking.id }}</a></td>
              <td>{{ invoice.date | amDateFormat: 'DD-MM-YY hh:mm'}}</td>
              <td>{{ invoice.recipient | fullname }}</a>
              <td>{{ invoice.description }}</td>
              <td>{{ invoice.total | currency }}</td>
              <td ng-click="removeInvoice(invoice.id)"><i class="fa fa-trash"></i></td>
            </tr>
            <tr ng-if="ungroupedSentInvoices.length === 0">
              <td>Geen factuurregels</td>
            </tr>
          </tbody>
          <tfoot ng-if="ungroupedSentInvoices.length > 0">
            <tr>
              <td colspan="5"><b>Totaal</b></td>
              <td class="text-right">
                <strong>{{ ungroupedSentInvoicesTotal | currency }}</strong>
              </td>
              <td colspan="1">&nbsp;</td>
            </tr>
          </tfoot>
        </table>

      </div>
    </div>

    <!-- Grouping invoices -->
    <div class="text-right">
      <button type="button" class="btn btn-primary" ng-click="createSenderGroup(person.id)">
        Groeperen
      </button>
      <button type="button" class="btn btn-primary" ng-click="payoutInvoices()">
        Groeperen + uitbetalen
      </button>
    </div>

    <!-- Accounts -->

    <div ng-if="$state.includes('root.person')" class="panel panel-default card">
      <div class="panel-body">
        <h3>IBAN-nummers</h3>

        <table class="table">
          <thead>
            <tr>
              <th>Persoon</th>
              <th>Naam</th>
              <th>IBAN-nummer</th>
              <th>Goedgekeurd</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="account in accounts">
              <td>
                <a ui-sref="root.person.show.summary({ personId: account.person.id })">
                  {{ account.person | fullname }}
                </a>
              </td>

              <td>{{ account.lastName }}</td>

              <td>{{ account.iban }}</td>

              <td>
                <span ng-if="account.approved && !$root.isInterswitch">
                  <i class="fa fa-check fa-fw text-success"></i> Goedgekeurd <a href="" ng-click="disapprove(account)" show-if-user-has-role="ROLE_ADMIN">(Afkeuren)</a>
                </span>
                <span ng-if="!account.approved">
                  <i class="fa fa-times fa-fw text-danger"></i> Afgekeurd <a href="" ng-click="approve(account)" show-if-user-has-role="ROLE_ADMIN">(Goedkeuren)</a>
                </span>
              </td>

            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>
