<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card">

            <div class="panel-body">

                <h3>Provider toevoegen</h3>
                <form name="providerInfoDataForm">

                    <div id="provider-details">
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label>Naam</label>
                                <input type="text" ng-model="providerInfo.name" class="form-control" required />
                            </div>

                            <div class="form-group col-md-5">
                                <label>Email</label>
                                <input type="email" ng-model="providerInfo.provider.email" class="form-control" required />
                            </div>


                            <div class="form-group col-md-2">
                                <label>Zakelijk</label>
                                <div class="input-group" style="margin-top: 6px;">
                                    <input type="checkbox" ng-model="providerInfo.provider.business">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Person</label>
                                <input find-person name="person" model="providerInfo.person" class="form-control" required />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Url (kommagescheiden)</label>
                                <input type="text" ng-model="providerInfo.provider.url" class="form-control" required />
                            </div>

                            <div class="form-group col-md-6">
                                <label>Client ids (kommagescheiden)</label>
                                <input type="text" ng-model="providerInfo.clientIds" class="form-control" required />
                            </div>

                        </div>
                    </div>

                    <h3>Contract</h3>
                    <div id="contract-details">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Beschrijving</label>
                                <input ng-model="providerInfo.contract.description" class="form-control" required />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Boekingskosten</label>
                                <input type="number" ng-model="providerInfo.contract.bookingFee" class="form-control" required />
                            </div>

                            <div class="form-group col-md-4">
                                <label>Dagkosten</label>
                                <input type="number" ng-model="providerInfo.contract.dayFee" class="form-control" required />
                            </div>

                            <div class="form-group col-md-4">
                                <label>Abbonementskosten</label>
                                <input type="number" ng-model="providerInfo.contract.subscriptionFee" class="form-control" required />
                            </div>
                        </div>

                        <div class="row">

                            <div class="form-group col-md-3">
                                <label>Invoice Strategy</label>
                                <input type="text" ng-model="providerInfo.contract.invoiceGenerationStrategyName" class="form-control" required />
                            </div>

                            <div class="form-group col-md-3">
                                <label>Booking Strategy</label>
                                <input type="text" ng-model="providerInfo.contract.bookingAlterationStrategyName" class="form-control" required />
                            </div>

                            <div class="form-group col-md-3">
                                <label>Credit Strategy</label>
                                <input type="text" ng-model="providerInfo.contract.creditStrategyName" class="form-control" required />
                            </div>

                            <div class="form-group col-md-3">
                                <label>Own Risk Strategy</label>
                                <input type="text" ng-model="providerInfo.contract.ownRiskWaiver" class="form-control" required />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Maximaal aantal personen</label>
                                <input type="number" ng-model="providerInfo.contract.maxDrivers" class="form-control" required />
                            </div>

                            <div class="form-group col-md-6">
                                <label>Meerdere boekingen</label>
                                <div class="input-group" style="margin-top: 6px;">
                                    <input type="checkbox" ng-model="providerInfo.contract.multiBooking">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" ng-click="save()" ng-disabled="isSaveDisabled()">Opslaan</button>
                        <button type="button" class="btn btn-default pull-right" ng-click="goToListPage()" >Terug naar providers</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
