<div class="row">

    <div class="col-md-2">
        <div class="panel panel-default card">
            <div class="panel-body">
                <form class="form">
                    <button class="btn btn-primary" ng-click="goToCreatePage()">Add Fine</button>
                </form>
            </div>
        </div>
        <div class="panel panel-default card">
            <div class="panel-body">
                <h3>Filter</h3>
                <form class="form">
                    <div class="form-group">
                        <label for="person">Person</label>
                        <input type="number" id="person" class="form-control" ng-model="obj.person"
                               placeholder="Person ID">
                    </div>

                    <div class="form-group">
                        <label for="resource">Resource</label>
                        <input type="number" id="resource" class="form-control" ng-model="obj.resource"
                               placeholder="Resource ID">
                    </div>

                    <div class="form-group">
                        <label for="start">Start</label>
                        <input type="text" id="start" placeholder="pick a date" class="form-control pickadate-input"
                               pickadate="dateConfig" ng-model="obj.start">
                    </div>

                    <div class="form-group">
                        <label for="start">End</label>
                        <input type="text" id="end" placeholder="pick a date" class="form-control pickadate-input"
                               pickadate="dateConfig" ng-model="obj.end">
                    </div>
                    <button class="btn btn-primary" ng-click="refresh()">Refresh</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-10">
        <div class="panel panel-default card">
            <div class="panel-body">
                <h3>Fines</h3>
                <div ng-if="fineLog.length > 0">
                    <button class="btn" ng-click="prevPage()" ng-disabled="curPage == 1"> &lt;</button>
                    <p class="btn"> {{curPage}} </p>
                    <button class="btn" ng-click="nextPage()" ng-disabled="curPage >= lastPage"> &gt;</button>

                </div>

                <div ng-if="fineLog.length === 0" class="alert alert-danger">No fines found.</div>
                <table class="table" ng-if="fineLog.length > 0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Person</th>
                        <th>Booking</th>
                        <th>Organization</th>
                        <th>fineAt</th>
                        <th>createdAt</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="log in fineLog">
                        <td>{{ log.id }}</td>
                        <td>
                            <a ui-sref="root.person.show.summary({ personId: log.person.id })">
                                {{ log.person.firstName }}
                            </a>
                        </td>
                        <td>
                            <a ui-sref="root.trip.dashboard({tripId: log.booking.id})">
                                {{ log.booking.id }}
                            </a>
                        </td>
                        <td>{{ log.organization }}</td>
                        <td>{{ log.fineAt }}</td>
                        <td>{{ log.createdAt }}</td>
                        <td>
                            <button type="button" class="btn btn-primary" ng-click="viewLog(log)"><i
                                    class="fa fa-eye"></i> view
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
