@color-trip:     #3db971;   
@color-driver:   #e4c274;  
@color-resource: #e84545;  
@color-owner:    #6a81d4; 

.row--padding-top {
  padding-top: 1em;
}

.row--small-font {
  font-size: .85em;
}

.row--hoverable:hover {
  background: #efefef;
}

.row--invoice-heading {
  font-size: 0.9em;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
  margin-bottom: 0.4em;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.row--invoice-line {
  padding: 0.1em 0;
}

.row--no-margin {
  margin-left: 0;
  margin-right: 0;
}

.fa--muted {
  color: #dedede;
}

.neg, .warn {
  color: red;
}

.number {
  font-family: monospace;
}

.box {
  background-color: white;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  &--small {
    min-height: 1em;
  }

  &--min-height {
    min-height: 22em;
  }
}

.box__content {
  padding-bottom: 1em;
}

.box__link {
  color: white;

  &:hover {
    color: #eee;
  }
}

.box__title {
  display: block;
  width: 100%;
  padding: 0.5em;

  & > h3 {
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  small {
    font-size: 1.0em;
    color: #eee;

    & > i {
      color: white;
    }
  }

  &--trip {
    background-color: @color-trip;
  }

  &--driver {
    background-color: @color-driver;
  }

  &--resource {
    background-color: @color-resource;
  }

  &--owner {
    background-color: @color-owner;
  }

  &--remarks {
    background-color: @chatcolor;
  }
}

.box__row {
  &:first-child {
    padding-top: 0.5em;
  }

  font-size: 0.9em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;

  &--hover:hover {
    background: #eceaea;
  }
}

.box__divider {
  height: 1px; 
  background: #ebebeb;
  float: left;
  width: 94%;
  margin-left:3%;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.box__sdata {
  font-size: 0.9em;
  white-space: nowrap;

  &--whole-row {
    padding-left: 0.5em;
  }

  &--green {
    color: green;
  }
  
  &--red {
    color: red;
  }

  &--image {
    padding-bottom: 1em;
    width: 100%;
  }
}

.box__slabel {
  padding-left: 0.5em;
  white-space: nowrap;
}

.quickaction {
  position: fixed;
  left: 0px;
  top: 70px;

  &__toggler--hidden {
    outline: none;
    color: #333;
    width: 50px;
    display: block;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 10px;
  }
  
  ul > li {
    padding: 0;
    margin: 5px 0;
    border-radius: 8%;
    display: block;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    width: 90px;
    height: 50px;
    outline: none;
  }
  
  ul > li:first-child {
    margin-top: 0;
  }

  ul > li > span {
    line-height: 50px;
    text-align: center;
    display: block;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    outline: none;
  }

  &__item--trip {
    background: desaturate(@color-trip, 15);
    border: 1px solid darken(@color-trip, 5);
  }
  &__item--trip:hover {
    background: @color-trip;
  }
  &__item--driver {
    background: desaturate(@color-driver, 15);
    border: 1px solid darken(@color-driver, 5);
  }
  &__item--driver:hover {
    background: @color-driver;
  }
  &__item--resource {
    background: desaturate(@color-resource, 15);
    border: 1px solid darken(@color-resource, 5);
  }
  &__item--resource:hover {
    background: @color-resource;
  }
  &__item--owner {
    background: desaturate(@color-owner, 15);
    border: 1px solid darken(@color-owner, 5);
  }
  &__item--owner:hover {
    background: @color-owner;
  }
}

.relcon {
  position: relative;
}

@chatcolor: #ce5d5d;
.chat {
  bottom: 0;
  position: fixed;

  &__form {
    background-color: @chatcolor;
    padding-bottom: 14px;
    padding-top: 14px;
    margin-top: 1em;
    width: 100%;
  }

  &__button {
    background-color: @chatcolor;
    border-radius: 1px;
    border: 1px solid white;
    color: white;
    height: 30px;
    margin: 0;
    padding: 4px 8px;
    border-left: none;
    display: block;
    float: left;

    &--active, &:disabled, &[disbled] {
      background-color: darken(@chatcolor, 15);
    }

    &:focus {
      outline: none;
    }

  }

  &__inp-buttons {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__message-inp {
    border-radius: 1px;
    border: 1px solid transparent;
    color: #333;
    margin: 0;
    padding: 4px 310px 4px 4px;
    width: 100%;

    &:focus {
      border: 1px solid white;
      outline-color: lighten(@chatcolor, 15);
      outline-offset: 2px;
    }
  }
}

.remark {
  padding-top: 0.3em;
  padding-bottom: 0.3em;

  &:nth-child(even) {
    background-color: #f2f2f2;
  }

  &:nth-child(odd) {
    background-color: #f9f9f9;
  }

  &__date {
    display: block;
  }

  &__person {
    display: block;
    padding-left: .4em;

    &--system {
      text-align: right;
      color: #888;
    }
  }

  &__message {
    display: block;
    min-height: 3em;
    border-left: 1px solid #444;
    padding-left: 1em;
    padding-right: 1em;

    &--system {
      color: #888;
    }
  }

  &__follow-up {
    border-left: 1px solid #444;
    min-height: 3em;
  }

}

table.table-invoicegroup tr.category > td { font-size: 2.0em; padding-left: 0; padding-top: 1em; border-top: none; }
table.table-invoicegroup tr.heading > td { font-size: 0.8em; font-weight: bold; padding: 20px 0 10px 10px; width: 10%; }
table.table-invoicegroup tr.heading > td:first-child { font-size: 1em; padding-left: 0px; width: auto; }
table.table-invoicegroup tr.booking > td {border-top: none; font-size: 1.0em; padding-left: 0; padding-top: 30px; font-weight: bold; }
table.table-invoicegroup tr.heading + tr.booking > td { padding-top: 10px; }

table.table-invoicegroup tr.invoiceline > td:first-child { padding-left: 25px; }
table.table-invoicegroup tr.invoiceline.remarks > td { border-bottom: 0; padding-bottom: 20px; }
table.table-invoicegroup tr.total > td { padding: 30px 0 10px 0; font-size: 1.3em; border-top: none;}
table.table-invoicegroup tr.subtotal > td { font-size: 1.1em; font-weight: bold; border-top-width: 2px;}

.money {
  text-align: right;
}

.notice {
  color: white;
  padding: .4em;
  padding-right: 2em;
  position: relative;

  &--single-line {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }


  &--owner {
    background-color: @color-owner;
  }

  &--driver {
    background-color: @color-driver;
  }
}
