<h3>Payouts</h3>
<table class="table">
    <thead>
        <tr>
            <th>Payout ID</th>
            <th>Created</th>
            <th>Invoice group</th>
            <th>Voucher</th>
            <th>Amount</th>
            <th>Paid</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="payout in payouts">
            <td>{{ payout.id}}</td>
            <td>{{ payout.created | amDateFormat : 'DD-MM-YY' }}</td>
            <td><a ui-sref="root.invoice2.invoiceGroup.show({ invoiceGroupId: payout.invoiceGroup.id })">{{ payout.invoiceGroup.id}}</a></td>
            <td><a ui-sref="root.person.show.vouchers({ personId: payout.person.id })">{{ payout.voucher.id}}</a></td>
            <td class="text-right">
                <b>{{ (-1 * payout.paymentInstruction.amount) | currency}}</b>
            </td>

            <td ng-if="payout.paid">{{ payout.paid | amDateFormat : 'DD-MM-YY HH:MM' }}</td>

            <td ng-if="!payout.paid">
                <a ng-click="processPayout(payout)">Payout now</a><br/>
                <a ng-click="deletePayout(payout)">Delete</a><br/>
            </td>

        </tr>
    </tbody>
</table>
