<div infinite-scroll='moreData()' infinite-scroll-distance='1'>
    <table class="table table-striped">
      <tr>
        <th>rit nr</th>
        <th>begin</th>
        <th>eind</th>
        <th>begin odo</th>
        <th>gereden km's</th>
        <th>eind odo</th>
      </tr>
      <tr ng-repeat="elm in records">
          <td>{{elm.bookingId}} <a ng-click="showEditPopup(elm)"><i class="fa fa-pencil"></i></a></td>
          <td>{{elm.startDatetime}} </td>
          <td>{{elm.endDatetime}} </td>
          <td>{{elm.startOdometer}} </td>
          <td>{{elm.drivenKms}} </td>
          <td>{{elm.endOdometer}} </td>
      </tr>
    </table>
</div>