<div class="pull-right">
  <form name="form" class="form-inline">
    <label>Create a voucher (€)</label>
    <div class="form-group">
      <input type="number" class="form-control" ng-model="voucherValue" required min="1" max="100" />
    </div>
    <button type="button" class="btn btn-default" ng-disabled="!voucherValue" ng-click="createVoucher(voucherValue)">
      Ok
    </button>
  </form>
</div>

<h4>Vouchers</h4>

<dl class="dl-horizontal">
  <dt>Credit</dt>
  <dd>{{ credit.error.message || (credit.value | currency) }}</dd>

  <dt>Debt</dt>
  <dd>{{ debt.error.message || (debt.value | currency) }}</dd>

  <dt>Required value</dt>
  <dd>
    {{ requiredValue.error.message || (requiredValue.value.voucher | currency) }}
    &nbsp;<a href="" ng-click="showRequiredValueDetails(requiredValue.value)">show details popup</a> |
    <a href="" ng-click="recalculate()">recalculate</a>
  </dd>

  <dt>Number of vouchers</dt>
  <dd>{{ vouchers.length }}</dd>
</dl>

<table class="table">
  <thead>
    <tr>
      <th>Created</th>
      <th>Current value</th>
      <th>Initial value</th>
      <th>Paid</th>
      <th>ID</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="voucher in vouchers">
      <td>{{ voucher.created | amDateFormat : 'DD-MM-YY' }}</td>
      <td><b>{{ voucher.currency }} {{ voucher.value }}</b></td>
      <td>{{ voucher.currency }} {{ voucher.initialValue }}</td>
      <td>{{ voucher.paid | amDateFormat : 'DD-MM-YY HH:MM' }}</td>
      <td>{{ voucher.id }}</td>
      <td ng-if="!voucher.payments.length">
        <button class="btn btn-default btn-xs" ng-click="deleteVoucher(voucher)">
          <i class="fa fa-trash-o fa-lg"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
