<div class="row">
  <div class="col-md-4">
    <h5><strong>Auto</strong></h5>
    <table class="table table-condensed">
      <tbody>
        <tr ng-if="user.identity.provider.id === 5">
          <td>Eigenaar</td>
          <td><a ui-sref="root.person.show.summary({ personId: resource.owner.id })">{{ resource.owner | fullname }}</a></td>
        </tr>
        <tr ng-if="user.identity.provider.id !== 5">
          <td>Beheerder</td>
          <td><a ui-sref="root.person.show.summary({ personId: resource.contactPerson.id })">{{ resource.contactPerson | fullname }}</a></td>
        </tr>
        <tr>
          <td>Brandstof</td>
          <td>{{ resource.fuelType }}</td>
        </tr>
        <tr>
          <td>Tankcode</td>
          <td>{{ resource.fuelCardCode }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
  <h5><strong>Beschikbaarheid</strong></h5>
    <table class="table table-condensed">
      <tbody>
        <tr ng-class="{ 'text-danger': !resource.isActive }">
          <td>Beschikbaar</td>
          <td>{{ resource.isActive ? 'Ja' : 'Nee' }}</td>
        </tr>
        <tr ng-class="{ 'text-danger': !resource.isAvailableOthers }">
          <td>Beschikbaar voor anderen</td>
          <td>{{ resource.isAvailableOthers ? 'Ja' : 'Nee' }} {{ resource.isConfirmationRequiredOthers ? 'handmatig accepteren' : '' }}</td>
        </tr>
        <tr ng-class="{ 'text-danger': !resource.isAvailableFriends }">
          <td>Beschikbaar voor vrienden</td>
            <td>{{ resource.isAvailableFriends ? 'Ja' : 'Nee' }} {{ resource.isConfirmationRequiredFriends ? 'handmatig accepted' : ''}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <h5><strong>Prijs</strong></h5>
    <table class="table table-condensed">
      <tbody>
        <tr>
          <td>Per dag</td>
          <td>{{ resource.dayRateTotal | currency }}</td>
        </tr>
        <tr>
          <td>Per uur</td>
          <td>{{ resource.hourRate | currency }}</td>
        </tr>
        <tr>
          <td>Per kilometer</td>
          <td>{{ resource.kilometerRate | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h5><strong>Onderhoudsgarage</strong></h5>
    <table class="table table-condensed" ng-if="resource.garage">
      <tbody>
        <tr>
          <td>{{ resource.garage.name }}</td>
        </tr>
        <tr>
          <td>{{ resource.garage.address }}</td>
        </tr>
        <tr>
          <td>{{ resource.garage.email }}</td>
        </tr>
        <tr>
          <td>{{ resource.garage.number }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <h5><strong>Schadehersteller</strong></h5>
    <table class="table table-condensed" ng-if="resource.garageRepair">
      <tbody>
        <tr>
          <td>{{ resource.garageRepair.name }}</td>
        </tr>
        <tr>
          <td>{{ resource.garageRepair.address }}</td>
        </tr>
        <tr>
          <td>{{ resource.garageRepair.email }}</td>
        </tr>
        <tr>
          <td>{{ resource.garageRepair.number }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <h5><strong>Leasemaatschappij</strong></h5>
    <table class="table table-condensed" ng-if="resource.garageLease">
      <tbody>
        <tr>
          <td>{{ resource.garageLease.name }}</td>
        </tr>
        <tr>
          <td>{{ resource.garageLease.address }}</td>
        </tr>
        <tr>
          <td>{{ resource.garageLease.email }}</td>
        </tr>
        <tr>
          <td>{{ resource.garageLease.number }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>