<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>Datum</th>
    <th>Telefoonnummer</th>
    <th>Persoon</th>
    <th>Opgenomen door</th>
    <th>Opmerking</th>
  </tr>
  </thead>
  <tbody>
    <tr ng-repeat="call in calls">

      <td><i class="fa fa-phone fa-2x text-muted"></i></td>
      <td>{{ call.sDate | amDateFormat:'DD-MM-YYYY HH:mm' }}</td>
      <td>{{ call.sNumber || 'Unknown' }}</td>
      <td>
        {{ call.call_id }}

        <span ng-if="call.aPeople.length > 1">

          <ul ng-if="call.aPeople">
             <li ng-repeat="oPerson in call.aPeople">
               <a ng-click="checkOutPerson(call, oPerson)">{{ oPerson | fullname }}</a>
             </li>
          </ul>

          <span ng-if="call.oAssignedPerson">
            Geklikt op (eerste klik):
            <a ng-click="checkOutPerson(call, call.oAssignedPerson)">{{ call.oAssignedPerson | fullname }}</a>
          </span>

        </span>

        <span ng-if="call.aPeople.length === 1"><a ng-click="checkOutPerson(call, call.aPeople[0])">{{ call.aPeople[0] | fullname }}</a></span>
        <span ng-if="call.aPeople.length < 1">Niet gevonden</span>

      </td>
      <td><span ng-if="call.oAdmin">{{ call.oAdmin | fullname }}</span></td>
      <td>
        <span ng-if="call.sRemark">
            <span ng-if="call.sRemark.length > 20" tooltip-placement="bottom" uib-tooltip="{{ call.sRemark }}">
              {{ call.sRemark.substring(0,20) }}...
            </span>
            <span ng-if="call.sRemark.length <= 20">{{ call.sRemark }}</span>
          (<a ng-click="editCall(call)">Wijzig</a>)
        </span>
        <span ng-if="!call.sRemark">(<a ng-click="editCall(call)">Toevoegen</a>)</span>
      </td>

    </tr>
  </tbody>
</table>