<article class="panel panel-default card" ng-if="show()" >
<table class="table table-condensed table-hover">
    <caption> <h4>{{result.title}} 
            <small>totaal:{{result.total}}
                <a class="btn btn-default btn-xs" ui-sref="root.querytool.execute({query:result.id})"><i class="fa fa-cog" aria-hidden="true"></i></a>
            </small>
        </h4> </caption>
    <thead>
        <tr>
            <th ng-repeat="key in result.column">{{key}}</th>
            <td class="snooze"> </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in result.result" class="{{row._class}}">
            <td ng-repeat="key in result.column"> 
                <span ng-if="!row[key].link">{{row[key].value}}</span> 
                <a ng-if="row[key].link" href="" ng-click="execute(row[key])">
                    {{row[key].value}}
                </a> 
            </td>
            <td> 
                <a ng-click="snooze(result.id, row._key, row)" class="btn btn-warning btn-xs btn-round-hover">
                    <i class="fa fa-clock-o" aria-hidden="true"></i></a>
                <a ng-click="done(result.id, row._key, row)" class="btn btn-success btn-xs btn-round-hover">
                    <i class="fa fa-check" aria-hidden="true"></i> </a>
            </td>
        </tr>
    </tbody>
</table>
</article>
