<div class="modal-content">
    <form name="chipcardCreateEditForm" ng-submit="save(chipcard)">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="dismiss()">&times;</button>
            <h4 class="modal-title" ng-hide="chipcard.insertedOn">Chipkaart toevoegen voor {{person | fullname}}</h4>
            <h4 class="modal-title" ng-show="chipcard.insertedOn">Chipkaart wijzigen voor {{person | fullname}}</h4>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <label for="mifareUid">Mifare UID</label>
                <input type="text" class="form-control" ng-disabled="chipcard.insertedOn" name="mifareUid" id="mifareUid" ng-model="chipcard.mifareUid">
            </div>

            <div class="form-group">
                <label for="mifareUidHEX">Mifare UID HEX</label>
                <input type="text" class="form-control" ng-disabled="chipcard.insertedOn" hex-input name="mifareUidHEX" id="mifareUidHEX" ng-model="chipcard.mifareUid">
            </div>

            <div class="form-group">
                <label for="description">Omschrijving</label>
                <input class="form-control" name="description" id="description" ng-model="chipcard.description">
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="dismiss()">Annuleer</button>
            <button type="submit" class="btn btn-primary">Toevoegen</button>
        </div>
    </form>
</div>
