<div class="panel panel-default card">
  <div class="panel-body">
    <h3 style="padding-bottom:20px;">Inkomende telefoongesprekken</h3>

    <div ng-if="alertText" style="padding-top:20px;padding-bottom:30px;border-bottom:1px solid #ccc;border-top:1px solid #ccc;">
    	<h4 style="color:red;"><strong>Nieuwsberichten voor Interswitch!</strong></h4>
    	<span style="font-size:16px;white-space: pre-line;" ng-if="limit === limitLow">{{alertText | limitTo:limit}}...</span>
      <span style="font-size:16px;white-space: pre-line;" ng-if="limit === limitHigh">{{alertText | limitTo:limit}}</span>
      <br><br>
      <a ng-click="readMoreToggle()" style="font-size:16px;" ng-if="limit === limitLow">Bekijk alle nieuwsberichten</a>
      <a ng-click="readMoreToggle()" style="font-size:16px;" ng-if="limit === limitHigh">Bekijk minder nieuwsberichten</a>
      <!-- - <a ng-click="askQuestion(24889)" style="font-size:16px;">Stel een vraag aan MyWheels</a> -->
    </div>

    <p style="padding-top:30px;">
      Alle telefoongesprekken in de laatste 25 minuten. Bekijk <a ui-sref="phoneLog.history">alle telefoongesprekken van vandaag</a>.
    </p>

    <phone-call-table></phone-call-table>

  </div>
</div>
