<md-dialog flex="50" flex-sm="70">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Schade {{ damage.id }} wijzigen</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content layout-padding>
    <div layout="column" layout-margin class="md-dialog-content">

      <form name="addDamage">

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Schadedatum</label>
            <md-datepicker ng-change="change(newDamageDate)" ng-model="damage.damageDate" md-placeholder="Kies een datum"></md-datepicker>
          </md-input-container>

          <div class="md-block" flex-gt-sm>
            <span layout="row">
              <span flex="50"><strong>Auto:</strong></span>
              <span flex="50">{{ resource.alias }}</span>
            </span>
            <span layout="row" ng-if="damage.person">
              <span flex="50"><strong>Huurder:</strong></span>
              <span flex="50">{{ damage.person | fullname }}</span>
            </span>
            <span layout="row" ng-if="contract.contractor.id !== damage.person.id && damage.person">
              <span flex="50"><strong>Contractant:</strong></span>
              <span flex="50">{{ contract.contractor | fullname }}</span>
            </span>
            <span layout="row" ng-if="booking">
              <span flex="50"><strong>Eigen risico:</strong></span>
              <span flex="50">{{ (booking.riskReduction || contract.ownRiskWaiver !== 'not') ? '250 euro (verlaagd)' : '500 euro (niet verlaagd)' }}</span>
            </span>
            <span layout="row" ng-if="age">
              <span flex="50"><strong>Leeftijd:</strong></span>
              <span flex="50">{{ age }}</span>
            </span>
            <span layout="row">
              <span flex="50"><strong>Toestemmingscode:</strong></span>
              <span flex="50">{{ damage.authorizationCode }}</span>
            </span>
            <span layout="row">
              <span flex="40"><strong>Garage name:</strong></span>
              <span flex="60">{{ maintenance.garage.name }}</span>
            </span>
            <span layout="row">
              <span flex="40"><strong>Garage address:</strong></span>
              <span flex="60">{{ maintenance.garage.address }}</span>
            </span>
            <span layout="row">
              <span flex="40"><strong>Garage email:</strong></span>
              <span flex="60">{{ maintenance.garage.email }}</span>
            </span>
            <span layout="row">
              <span flex="40"><strong>Garage phone:</strong></span>
              <span flex="60">{{ maintenance.garage.number }}</span>
            </span>
          </div>
        </div>

        <br>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Type schade</label>
            <md-select ng-model="damage.type">
              <md-option ng-repeat="damage in damageTypes" value="{{damage.value}}">
                {{damage.label}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Kilometerstand</label>
            <input ng-model="damage.odo" type="number">
          </md-input-container>
        </div>

        <md-input-container class="md-block">
          <label>Garage</label>
          <input type="text" id="garage" class="typeahead" placeholder="Zoek garage"
           ng-model="damage.garage"
           uib-typeahead="garage as ('<p>' + garage.name + ' [' + garage.id + ']' + '<br><small>' + garage.address + '</p>') for garage in searchGarages($viewValue)"
           typeahead-min-length="3" typeahead-input-formatter="formatGarage($model)">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Ticketnummers</label>
          <textarea ng-model="damage.ticketNumbers" rows="1" md-select-on-focus></textarea>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Omschrijving</label>
          <textarea ng-model="damage.description" rows="3" md-select-on-focus></textarea>
        </md-input-container>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Eigen risico betaald door huurder</label>
            <input ng-model="damage.ownRiskAmountPerson">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Eigen risico betaald door MyWheels</label>
            <input ng-model="damage.ownRiskAmountMyWheels">
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Schadebedrag MyWheels (excl. btw)</label>
            <input ng-model="damage.amountAgreed">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Schadebedrag op factuur (excl. btw)</label>
            <input ng-model="damage.amountInvoice">
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Schade betaald door</label>
            <md-select ng-model="damage.paidBy">
              <md-option ng-repeat="paidBy in paidByOptions" value="{{paidBy.value}}">
                {{paidBy.label}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>

        <br>

        <div layout-gt-sm="row">
          <md-checkbox ng-model="damage.finalized" aria-label="Schade afgehandeld?" class="md-block" flex-gt-sm>
            Schade afgehandeld?
          </md-checkbox>
        </div>

        <br>

        <span class="md-headline">Bijlages ({{damage.files.length}})</span>
        <br><br>
        <div ng-repeat="file in currentFiles">
          <a ng-href="{{ file.url }}" target="_blank"><i class="fa fa-external-link"></i> {{ file.originalName }}</a>
        </div>
        
        <br>

        <span class="md-headline">Bijlage(s) toevoegen</span>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <input type="file" name="files[]" file-upload multiple aria-label="Upload bestanden" />
            <div class="hint">Bijvoorbeeld schadeformulieren, foto's of facturen. Maximaal 10 bestanden per schade.</div>
          </md-input-container>
        </div>

      </form>
    </div>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="cancel()">
     Annuleren
    </md-button>
    <md-button class="md-primary md-raised" ng-click="save()">
      Versturen
    </md-button>
  </md-dialog-actions>
</md-dialog>
