<div class="modal-content">
  <form name="bookingCreateForm" ng-submit="save(booking)">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="dismiss()">&times;</button>
      <h4 class="modal-title">Maak boeking</h4>
    </div>

    <div class="modal-body">
      <div class="form-group">
        <label>Auto</label>
        {{booking.resource.alias}} ({{booking.resource.id}})
        <button ng-if="booking.person.id" class="btn" ng-click="findResource(booking.person)">Auto opzoeken</button>
      </div>

      <div class="form-group">
        <label for="person">Persoon</label>
        <input find-person model="booking.person" id="person" name="person" onselect="onSelectPerson(person)"/>
      </div>

      <div class="form-group">
        <label for="contract">Contract</label>
        <select class="form-control" id="contract" ng-model="booking.contract.id"
                ng-options="contract.id as ( ( contract.contractor | fullname ) + ' - ' + contract.type.name ) for contract in driverContracts"></select>
      </div>

      <div class="form-group">
        <label for="beginBooking">Begindatum en tijd</label>
        <button type="button" class="btn btn-warning btn-xs" ng-click="setTimeframe(0)">nu</button>

        <div class="row">
          <div class="col-xs-7">
            <input type="text" placeholder="pick a date" class="form-control pickadate-input"
                   ng-model="booking.beginBooking" pickadate="dateConfig" ng-change="onBeginDateChange()">
          </div>
          <div class="col-xs-5">
            <input type="text" placeholder="pick a time" class="form-control pickadate-input"
                   ng-model="booking.beginBooking" pickatime="timeConfig">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="endBooking">Einddatum en tijd</label>

        <div class="row">
          <div class="col-xs-7">
            <input type="text" placeholder="pick a date" class="form-control pickadate-input"
                   ng-model="booking.endBooking" pickadate="dateConfig" ng-change="onEndDateChange()">
          </div>
          <div class="col-xs-5">
            <input type="text" placeholder="pick a time" class="form-control pickadate-input"
                   ng-model="booking.endBooking" pickatime="timeConfig">
          </div>
        </div>
      </div>

      <div class="form-group">

        <label for="remark">Opmerking voor eigenaar</label>
        <textarea id="remark" name="remark" class="form-control" ng-model="booking.remark" placeholder="Remark"></textarea>
      </div>

      <div class="checkbox">
        <label for="riskReduction"><input id="riskReduction" type="checkbox" ng-model="booking.riskReduction"> Verlaag eigen risico</label>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="dismiss()">Annuleer</button>
      <button type="submit" class="btn btn-primary">Maak boeking</button>
    </div>
  </form>
</div>
