<table class="table table-striped">
  <tr>
    <th>Attempt</th>
    <th>Booking version</th>
    <th>Message path</th>
    <th>Error</th>
    <th>Sent</th>
    <th>Ack</th>    
  </tr>
  <tr ng-repeat="state in states">
    <td>{{state.attempt}}</td>
    <td>{{state.bookingVersion}}</td>
    <td>
      <span ng-if="state.messagePath === 1">
        Us to car
      </span>
      <span ng-if="state.messagePath === 2">
        CCOM to car
      </span>
    </td>
    <td>{{state.error}}</td>
    <td>{{state.sent}}</td>
    <td>
      {{state.ack}}
      <span ng-if="!state.ack" class="text-danger">
        No ack!
      </span>
    </td>
  </tr>
</table>
