<h4>{{ person | fullname }}
  <small>{{ person.male ? "man" : "vrouw"}}</small>
</h4>
<div class="alert alert-warning" ng-show="warnings.total()">

  <div ng-show="warnings.personal">
    <strong>{{ warnings.total() }} meldingen</strong> bij <a ui-sref="^.data.personal">persoonsgegevens/a>
    <ul>
      <li ng-repeat="warning in warnings.personal">
        {{ warning.message }}
      </li>
    </ul>
  </div>

  <div ng-show="warnings.mywheels">
    <strong>{{ warnings.total() }} meldingen</strong> bij <a ui-sref="^.data.mywheels">profiel</a>
    <ul>
      <li ng-repeat="warning in warnings.mywheels">
        {{ warning.message }}
      </li>
    </ul>
  </div>

  <div ng-show="warnings.contact">
    <strong>{{ warnings.total() }} meldingen</strong> bij <a ui-sref="^.data.contact">contactgegevens</a>
    <ul>
      <li ng-repeat="warning in warnings.contact">
        {{ warning.message }}
      </li>
    </ul>
  </div>

  <div ng-show="warnings.phone">
    <strong>{{ warnings.total() }} meldingen</strong> bij <a ui-sref="^.data.phones">telefoonnummers</a>
    <ul>
      <li ng-repeat="warning in warnings.phone">
        {{ warning.message }}
      </li>
    </ul>
  </div>
</div>


<ul class="fa-ul">
  <li>
    <i class="fa fa-li fa-calendar"></i>
    {{ person.dateOfBirth | amDateFormat:'DD-MM-YYYY' }}
  </li>
  <li>
    <i class="fa fa-li fa-home"></i>
    {{ person.streetName }} {{ person.streetNumber }}, {{ person.city }}
  </li>
  <li>
    <a href="mailto:{{person.email}}" target="_BLANK"><i class="fa fa-li fa-envelope"></i></a>
    <i
      ng-class="{ 'fa fa-eye-slash text-muted': person.isEmailConfidential, 'fa fa-eye text-muted': !person.isEmailConfidential }"></i>
    {{ person.email }}
  </li>
  <li ng-repeat="phone in person.phoneNumbers">
    <a href="tel:{{phone.number}}"><i class="fa fa-li fa-phone"></i></a>
    <i
      ng-class="{ 'fa fa-eye-slash mute text-muted': phone.confidential, 'fa fa-eye mute text-muted': !phone.confidential }"></i>
    {{ phone.number }}
  </li>
</ul>

<div class="alert alert-info" ng-hide="bookings.length > 0">
  Geen ritten gevonden.
</div>
<table class="table table-hover" ng-show="bookings.length > 0">
  <thead>
    <tr>
      <th>Ritnummer</th>
      <th>Status</th>
      <th colspan="2">Tijdframe</th>
      <th>Begin trip</th>
      <th>Auto</th>
      <th>Betaald</th>
    </tr>
  </thead>
  <tbody>
    <tr 
      ng-class="{
        danger: ['cancelled', 'owner_cancelled'].indexOf(booking.status) >= 0, 
        warning: booking.status === 'rejected', 
        success: booking.beginBooking < now && booking.endBooking > now
      }" 
      ng-repeat="booking in bookings | orderBy: ['-beginBooking','-beginRequested']"
    >
      <td>
        <a ui-sref="root.trip.dashboard({ tripId: booking.id })">#{{ booking.id }}</a>
      </td>
      <td>{{ booking.status }}</td>
      <td colspan="2">
        <booking-date ng-if="booking.beginBooking" booking="booking"></booking-date>
        <booking-date ng-if="booking.beginRequested && !booking.beginBooking" booking="booking" type="requested"></booking-date>
      </td>
      <td>{{ booking.trip.begin | amDateFormat:'DD-MM HH:mm' }}</td>
      <td>
        <a ui-sref="root.resource.show.trip({ resourceId: booking.resource.id })">{{ booking.resource.alias }}</a>
      </td>
      <td>
        <span>{{ booking.approved }}</span>
      </td>
    </tr>
  </tbody>
</table>
