<div class="row">
  <div class="col-xs-3">
    &nbsp;
  </div>

  <div class="col-xs-9">
    <div class="panel panel-default card">

      <div class="panel-body" ng-if="!finished">

        <h3 ng-if="invoice.id">Edit invoice</h3>
        <h3 ng-if="!invoice.id">Create invoice</h3>

        <form name="form">
          <div class="row">
            <div class="form-group col-xs-6">
              <button type="button" ng-click="swapSenderRecipient()" class="btn-link" style="float: right"><i class="fa fa-exchange"></i></button>
              <label>Sender (owner)</label>
              <input find-person name="sender" model="invoice.sender" class="form-control" class="error" />
            </div>

            <div class="form-group col-xs-6">
              <label>Recipient (renter)</label>
              <input find-person name="recipient" model="invoice.recipient" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label>Invoice type</label>
            <select ng-model="invoice.type" ng-options="item.value as item.label for item in typeOptions" class="form-control" required>
              <option value="">Select...</option>
            </select>
          </div>

          <div class="form-group">
            <label>Description</label>
            <input ng-model="invoice.description" class="form-control" required />
          </div>

          <div class="row">
            <div class="form-group col-xs-4">
              <label>Quantity</label>
              <input ng-model="invoice.quantity" type="number" class="form-control" required />
            </div>

            <div class="form-group col-xs-4">
              <label>Price</label>
              <div class="input-group">
                <span class="input-group-addon">€</span>
                <input ng-model="invoice.price" type="number" class="form-control" required />
              </div>
            </div>

            <div class="form-group col-xs-4">
              <label>Tax rate</label>
              <select ng-model="invoice.taxRate" ng-options="item.value as item.label for item in taxRateOptions" class="form-control" required>
                <option value="">Select...</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label>Booking id (optional)</label>
            <input ng-model="invoice.booking" class="form-control" integer />
          </div>

          <div class="form-group" ng-if="invoice.sender.id && invoice.recipient.id && invoice.price && invoice.quantity">
            <label>Controle</label>
            <p ng-if="invoice.quantity * invoice.price >= 0" ><em>{{invoice.recipient.firstName + ' ' + invoice.recipient.surname}}</em> moet <strong>{{invoice.quantity * invoice.price | currency}}</strong> betalen  aan <em>{{invoice.sender.firstName + ' ' + invoice.sender.surname}}</em></p>
            <p ng-if="invoice.quantity * invoice.price < 0" ><em>{{invoice.recipient.firstName + ' ' + invoice.recipient.surname}}</em> moet <strong>{{-1 * invoice.quantity * invoice.price | currency}}</strong> ontvangen van <em>{{invoice.sender.firstName + ' ' + invoice.sender.surname}}</em></p>
            <button ng-click="save(invoice)" class="btn btn-primary">Correct</button>
          </div>

        </form>


      </div>
    </div>
  </div>
</div>
