<form name="editResourceForm">
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="owner">Eigenaar</label>
      <input type="text" find-person id="owner" model="resource.owner" placeholder="Zoek persoon" />
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="contactPerson">Beheerder</label>
      <input type="text" find-person id="contactPerson" model="resource.contactPerson" placeholder="Zoek persoon" />
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="providerId">Provider</label>
            <input type="number" id="provider.id" class="form-control" ng-model="resource.provider.id"
                    name="providerId"></select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="fleet">Vloot</label>
            <select id="fleet" class="form-control" ng-model="resource.fleet.id"
                    ng-options="o.id as o.name for o in fleetOptions"></select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="registrationPlate">Kenteken</label>
            <input type="text" id="registrationPlate" name="registrationPlate" class="form-control"
                   ng-model="resource.registrationPlate" required placeholder="Kenteken" ng-disbaled>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="alias">Naam</label>
            <input type="text" id="alias" name="alias" class="form-control" ng-model="resource.alias" required
                   placeholder="Naam van de auto">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="brand">Merk</label>
            <input type="text" id="brand" name="brand" class="form-control" ng-model="resource.brand"
                   placeholder="Merk">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="model">Model</label>
            <input type="text" id="model" name="model" class="form-control" ng-model="resource.model"
                   placeholder="model">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="color">Kleur</label>
            <input type="text" id="color" name="color" class="form-control" ng-model="resource.color"
                   placeholder="Kleur">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="model">Aantal zitplaatsen</label>
            <select id="numberOfSeats" name="numberOfSeats" class="form-control" ng-model="resource.numberOfSeats"
            ng-options="option.value as option.label for option in numberOfSeatsOptions" ng-disabled="disabledFields.numberOfSeats">
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="fuelType">Brandstof</label>
            <select id="fuelType" class="form-control" ng-model="resource.fuelType"
                    ng-options="f.value as f.label for f in fuelTypeOptions">
                <option value="">-- selecteer brandstof --</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="refuelTime">Laadtijd in minuten</label>
            <input type="text" id="refuelTime" name="refuelTime" class="form-control"
                   ng-model="resource.refuelTime" placeholder="Blokkade van de auto na een rit">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="fuelCardCode">Tankcode</label>
            <input type="text" id="fuelCardCode" name="fuelCardCode" class="form-control"
                   ng-model="resource.fuelCardCode" placeholder="Pincode van de tankpas">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="allowedArea">Toegestaan gebied</label>
            <select id="allowedArea" name="allowedArea" class="form-control" ng-model="resource.allowedArea" null-if-empty
                  ng-options="o.value as o.label for o in allowedAreaOptions">
            </select>
        </div>
    </div>
    <div class="col-md-6">
            <label for="minimumAge">Minimum leeftijd bestuurder</label>
            <select id="minumumAge" name="minimumAge" class="form-control" ng-model="resource.minimumAge" null-if-empty
              ng-options="o.value as o.label for o in minimumAgeOptions">
            </select>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="locktype">Openen met</label>
            <select id="locktype" class="form-control" ng-model="resource.locktype"
                    ng-options="o.value as o.label for o in locktypeOptions"></select>
        </div>
    </div>
    <div class="col-md-6">
            <label for="bouwjaar">Bouwjaar</label>
            <input type="number" id="bouwjaar" name="bouwjaar" class="form-control"
                   ng-model="resource.bouwjaar" placeholder="Bouwjaar">
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="apkUntil">APK-datum</label>
            <input type="text" id="apkUntil" name="apkUntil" class="form-control"
                   ng-model="resource.apkUntil" placeholder="Huidige APK-datum">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="nextMaintenance">Volgende onderhoudsbeurt</label>
            <input type="text" id="nextMaintenance" name="nextMaintenance" class="form-control"
                   ng-model="resource.nextMaintenance" placeholder="Datum van de volgende onderhoudsbeurt">
        </div>
    </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="owner">Garage</label>
        <input type="text" id="garage" class="form-control input-sm typeahead" placeholder="Zoek garage"
           ng-model="resource.garage"
           uib-typeahead="garage as ('<p>' + garage.name + ' [' + garage.id + ']' + '<br><small>' + garage.address + '</p>') for garage in searchGarages($viewValue)"
           typeahead-min-length="3" typeahead-input-formatter="formatGarage($model)">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
        <label for="resourceType">Type auto</label>
        <select id="resourceType" class="form-control" ng-model="resource.resourceType"
                ng-options="o.value as o.label for o in resourceTypeOptions"></select>
    </div>
  </div>
</div>

<hr>

<div class="form-group">
    <label for="advertisement">Advertentietekst</label>
    <textarea id="advertisement" rows="6" class="form-control" ng-model="resource.advertisement"
              placeholder="Advertentietekst"></textarea>
</div>

<div class="form-group">
    <label for="notes">Handleiding (alleen in mails)</label>
    <textarea id="usageManual" rows="6" class="form-control" ng-model="resource.usageManual"
              placeholder="Handleiding"></textarea>
</div>

<div class="form-group">
    <label for="remark">Opmerkingen</label>
    <textarea id="remark" rows="6" class="form-control" ng-model="resource.remark" placeholder="Opmerkingen"></textarea>
</div>

<div class="form-group">
    <label for="roadAssistance">Pechhulp</label>
    <textarea id="roadAssistance" rows="3" class="form-control" ng-model="resource.roadAssistance"
              placeholder="Pechhulp"></textarea>
</div>


<hr>

<h3>Verzekering</h3>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="insurancePolicy">Verzekeringsoptie</label>
            <select id="insurancePolicy" class="form-control" ng-model="resource.insurancePolicy"
                    ng-options="i.value as i.label for i in insurancePolicyOptions">
                <option value="">-- selecteer verzekeringsoptie --</option>
            </select>
        </div>
    </div>
</div>

<div class="form-group">
    <label for="insuranceRemarks">Verzekeringsopmerkingen</label>
    <textarea id="insuranceRemarks" rows="3" class="form-control" ng-model="resource.insuranceRemarks"
              placeholder="Verzekeringsopmerkingen"></textarea>
</div>

<div class="form-group">
    <label for="knownDamage">Bekende schade</label>
    <textarea id="knownDamage" rows="3" class="form-control" ng-model="resource.knownDamage"
              placeholder="Schade"></textarea>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="model">Polisnummer van de verzekering</label>
            <input type="text" id="insuranceNumber" name="insuranceNumber" class="form-control" ng-model="resource.insuranceNumber" placeholder="Polisnummer">
        </div>
    </div>
</div>


<hr>

<h3>Beschikbaarheid</h3>

<div class="row">
    <div class="col-md-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="resource.isActive"> Actief
            </label>
        </div>
    </div>

    <div class="col-md-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="resource.isAvailableFriends"> Beschikbaar voor vrienden
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="resource.isAvailableOthers"> Beschikbaar voor anderen
            </label>
        </div>
    </div>

    <div class="col-md-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="resource.isConfirmationRequiredFriends"> Bevestiging nodig voor vrienden
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="resource.isConfirmationRequiredOthers"> Bevestiging nodig voor anderen
            </label>
        </div>
    </div>
</div>

<hr>

<h3>Huurprijs</h3>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="dayRateTotal">Prijs per dag</label>

            <div class="input-group">
                <span class="input-group-addon">€</span>
                <input type="text" smart-float id="dayRateTotal" name="dayRateTotal" class="form-control"
                       ng-model="resource.dayRateTotal" required placeholder="per day">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="hourRate">Prijs per uur</label>

            <div class="input-group">
                <span class="input-group-addon">€</span>
                <input type="text" smart-float id="hourRate" name="hourRate" class="form-control"
                       ng-model="resource.hourRate" required placeholder="per hour">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="kilometerRate">Prijs per kilometer</label>

            <div class="input-group">
                <span class="input-group-addon">€</span>
                <input type="text" smart-float id="kilometerRate" name="kilometerRate" class="form-control"
                       ng-model="resource.kilometerRate" required placeholder="per km">
                <span class="input-group-addon">
                  <input type="checkbox" ng-model="resource.kmFree"> 100km vrij
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="fuelPerKilometer">Brandstofprijs per kilometer</label>

            <div class="input-group">
                <span class="input-group-addon">€</span>
                <input type="text" ng-disabled="resource.refuelByRenter" smart-float id="fuelPerKilometer" name="fuelPerKilometer" class="form-control"
                       ng-model="resource.fuelPerKilometer" required placeholder="per km">
                <span class="input-group-addon">
                  <input type="checkbox" ng-model="resource.refuelByRenter"> Zelf tanken
                </span>
            </div>
        </div>
    </div>
</div>

<hr>

<h3>Accessoires</h3>

<div class="form-group">
    <div class="checkbox" ng-repeat="option in resourcePropertyOptions">
        <label>
            <input type="checkbox" ng-model="resourceProperties[option.value]" id="{{ option.value }}" />{{ option.label }}
        </label>
    </div>
</div>

<hr>

<h3>Locatie van de auto</h3>

<div class="form-group">
    <label for="zipcode">Zoek een locatie op met postcode & huisnummer</label>
    <div class="row">
      <div class="col-xs-3">
        <input type="text" id="zipcode" class="form-control" ng-model="zipcode" placeholder="Postcode">
      </div>
      <div class="col-xs-3">
        <input type="text" id="streetNumber" class="form-control" ng-model="streetNumber" placeholder="Huisnummer">
      </div>
      <div class="col-xs-2">
        <button class="btn btn-primary" ng-click="lookupZip()" ng-disabled="isZipLookupBusy">Adres opzoeken</button>
      </div>
      <div class="col-xs-2">
        <a class="btn btn-default" ng-href="https://www.google.nl/maps/search/{{resource.latitude}},%20{{resource.longitude}}" target="_blank" ng-disabled="isZipLookupBusy">
            Toop op kaart
        </a>
      </div>
    </div>
</div>

<div ng-if="lookupError" class="text-danger">
    <p>Foutmelding: {{lookupError}}</p>
</div>

<hr>

<div class="form-group">
    <label for="streetName">Straatnaam</label>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <input type="text" id="location" class="form-control" ng-model="resource.location" placeholder="Straatnaam">
      </div>
      <div class="col-xs-12 col-md-3">
        <input type="text" id="resourceStreetNumber" class="form-control" ng-model="resource.streetNumber" placeholder="Huisnummer">
      </div>
</div>

<br>

<div class="form-group">
    <label for="city">Stad</label>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <input type="text" id="city" class="form-control" ng-model="resource.city" placeholder="Stad">
      </div>
    </div>
</div>

<div class="form-group">
    <label for="latitude">Latitude & longtitude</label>
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <input type="text" id="latitude" class="form-control" ng-model="resource.latitude" placeholder="Latitude">
      </div>
      <div class="col-xs-6 col-md-3">
        <input type="text" id="longitude" class="form-control" ng-model="resource.longitude" placeholder="Longitude">
      </div>
    </div>
</div>

<hr>

<div class="form-group">
    <button ng-click="cancel()" ng-disabled="editResourceForm.$pristine" class="btn">Annuleer</button>
    <button ng-click="save()" ng-disabled="editResourceForm.$pristine" class="btn btn-primary">Opslaan</button>
</div>
</form>