body {
  margin-top: 60px;
  overflow-y: scroll;
}

a, .nav, .pagination, .carousel a {
  cursor: pointer;
}

.text-grey {
  color: @color-text-grey;
}

.text-green {
  color: #00CC00;
}

.nowrap {
  white-space: nowrap;
}

.TODO {
  background: magenta;
  color: white;
  padding: 5px;
}
