<div class="row">

  <div class="col-sm-3">
    <div class="panel panel-default card">
      <div class="panel-body">
        <form class="form">

          <button class="btn btn-primary" ng-click="refresh()">Refresh</button>
          <button class="btn btn-link" ng-click="clear()">Clear</button>
        </form>
      </div>
    </div>
  </div>


  <div class="col-sm-9">
    <div class="panel panel-default card">
      <div class="panel-body">
        <h3>Payouts</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Code</th>
              <th>Created</th>
              <th>Sender</th>
              <th>Recipient</th>
              <th>From</th>
              <th>Until</th>
              <th>Amount</th>
              <th>Global</th>
              <th>Multiple</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="discount in discounts">
              <td>{{ discount.code }}</td>
              <td>{{ discount.created | amDateFormat : 'DD-MM-YY' }}</td>
              <td>
                <a ui-sref="root.person.show.summary({ personId: discount.sender.id })">
                  {{ discount.sender | fullname }}
                </a>
              </td>
              <td>
                <a ui-sref="root.person.show.summary({ personId: discount.recipient.id })">
                  {{ discount.recipient | fullname }}
                </a>
              </td>
              <td>{{ payout.dateFrom | amDateFormat : 'DD-MM-YY' }}</td>
              <td>{{ payout.dateUntil | amDateFormat : 'DD-MM-YY' }}</td>
              <td class="text-right" ng-show="discount.amount">
                <b>{{ ( -1 * discount.amount) | currency }}</b>
              </td>
              <td class="text-right" ng-show="discount.percentage">{{ discount.percentage / 100 | percentage }}</td>
              <td>{{ discount.global }}</td>
              <td>{{ discount.multiple }}</td>
              <td ng-if="!payout.paid">
                <a ng-click="disableDiscount(discount)">Disable</a><br/>
              </td>

            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
