<div class="panel panel-default card">
  <div class="panel-body">
    <h3>Call history</h3>

    <div style="margin-bottom: 20px">

      <button class="btn btn-default" ui-sref="phoneLog.history({ sDate: sPrevDay })">&laquo; Previous</button>
      <button class="btn btn-default" ui-sref="phoneLog.history({ sDate: sNextDay })">Next &raquo;</button>

      {{ sCurrentDate | amDateFormat: 'DD MMM YYYY'}}

    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Incoming</th>
          <th>Caller Number</th>
          <th>MyWheels User</th>
          <th>Answered by</th>
          <th>Remark</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="call in calls">
          <td><i class="fa fa-phone fa-2x text-muted"></i></td>
          <td>{{ call.timestamp | amDateFormat:'DD-MM-YYYY HH:mm' }}</td>
          <td>{{ call.caller_number || 'Unknown' }}</td>
          <td>
            <a ng-if="call.user_id" ui-sref="root.person.show.summary({ personId: call.user_id })">{{ call.user_name }}</a>
            <span ng-if="!call.user_id">Not Found</span>
          </td>
          <td>{{ (call.answeringPerson | fullname) || '-' }}</td>
          <td>{{ call.remark || '-' }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
