<accordion>
    <accordion-group >
        <accordion-heading>
            {{current.name}} <i class='fa fa-pencil-square-o'></i>
        </accordion-heading>
        <form ng-submit="save(current.id, current)">
            <div class="form-group" >
                <label for="name">Query naam</label>
                <input id="name" class="form-control" ng-model="current.name" >
            </div>
            <div class="form-group">
                <label for="type">Query type</label>
                <select id="type" class="form-control" ng-model="current.type" ng-options="o as o for o in ['dql', 'sql']"></select>
            </div>
            <div class="form-group">
                <label for="renderas">Render as</label>
                <select id="renderas" class="form-control" ng-model="current.renderas" 
                        ng-options="key for key in template_name"></select>
            </div>
            <div class="checkbox" >
                <label><input type="checkbox" ng-model="current.hide"> query niet in lijst tonen</label>
            </div>
            <div class="form-group">
                <label for="query">Query</label>
                <textarea id="query" class="form-control" rows="3" ng-model="current.query"></textarea>
            </div>
            <input type="submit" class="btn btn-default" value="opslaan"> 
        </form>
    </accordion-group>
</accordion>

<div class="alert alert-warning" ng-if="error_message">Query error: {{error_message}} </div>

<div ng-include="template[current.renderas]"></div>

<nav ng-if="pages.length > 1">
    <ul class="pagination">
        <li ng-repeat="page in pages" ui-sref-active="active">
            <a ui-sref="setPage(page)">{{page.page + 1}}</a>
        </li>
    </ul>
</nav>