<div class="row" >

    <div class="col-md-12">
        <div class="panel panel-default card">

            <div class="panel-body">

                <h3>{{ fineStep }}</h3>
                <form name="fineDataForm">

                    <div class="fine-form">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="resource">Auto</label>
                                <input type="text" id="resource" class="form-control input-sm typeahead" placeholder="Vul kenteken in"
                                       ng-model="resource"
                                       uib-typeahead="resource as ('<p>[' + resource.id + '] ' + resource.alias + '<br><small>' + resource.registrationPlate + '<br>' + resource.city + '<br>Provider ' + resource.providerId + '</p>') for resource in searchResources($viewValue)"
                                       typeahead-min-length="3" typeahead-input-formatter="formatResource($model)" ng-change="initDraft()" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="booking">Rit</label>
                                <input type="number" id="booking" class="form-control" placeholder="Ritnummer" ng-change="initDraft()" ng-model="fine.booking">
                            </div>
                        </div>

                        <div class="row" ng-show="bookingType.length > 0">
                            <div class="form-group col-md-2">
                                <label for="bookingType">Rit zoektype</label>
                                <input type="text" id="bookingType" class="form-control" ng-model="bookingType" readonly>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="firstName">Person</label>
                                <input type="text" id="firstName" class="form-control" value="#{{booking.person.id}} {{booking.person.firstName}} {{booking.person.surname}}" readonly>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="surname">Begin en eind boeking</label>
                                <input type="text" id="surname" class="form-control" value="{{booking.beginBooking}} - {{booking.endBooking}}" readonly>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="beginBooking">Begin en eind rit</label>
                                <input type="text" id="beginBooking" class="form-control" value="{{booking.trip.begin }} - {{booking.trip.end}}" readonly>
                            </div>
                            <div class="form-group col-md-2" style="margin-top: 31px;">
                                <a ui-sref="root.trip.dashboard({ tripId: booking.id })">#{{ booking.id }}</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="fineAtDate">Datum</label>
                                <input type="text" id="fineAtDate" placeholder="Selecteer een datum" class="form-control pickadate-input" ng-model="dateTime.date" ng-change="initDraft()" pickadate="dateConfig" required>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="time">Tijd</label>
                                <input type="text" id="time" ng-model="dateTime.time" ng-change="initDraft()" class="form-control" placeholder="Vul een tijd in, bijvoorbeeld 15:00" required/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="type">Type</label>
                                <select id="type" class="form-control" ng-model="fine.type"
                                        ng-selected="fine.type === o.value"
                                        ng-options="o.value as o.label for o in typeOptions" ng-change="initDraft()" required></select>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="description">Omschrijving</label>
                                <input id="description" ng-model="fine.description" ng-change="initDraft()" class="form-control" required/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="organization">Organisatie</label>
                                <input type="text" id="organization" ng-model="fine.organization" ng-change="initDraft()" class="form-control" required/>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="number">Boetenummer</label>
                                <input type="text" id="number" ng-model="fine.number" ng-change="initDraft()" class="form-control" required/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="amount">Bedrag</label>
                                <input type="number" id="amount" ng-model="fine.amount" ng-change="initDraft()" class="form-control" required/>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="shift">Verleggen?</label>
                                <div class="input-group" style="margin-top: 6px;">
                                    <input type="checkbox" id="shift" ng-model="fine.shift" ng-change="initDraft()">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="files">Bijlage(s)</label>
                                <input type="file" id="files" name="files[]" ng-click="resetFiles()" file-upload multiple aria-label="Upload bestanden" />
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-danger" ng-show="bookingType !== null" ng-click="create()" ng-disabled="isSearchDisabled()">Boete versturen</button>
                            <button type="submit" class="btn btn-primary" ng-show="bookingType === null" ng-click="draft()" ng-disabled="isSearchDisabled()">Rit opzoeken</button>
                            <button type="button" class="btn btn-default pull-right" ng-click="goToListPage()" >Terug naar boetes</button>
                            <button type="button" class="btn btn-danger pull-right" style="margin-right: 5px;" ng-click="empty(); fineDataForm.reset();">Leeg maken</button>
                            <button type="button" class="btn btn-warning pull-right" style="margin-right: 5px;" ng-click="previewModal();" ng-disabled="bookingType === null">Voorbeeld</button>

                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
