<div class="panel panel-default card">
    <div class="panel-heading">
        <h1>Kortingscode toevoegen</h1>
    </div>
</div>

<div class="panel panel-default card">
    <div class="panel-body">
        <form ng-submit="save(globalDiscount)" name="createGlobalDiscountForm">

            <div class="form-group">
                <label for="code">Kortingscode (optioneel)</label>
                <input name="code" id="code" type="text" class="form-control input-sm typeahead" placeholder="Kortingscode, bijvoorbeeld mywheels10"
                       ng-model="globalDiscount.code">
            </div>

            <div class="form-group">
                <label for="resource">Auto (optioneel)</label>
                <input type="text" id="resource" class="form-control input-sm typeahead" placeholder="Kenteken van de auto"
                       ng-model="globalDiscount.resource"
                       uib-typeahead="resource as ('<p>[' + resource.id + '] ' + resource.alias + '<br><small>' + resource.registrationPlate + '<br>' + resource.city + '<br>Provider ' + resource.providerId + '</p>') for resource in searchResources($viewValue)"
                       typeahead-min-length="3" typeahead-input-formatter="formatResource($model)">
            </div>

            <div class="form-group">
                <label for="sender">Kortingsverstrekker (verplicht)</label>
                <input find-person model="globalDiscount.sender" required id="sender" name="sender" />
            </div>

            <div class="form-group">
                <label for="recipient">Huurder (optioneel)</label>
                <input find-person model="globalDiscount.recipient" id="recipient" name="recipient" />
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <label for="from">Actief van (optioneel)</label>
                        <input type="text" placeholder="Selecteer een datum" class="form-control pickadate-input"
                               ng-model="globalDiscount.from" pickadate="dateConfig">
                    </div>

                    <div class="col-xs-6">
                        <label for="until">Actief tot (optioneel)</label>
                        <input type="text" placeholder="Selecteer een datum" class="form-control pickadate-input"
                               ng-model="globalDiscount.until" pickadate="dateConfig">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="amount">Kortingsbedrag</label>

                        <div class="input-group">
                            <span class="input-group-addon">€</span>
                            <input type="text" smart-float id="amount" name="amount" class="form-control"
                                   ng-model="globalDiscount.amount" placeholder="Bedrag" ng-disabled="discount.percentage">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="hourRate">Kortingspercentage</label>

                        <div class="input-group">
                            <span class="input-group-addon">%</span>
                            <input type="text" smart-float id="percentage" name="percentage" class="form-control"
                                   ng-model="globalDiscount.percentage" placeholder="Kortingspercentage" ng-disabled="discount.amount">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-grouo">
                <b>Opties</b>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="globalDiscount.multiple"> Meerdere keren te gebruiken door dezelfde huurder
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="globalDiscount.global"> Toe te passen op alle auto's, iedere partij betaalt eigen korting (global)
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="globalDiscount.globalCharge"> Toe te passen op alle auto's, kortingsverstrekker betaalt alle korting (globalCharge)
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3">
                        <button id="clear" type="reset" class="btn btn-default pull-right" >Annuleren</button>
                        <button id="submitForm" type="submit" class="btn btn-primary pull-left" ng-disabled="createGlobalDiscountForm.$pristine">Toevoegen</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>