<table class="table table-hover">
  <thead>
    <tr>
      <th>Trip</th>
      <th>Begin trip</th>
      <th>Begin booking</th>
      <th>Begin requested</th>
      <th>Resource</th>
      <th>Person</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="booking in bookings">
      <td><a ui-sref="root.trip.show.summary({ tripId: booking.id })">#{{ booking.id }}</a></td>
      <td>{{ booking.trip.begin | amDateFormat:'DD-MM-YYYY | HH:mm' }}</td>
      <td>{{ booking.beginBooking | amDateFormat:'DD-MM-YYYY | HH:mm' }}</td>
      <td>{{ booking.beginRequested | amDateFormat:'DD-MM-YYYY | HH:mm' }}</td>
      <td><a ui-sref="root.resource.show.summary({ resourceId: booking.resource.id })">{{ booking.resource.alias }}</a></td>
      <td><a ui-sref="root.person.show.summary({ personId: booking.person.id })">{{ booking.person.firstName }}</a></td>
    </tr>
  </tbody>
</table>

<button class="btn btn-default" ng-click="previousWeek()">previous week</button>
<button class="btn btn-default" ng-click="nextWeek()">next week</button>
{{ currentTimeFrame.startDate | amDateFormat: 'DD MMM YYYY'}} - {{ currentTimeFrame.endDate | amDateFormat: 'DD MMM YYYY'}}
