<md-dialog flex="50" flex-sm="70">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Verleng deze rit</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div layout="column" layout-margin class="md-dialog-content" ng-if="helyUser">
      <p>Deze huurder rijdt via onze <a href="https://hely.com" target="_blank">partner Hely</a>. De auto blijft geclaimd totdat de rit in de Hely app beëindigd wordt. De huurder kan in de Hely app zelf de rit beëindigen of een nieuwe rit maken. Lukt het de huurder niet? Dan kan de huurder bellen met de helpdesk van Hely op telefoonnummer 085-0012126.</p>
    </div>

    <div layout="column" layout-margin class="md-dialog-content" ng-if="!helyUser && booking.trip.finalized">
      <p>
        Deze rit is beëindigd en de kilometers zijn al doorgegeven.<br>
        De huurder dient een nieuwe reservering te maken en indien nodig te betalen.<br>
        Is de huurder nog niet terug en lukt het niet om een nieuwe reservering te betalen?<br>
        Klik hieronder om een rit van twee uur te boeken, de huurder moet dan wel direct terugrijden.<br>
        <strong>Let op: open daarna de auto met de knop [Openen] om de startblokkering van de auto te halen.</strong><br>
      </p>

      <md-button class="md-primary md-raised" ng-click="act()" style="max-width:250px;">
        Twee uur extra boeken
      </md-button>
    </div>

    <div layout="column" layout-margin class="md-dialog-content" ng-if="!helyUser && !booking.trip.finalized">
      <h3>
        Nieuwe eindtijd
      </h3>
      <p ng-if="tripIsNow">
        Deze rit is nog bezig, indien noodzakelijk moet er dus worden bijbetaald of moet het huurverzoek opnieuw geaccepteerd worden. 
      </p>
      <p>
        Soms heeft een huurder meer saldo nodig om de rit te verlengen. Je krijgt dan na het versturen van de verlenging bovenaan een rode melding te zien met de tekst "De rit kon niet verlengd worden. Je hebt nog 15 euro saldo nodig." De rit kan dan pas verlengd worden als de huurder via de app of website per iDEAL extra saldo koopt.
      </p>
      <p ng-if="tripHasEnded">
        Deze rit is al klaar.
      </p>
      <form layout="row">
        <md-input-container flex>
          <label>Einddatum</label>
          <md-datepicker ng-change="change()" ng-model="newDt.date" md-placeholder="Kies een datum"></md-datepicker>
        </md-input-container>
        <md-input-container flex>
          <label>Eindtijd</label>
          <md-select ng-change="change()" ng-model="newDt.time">
            <md-option ng-repeat="time in times" ng-value="time.value">{{time.value}}</md-option>
          </md-select>
        </md-input-container>
      </form>
      <p ng-if="warning">{{warning}}</p>
    </div>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="cancel()">
     Sluiten
    </md-button>
    <md-button ng-disabled="warning" class="md-primary md-raised" ng-click="done()" ng-if="!booking.trip.finalized">
      Opslaan
    </md-button>
  </md-dialog-actions>
</md-dialog>
