<md-dialog flex="50" flex-sm="70">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Nieuwe OV-chipkaart koppelen</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div layout="column" layout-margin class="md-dialog-content">
      <h3>OV-chipkaart koppelen</h3>

      <div>
        <p>Gebruikt de huurder voor de eerste keer de OV-chipkaart? Volg dan onderstaande stappen:
          <ul>
            <li>De huurder houdt aan het begin van de huurperiode de OV-chipkaart voor de witte lezer achter het voorraam.</li>
            <li>De huurder ontvangt automatisch binnen enkele seconden een sms.</li>
            <li>Vraag de huurder om de sms met 'Ja' te beantwoorden.</li>
            <li>De OV-chipkaart wordt gekoppeld en de auto opent binnen 15 sec.</li>
            <li>Daarna kan de auto gestart worden met de sleutel die in het dashboardkastje ligt.</li>
          </ul>

          <span>
            <strong>Lukt het een huurder niet om de auto met een OV-chipkaart te openen?</strong>
            <br>
            Klik op <strong>[Openen]</strong> om de auto op afstand te openen en de startblokkering eraf te halen. 
          </span>
        </p>
      </div>
    </div> 
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="cancel()">
     Sluiten
    </md-button>
    <md-button class="md-primary md-raised" ng-click="done()" ng-if="booking.resource.boardcomputer === 'ccome'">
      Versturen
    </md-button>
  </md-dialog-actions>
</md-dialog>
