<md-dialog flex="50" flex-sm="70">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Pechhulp inschakelen</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div layout="column" layout-margin class="md-dialog-content" ng-if="booking.resource.boardcomputer === 'ccome'">
      <h3>Pechhulp inschakelen</h3>
      <p>Als een huurder tijdens de rit pech heeft en niet meer verder kan rijden met de auto, kan de pechhulp ingeschakeld worden.</p>
      <p ng-if="booking.resource.roadAssistance">{{ booking.resource.roadAssistance }}</p>
      <p ng-if="!booking.resource.roadAssistance">De pechhulp is geregeld via Eurocross. Vraag aan de huurder wat zijn huidige locatie is en bel Eurocross op telefoonnummer 055-5796699. De supportmedewerker van Eurocross zal vragen om een kenteken, de schade moet echter op polisnummer 100697201 gemeld worden. Dring erop aan dat niet het kenteken maar het polisnummer geregistreerd moet staan. </p>
      <p>De pechhulp arriveert binnen 30 tot 45 minuten bij de auto. Ze zullen eerst proberen de huurder weer op weg te helpen. Mocht dit niet lukken, zullen we de auto meenemen en de huurder naar de gewenste locatie in Nederland brengen. In het buitenland heeft de huurder recht op vervangen vervoer. De berging en sleepkosten zijn meeverzekerd via de ritverzekering, de verhuurder hoeft hiervoor niets te betalen.</p>
    </div>
  </md-dialog-content>

</md-dialog>
