<md-dialog flex="50" flex-sm="70">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Schade</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div layout="column" layout-margin class="md-dialog-content">
      <h3>Schade</h3>
      <p>Meldt de huurder schade aan de auto? Vraag de huurder of de schade tijdens zijn of haar rit ontstaan is. Selecteer vervolgens hieronder de optie die van toepassing is:</p>
      <form>
        <md-radio-group ng-model="damageOptions">
          <md-radio-button value="atBegin">De schade is door de vorige huurder veroorzaakt</md-radio-button>
          <md-radio-button value="ownDamage">De schade is eenzijdig door de huurder veroorzaakt</md-radio-button>
          <md-radio-button value="collision">De schade is ontstaan door een aanrijding</md-radio-button>
        </md-radio-group>
      </form>

      <hr/>

      <fieldset class="standard" ng-if="damageOptions === 'atBegin'">
        <p>De huurder heeft de schade niet zelf veroorzaakt, maar de voorgaande huurder. Plaats een <strong>Opmerking</strong> bij de rit dat de huurder bij aanvang van de rit de schade heeft gemeld. Omschrijf duidelijk wat de schade is en waar deze op de auto zit. Voeg de eerstvolgende werkdag als <strong>follow-up datum</strong> aan de opmerking toe.
        <br><br>
        Als er in de auto gereden kan worden, mag de huurder met de auto rijden. Zo niet, klik dan op de knop <strong>[Boeken]</strong> om de reservering over te zetten op een andere auto in de buurt.</p>
      </fieldset>

      <fieldset class="standard" ng-if="damageOptions === 'ownDamage'">
        <p>De huurder geeft aan zelf de schade veroorzaakt te hebben zonder dat er een tegenpartij bij betrokken is (eenzijdig ongeluk). Bepaal in overleg met de huurder of doorrijden veilig kan of dat de auto weggesleept moet worden.</p>

        <p ng-if="booking.resource.roadAssistance">
          <strong>Kan de auto niet verder rijden?</strong>
          <br>
          Schakel de huurder door naar het telefoonnummer in de volgende omschrijving:
          <br>
          {{ booking.resource.roadAssistance }}
          <br/><br/>
          De wegsleepdienst arriveert binnen 30 tot 45 minuten bij de auto. Ze zullen de auto meenemen en de huurder naar de gewenste locatie brengen. In het buitenland heeft de huurder recht op vervangend vervoer. De berging en sleepkosten zijn meeverzekerd via de ritverzekering, de huurder hoeft hiervoor niets te betalen.
          <br><br>
          Plaats een Opmerking bij de rit dat de huurder de schade heeft gemeld. Omschrijf duidelijk wat de schade is en waar deze op de auto zit. Voeg de eerstvolgende werkdag als follow-up datum aan de opmerking toe.
        </p>

        <p ng-if="!booking.resource.roadAssistance">
          <strong>Kan de auto niet verder rijden?</strong>
          <br>
          Schakel de huurder door naar Eurocross op telefoonnummer 055-5796699. De supportmedewerker van Eurocross zal vragen om een kenteken, de schade moet echter op polisnummer 100697201 gemeld worden. De huurder moet erop aandringen dat niet het kenteken, maar het polisnummer geregistreerd staat.
          <br/><br/>
          De wegsleepdienst arriveert binnen 30 tot 45 minuten bij de auto. Ze zullen de auto meenemen en de huurder naar de gewenste locatie brengen. In het buitenland heeft de huurder recht op vervangend vervoer. De berging en sleepkosten zijn meeverzekerd via de ritverzekering, de huurder hoeft hiervoor niets te betalen.
          <br><br>
          Plaats een Opmerking bij de rit dat de huurder de schade heeft gemeld. Omschrijf duidelijk wat de schade is en waar deze op de auto zit. Voeg de eerstvolgende werkdag als follow-up datum aan de opmerking toe.
        </p>

        <p>
          <strong>Kan de huurder veilig doorrijden?</strong>
          <br>
          Vraag de huurder dan om foto's van de schade te mailen naar support@mywheels.nl. Plaats een Opmerking bij de rit dat de huurder de schade heeft gemeld. Omschrijf duidelijk wat de schade is en waar deze op de auto zit. Voeg de eerstvolgende werkdag als follow-up datum aan de opmerking toe.
        </p>

      </fieldset>

      <fieldset class="standard" ng-if="damageOptions === 'collision'">
        <p>De huurder geeft aan dat de schade veroorzaakt is door een ongeluk met een tegenpartij. Vraag de huurder om een schadeformulier volledig in te vullen en te ondertekenen.</p>  

        <strong>Verzekeringsgegevens schadeformulier</strong>

        <p ng-if="booking.resource.insuranceRemarks && booking.resource.insuranceNumber">
          <span style="white-space: pre-line">{{booking.resource.insuranceRemarks}}</span>
          <br>
          Polisnummer: {{booking.resource.insuranceNumber}}
        </p>

        <p ng-if="booking.resource.insuranceRemarks && !booking.resource.insuranceNumber">
          <span style="white-space: pre-line">{{booking.resource.insuranceRemarks}}</span>
        </p>

        <p ng-if="!booking.resource.insuranceRemarks && !booking.resource.insuranceNumber">
          Verzekeringsmaatschappij: Centraal Beheer (055-5798600)
          <br>
          Is het voertuig all-risk verzekerd: Ja
          <br>
          Polisnummer: 100697201
        </p>
        
        <p>Bepaal in overleg met de huurder of doorrijden veilig kan of dat de auto weggesleept moet worden.</p>

        <p ng-if="booking.resource.roadAssistance">
          <strong>Kan de auto niet verder rijden?</strong>
          <br>
          Schakel de huurder door naar het telefoonnummer in de volgende omschrijving:
          <br>
          {{ booking.resource.roadAssistance }}
          <br/><br/>
          De wegsleepdienst arriveert binnen 30 tot 45 minuten bij de auto. Ze zullen de auto meenemen en de huurder naar de gewenste locatie brengen. In het buitenland heeft de huurder recht op vervangend vervoer. De berging en sleepkosten zijn meeverzekerd via de ritverzekering, de huurder hoeft hiervoor niets te betalen.
          <br><br>
          Plaats een Opmerking bij de rit dat de huurder de schade heeft gemeld. Omschrijf duidelijk wat de schade is en waar deze op de auto zit. Voeg de eerstvolgende werkdag als follow-up datum aan de opmerking toe.
        </p>

        <p ng-if="!booking.resource.roadAssistance">
          <strong>Kan de auto niet verder rijden?</strong>
          <br>
          Schakel de huurder door naar Eurocross op telefoonnummer 055-5796699. De supportmedewerker van Eurocross zal vragen om een kenteken, de schade moet echter op polisnummer 100697201 gemeld worden. De huurder moet erop aandringen dat niet het kenteken, maar het polisnummer geregistreerd staat.

          <br/><br/>
          De wegsleepdienst arriveert binnen 30 tot 45 minuten bij de auto. Ze zullen de auto meenemen en de huurder naar de gewenste locatie brengen. De huurder moet aanwezig zijn bij de auto als deze door de berger wordt opgehaald anders wordt deze niet meegenomen, er dient namelijk voor het ophalen getekend te worden. In het buitenland heeft de huurder recht op vervangend vervoer. De berging en sleepkosten zijn meeverzekerd via de ritverzekering.
          <br><br>
          Plaats een Opmerking bij de rit dat de huurder de schade heeft gemeld. Omschrijf duidelijk wat de schade is en waar deze op de auto zit. Voeg de eerstvolgende werkdag als follow-up datum aan de opmerking toe.
        </p>

        <p>
          <strong>Kan de huurder veilig doorrijden?</strong>
          <br>
          Vraag de huurder dan om foto's van de schade te mailen naar support@mywheels.nl. Plaats een Opmerking bij de rit dat de huurder de schade heeft gemeld. Omschrijf duidelijk wat de schade is en waar deze op de auto zit. Voeg de eerstvolgende werkdag als follow-up datum aan de opmerking toe.
        </p>
      </fieldset>

    </div>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="cancel()">
     Sluiten
    </md-button>
  </md-dialog-actions>
</md-dialog>