<md-dialog flex="50" flex-sm="70">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Stuur schademail</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content">
      <form layout="column" name="damageF">
        <p>Geef in de onderstaande lijst aan wat het eigen risico van de bestuurder is. Let op: je moet zelf opzoeken of deze persoon al eerder schade heeft gereden.</p>
        <p style="font-size: 0.8em">Leeftijd: {{age}}<br>Contracttype: {{contract.type.name}}<br>Eigenrisico verlaagd/afgekocht: {{booking.riskReduction ? 'Ja': 'Nee'}}</p>
        <p>Het eigenrisico bedraagt</p>
        <md-radio-group ng-model="damage.ownRisk">
          <md-radio-button value="0">€0</md-radio-button>
          <md-radio-button value="250">€250</md-radio-button>
          <md-radio-button value="500">€500</md-radio-button>
        </md-radio-group>
      </form>
    </div>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="cancel()">
     Annuleren
    </md-button>
    <md-button class="md-primary md-raised" ng-click="done()">
      Stuur mail
    </md-button>
  </md-dialog-actions>
</md-dialog>
