<md-dialog flex="50" flex-sm="70">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Selecteer datum</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="row">
          <div flex=""></div>
          <md-calendar md-min-date="today" md-date-filter="onlyWeekPredicate" ng-model="selectedDay"></md-calendar>
          <div flex=""></div>
        </div>
      </div>
    </md-dialog-content>


    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Annuleren
      </md-button>
      <md-button class="md-primary md-raised" ng-click="done()">
        Selecteren
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
