<md-dialog flex="50" flex-sm="70">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Open de auto op afstand</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>    
    <div layout="column" layout-margin class="md-dialog-content" ng-if="booking.resource.boardcomputer">
      <p ng-if="booking.resource.locktypes.indexOf('chipcard') < 0">Een huurder opent deze auto met een smartphone. Klik hieronder op <strong>[Versturen]</strong> om de auto voor de huurder te openen.</p>

      <p ng-if="booking.resource.locktypes.indexOf('chipcard') >= 0">Een huurder opent deze auto met een smartphone of een OV-chipkaart. Meer informatie over het koppelen van een nieuwe OV-chipkaart vind je onder de knop <strong>[Chipkaart]</strong>. Klik hieronder op <strong>[Versturen]</strong> om de auto voor de huurder te openen.</p>

      <p><strong>Let op: open alleen de auto als de huurder belt met een telefoonnummer in zijn of haar account (geen anoniem of onbekend nummer).</strong></p>

      <div ng-if="booking.person.status !== 'active' || booking.approved === 'BUY_VOUCHER' || booking.status !== 'accepted' || booking.beginBooking > now || booking.endBooking < now" class="text-danger">
        <strong>Let op! De rit is niet in orde</strong><br/>
        <span ng-if="booking.person.status !== 'active'">De huurder heeft nog geen geactiveerd account.<br/></span>
        <span ng-if="booking.approved === 'BUY_VOUCHER'">De huurder heeft de rit nog niet betaald of de betaling is nog niet goedgekeurd.<br/></span>
        <span ng-if="booking.endBooking < now">
          De rit is reeds afgelopen en eindigde om {{ booking.endBooking | amDateFormat:'DD-MM-YYYY HH:mm' }}. Wijzig de eindtijd via de knop <strong>[Verlengen]</strong> om de huurder weer toegang te geven.
          <br/><br/>
          <strong>Noodgeval</strong><br/>
          Is de rit afgelopen? Klik op de knp [Verlengen] om de rit verlengen of een nieuwe rit te maken.
        </span>
        <span ng-if="booking.beginBooking > now">De rit begint pas om {{ booking.beginBooking | amDateFormat:'DD-MM-YYYY HH:mm' }}. De huurder kan pas de auto in als de rit begonnen is.</span>
      </div>

      <div ng-if="booking.person.status === 'active' && booking.approved !== 'BUY_VOUCHER' && booking.status === 'accepted' && booking.beginBooking < now && booking.endBooking > now">
        Lukt het openen met de knop <strong>[Versturen]</strong> niet? Klik op de knop <strong>[Noodcommando]</strong> om de auto op afstand te openen en de startblokkering eraf te halen.
      </div>

      <div ng-if="booking.person.status === 'active' && (booking.approved === 'OK' || !booking.approved) && booking.status === 'accepted' && booking.beginBooking < now && booking.endBooking > now">
        <span>
          <strong>Opent de auto niet?</strong>
          <ul>
            <li>Controleer of de huurder bij kenteken {{ booking.resource.registrationPlate }} staat.</li>
            <li>Vraag de huurder alle deuren en de achterklep stevig dicht te drukken, en open de auto nogmaals.</li>
        </span>
      </div>

    </div>

  </md-dialog-content>

  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="cancel()">
     Sluiten
    </md-button>
    <md-button class="md-primary md-raised" ng-click="done()" ng-disabled="booking.person.status !== 'active' || booking.approved === 'BUY_VOUCHER' || booking.status !== 'accepted' || booking.beginBooking > now">
      Versturen
    </md-button>
  </md-dialog-actions>
</md-dialog>
