<md-dialog flex="40" flex-sm="40">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Vorige huurder</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        De laatste huurder die in deze auto gereden heeft, is {{ person.firstName }} {{ person.preposition || '' }} {{ person.surname || '' }} uit {{ person.city }}. {{ person.firstName }} heeft de auto geboekt van {{ previousBookings[0].beginBooking | amDateFormat:'DD-MM-YYYY HH:mm' }} tot {{ previousBookings[0].endBooking | amDateFormat:'DD-MM-YYYY HH:mm' }}. Je kunt {{ person.firstName }} bereiken op telefoonnummer(s):
        <br/>
        <span ng-repeat="phoneNumber in person.phoneNumbers">{{ phoneNumber.number }}</br/></span>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Sluiten
      </md-button>
    </md-dialog-actions>
</md-dialog>
