<md-dialog flex="40" flex-sm="40">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Opmerkingen bij auto</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="row">
          {{ booking.resource.remark || 'Geen opmerkingen bij deze auto' }}
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Sluiten
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
