<div class="row">
  <div class="col-sm-3">
    <div class="box">
      <div class="box__title box__title--trip">
        <small>Trip #{{booking.id}}</small>
        <h3 title="{{booking.beginBooking ? 'Begin boeking' : 'Begin Requested'}}">{{booking.beginBooking ? booking.beginBooking : booking.beginRequested}}</h3>
      </div>
      <div class="box__content">
        <div class="row box__row">
          <div class="col-sm-6"><span class="box__slabel">Status</span></div>
          <div class="col-sm-6"><span class="box__sdata">{{booking.status}}</span></div>
        </div>
        <div class="row box__row">
          <div class="col-sm-6"><span class="box__slabel">Approved</span></div>
          <div class="col-sm-6"><span class="box__sdata" ng-class="{'box__sdata--green': booking.approved=='OK', 'box__sdata--red': booking.approved == 'BUY_VOUCHER' || booking.approved == 'INSPECT' || booking.approved == 'TO_BE_PAID'}">{{booking.approved}}</span></div>
        </div>
        <div class="row box__row">
          <div class="col-sm-6"><span class="box__slabel">Finalized + KM</span></div>
          <div class="col-sm-6"><span class="box__sdata">{{booking.trip.finalized ? 'Ja' : 'Nee'}}, <span>{{booking.trip.odoEnd ? booking.trip.odoEnd - booking.trip.odoBegin : '-' }}KM</span></span></div>
        </div>
        <div class="row box__row">
          <div class="col-sm-12">
            <div class="box__divider"></div>
          </div>
        </div>
        <div class="row box__row">
          <div class="col-sm-12"><span class="box__slabel">Req. boeking datum:</span></div>
          <div class="col-sm-12"><span class="box__sdata box__sdata--whole-row"><span ng-if="!booking.beginRequested">-</span><booking-date ng-if="booking.beginRequested" type="requested" booking="booking"></booking-date></span></div>
        </div>
        <div class="row box__row">
          <div class="col-sm-12"><span class="box__slabel">Boeking datum:</span></div>
          <div class="col-sm-12"><span class="box__sdata box__sdata--whole-row"><span ng-if="!booking.beginBooking">-</span><booking-date ng-if="booking.beginBooking" booking="booking" type="booking"></booking-date></span></div>
        </div>
        <div class="row box__row">
          <div class="col-sm-12"><span class="box__slabel">Trip datum:</span></div>
          <div class="col-sm-12"><span class="box__sdata box__sdata--whole-row"><span ng-if="!booking.trip.begin">-</span><booking-date ng-if="booking.trip.begin" booking="booking" type="trip"></booking-date></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="box">
      <div class="box__title box__title--driver">
        <small>Bestuurder #{{booking.person.id}}, provider #{{booking.person.provider.id}} <a ui-sref="root.person.show.summary({personId: booking.person.id})" class="pull-right box__link">Meer</a></small>
        <h3 title="{{booking.person.firstName + ' ' + booking.person.lastName}}">{{booking.person.firstName + ' ' + booking.person.lastName}}</h3>
      </div>
      <div class="box__content">
        <div class="row">
          <div class="col-sm-10">
            <div class="row box__row">
              <div class="col-sm-6"><span class="box__slabel">Status</span></div>
              <div class="col-sm-6"><span class="box__sdata box__sdata--small">{{booking.person.status}}</span></div>
            </div>
            <div class="row box__row">
              <div class="col-sm-6"><span class="box__slabel">Rijbewijs</span></div>
              <div class="col-sm-6"><span class="box__sdata box__sdata--small" ng-class="{'box__sdata--red': booking.person.driverLicenseStatus != 'ok'}">{{booking.person.driverLicenseStatus}} <a ui-sref="root.person.show.data.driverlicense({personId: booking.person.id})">Check</a></span></div>
            </div>
          </div>
          <div class="col-sm-2"><img class="pull-right box__sdata box__sdata--image" ng-src="/person/{{booking.person.id}}/90/90/profile.png"></div>
        </div>
        <div class="row box__row">
          <div class="col-sm-3"><span class="box__slabel">Email</span></div>
          <div class="col-sm-9"><span title="{{booking.person.email}}" class="box__sdata box__sdata--small">{{booking.person.email}}</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="box">
      <div class="box__title box__title--resource">
        <small>Auto #{{booking.resource.id}} <a ui-sref="root.resource.show.summary({resourceId: booking.resource.id})" class="pull-right box__link">Meer</a></small>
        <h3 title="{{booking.resource.alias}}">{{booking.resource.alias}}</h3>
      </div>
      <div class="box__content">
        <div class="row">
          <div class="col-sm-6">
            <div class="row box__row">
              <div class="col-sm-6"><span class="box__slabel">Vloot</span></div>
              <div class="col-sm-6"><span class="box__sdata box__sdata--small">{{booking.resource.fleet.id}}</span></div>
            </div>
          </div>
          <div class="col-sm-6"><img class="pull-right box__sdata box__sdata--image" ng-src="{{booking.resource.pictures[0] | resourceAvatar:'small' }}"></div>
        </div>
        <div class="row box__row">
          <div class="col-sm-3"><span class="box__slabel">Email</span></div>
          <div class="col-sm-9"><span title="{{booking.resource.owner.email}}" class="box__sdata box__sdata--small">{{booking.resource.owner.email}}</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="box">
      <div class="box__title box__title--owner">
        <small>Eigenaar #{{booking.resource.owner.id}}, provider #{{booking.resource.owner.provider.id}} <a ui-sref="root.person.show.summary({personId: booking.resource.owner.id})" class="pull-right box__link">Meer</a></small>
        <h3 title="{{booking.resource.owner.firstName + ' ' + booking.resource.owner.lastName}}">{{booking.resource.owner.firstName + ' ' + booking.resource.owner.lastName}}</h3>
      </div>
      <div class="box__content">
        <div class="row">
          <div class="col-sm-6">
            <div class="row box__row">
              <div class="col-sm-6"><span class="box__slabel">Status</span></div>
              <div class="col-sm-6"><span class="box__sdata box__sdata--small">{{booking.resource.owner.status}}</span></div>
            </div>
          </div>
          <div class="col-sm-6"><img class="pull-right box__sdata box__sdata--image" ng-src="/person/{{booking.resource.owner.id}}/90/90/profile.png"></div>
        </div>
        <div class="row box__row">
          <div class="col-sm-3"><span class="box__slabel">Email</span></div>
          <div class="col-sm-9"><span title="{{booking.resource.owner.email}}" class="box__sdata box__sdata--small">{{booking.resource.owner.email}}</span></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="quickaction">
  <a ng-class="{'quickaction__toggler--hidden': hide, 'quickaction__toggler--shown' : !hide}" ng-click="hide=!hide" type="button" class="quickaction__toggler">
    <i ng-class="{'fa-chevron-right': hide, 'fa-chevron-left' : !hide}" class="fa fa-fw"></i> 
  </a>
  <ul ng-hide="hide">
    <li class="quickaction__item--trip"><span tooltip-placement="right" uib-tooltip="Voeg boete toe voor bestuurder">Boete</span></li>
    <li class="quickaction__item--driver"><span tooltip-placement="right" uib-tooltip="Stuur schade mails">Schade</span></li>
    <li class="quickaction__item--resource"><span tooltip-placement="right" uib-tooltip="Verleng deze rit">Verleng</span></li>
    <li class="quickaction__item--owner"><span tooltip-placement="right" uib-tooltip="Verleng deze rit">Verleng</span></li>
  </ul>
</div>

<!--<pre>{{booking.resource|json}}</pre>-->
