<div class="row">
  <div class="col-sm-12" ng-if="!booking.ok || booking.status !== 'accepted'" style="padding-bottom: .5em;">
    <div class="notice notice--neg">
      <strong>De verhuurder mag de auto nog niet meegeven aan de huurder omdat de rit nog niet in orde is:</strong>
      <strong ng-if="booking.person.status === 'blocked'"><br>- Het account van de huurder is gedeactiveerd.</strong>
      <strong ng-if="booking.person.status === 'book-only'"><br>- Het account van de huurder moet nog handmatig gecontroleerd worden.</strong>
      <strong ng-if="booking.approved === 'BUY_VOUCHER'"><br>- De rit is nog niet betaald.</strong>
      <strong ng-if="booking.status === 'requested'"><br>- De rit is nog niet geaccepteerd.</strong>
      <strong ng-if="booking.status === 'cancelled' || booking.status === 'owner_cancelled' "><br>- De rit is geannuleerd.</strong>
      <strong ng-if="booking.status === 'rejected' "><br>- De rit is afgewezen door de verhuurder.</strong>
    </div>
  </div>

  <div class="col-sm-12" ng-show="!showNoticeDriver && booking.person.remark" style="padding-bottom: .5em;">
    <div class="notice notice--driver">
      <div ng-class="{'notice--single-line': !noticeDriver}" class="no-outline" ng-click="noticeDriver=!noticeDriver" >
      <strong>Opmerking bij bestuurder:</strong>
      <br ng-if="noticeDriver">
      {{booking.person.remark}}
      </div>
      <span ng-click="showNoticeDriver=!showNoticeDriver" style="position: absolute; right: 5px; top: 5px;"><i class="fa fa-fw fa-close"></i></span>
    </div>
  </div>

  <div class="col-sm-12" ng-show="!showBookingNoticeDriver && booking.remarkRequester" style="padding-bottom: .5em;">
    <div class="notice notice--driver">
      <div ng-class="{'notice--single-line': !noticeDriver}" class="no-outline" ng-click="noticeDriver=!noticeDriver" >
      <strong>Opmerking rit bestuurder:</strong>
      <br ng-if="noticeDriver">
      {{booking.remarkRequester}}
      </div>
      <span ng-click="showBookingNoticeDriver=!showBookingNoticeDriver" style="position: absolute; right: 5px; top: 5px;"><i class="fa fa-fw fa-close"></i></span>
    </div>
  </div>

  <div class="col-sm-12" ng-show="!showNoticeOwner && booking.resource.owner.remark" style="padding-bottom: .5em;">
    <div class="notice notice--owner">
      <div ng-class="{'notice--single-line': !noticeOwner}" class="no-outline" ng-click="noticeOwner=!noticeOwner" >
        <strong>Opmerking bij eigenaar:</strong>
        <br ng-if="noticeOwner">
        {{booking.resource.owner.remark}}
      </div>
      <span ng-click="showNoticeOwner=!showNoticeOwner" style="position: absolute; right: 5px; top: 5px;"><i class="fa fa-fw fa-close"></i></span>
    </div>
  </div>

  <div class="col-sm-12" ng-show="!showBookingNoticeOwner && booking.remarkAuthorizer" style="padding-bottom: .5em;">
    <div class="notice notice--owner">
      <div ng-class="{'notice--single-line': !noticeOwner}" class="no-outline" ng-click="noticeOwner=!noticeOwner" >
        <strong>Opmerking rit eigenaar:</strong>
        <br ng-if="noticeOwner">
        {{booking.remarkAuthorizer}}
      </div>
      <span ng-click="showBookingNoticeOwner=!showBookingNoticeOwner" style="position: absolute; right: 5px; top: 5px;"><i class="fa fa-fw fa-close"></i></span>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-3 col-sm-6">
    <div class="box box--min-height">
      <div class="box__title box__title--trip">
        <small>Trip #{{booking.id}}<a ui-sref="root.trip.show.summary({tripId: booking.id})" class="pull-right box__link">Meer</a></small>
        <h3 title="{{booking.beginBooking ? 'Begin boeking' : 'Begin Requested'}}">
          {{booking.beginBooking ? (booking.beginBooking | amDateFormat:'DD-MM-YYYY HH:mm') : (booking.beginRequested | amDateFormat:'DD-MM-YYYY HH:mm')}}
        </h3>
      </div>
      <div class="box__content">
        <div class="row box__row">
          <div class="col-xs-6"><span class="box__slabel">Status</span></div>
          <div class="col-xs-6"><span class="box__sdata" ng-class="{'box__sdata--green': booking.status=='accepted', 'text-danger': booking.status != 'accepted'}">{{booking.status}}</span></div>
        </div>
        <div class="row box__row">
          <div class="col-xs-6"><span class="box__slabel">Betaald</span></div>
          <div class="col-xs-6"><span class="box__sdata" ng-class="{'box__sdata--green': booking.approved=='OK', 'text-danger': booking.approved == 'BUY_VOUCHER' || booking.approved == 'INSPECT' || booking.approved == 'TO_BE_PAID'}" ng-if="booking.approved || booking.status!=='accepted'">{{booking.approved}}</span></div>
          <div class="col-xs-6"><span class="box__sdata" ng-class="{'box__sdata--green': true}" ng-if="!booking.approved && booking.status==='accepted'">Onderhoud</span></div>
        </div>
        <div class="row box__row">
          <div class="col-xs-6"><span class="box__slabel">Finalized + KM</span></div>
          <div class="col-xs-6"><span class="box__sdata">{{booking.trip.finalized ? 'Ja' : 'Nee'}}, <span>{{booking.trip.odoEnd ? booking.trip.odoEnd - booking.trip.odoBegin : '-' }}KM</span></span></div>
        </div>
        <div class="row box__row">
          <div class="col-xs-6"><span class="box__slabel">Contracttype</span></div>
          <div class="col-xs-6"><span class="box__sdata"><a ng-click="contractInfo(contract.id)" class="">{{contract.type.name}}</a></span></div>
        </div>
        <div class="row box__row">
          <div class="col-xs-12">
            <div class="box__divider"></div>
          </div>
        </div>
        <div class="row box__row">
          <div class="col-xs-12"><span class="box__slabel">Aangevraagde boeking datum:</span></div>
          <div class="col-xs-12"><span class="box__sdata box__sdata--whole-row">
            <span ng-if="booking.beginRequested">{{ booking.beginRequested | amDateFormat:'DD-MM-YYYY HH:mm'}} | {{ booking.endRequested | amDateFormat:'DD-MM-YYYY HH:mm'}}</span>
            <span ng-if="!booking.beginRequested">-</span>
          </div>
        </div>
        <div class="row box__row">
          <div class="col-xs-12"><span class="box__slabel">Boeking datum:</span></div>
          <div class="col-xs-12"><span class="box__sdata box__sdata--whole-row">
            <span ng-if="booking.beginBooking">{{ booking.beginBooking | amDateFormat:'DD-MM-YYYY HH:mm'}} | {{ booking.endBooking | amDateFormat:'DD-MM-YYYY HH:mm'}}</span>
            <span ng-if="!booking.beginBooking">-</span>
          </div>
        </div>
        <div class="row box__row">
          <div class="col-xs-12"><span class="box__slabel">Rit datum:</span></div>
          <div class="col-xs-12"><span class="box__sdata box__sdata--whole-row">
            <span ng-if="booking.trip.begin">{{ booking.trip.begin | amDateFormat:'DD-MM-YYYY HH:mm'}} | {{ booking.trip.end | amDateFormat:'DD-MM-YYYY HH:mm'}}</span>
            <span ng-if="!booking.trip.begin">-</span>
          </div>
        </div>
        <div class="row box__row">
          <div class="col-xs-12">
            <div class="box__divider"></div>
          </div>
        </div>
        <div class="row box__row">
          <div class="col-xs-12">
            <span class="box__slabel">
            Extra personen:
            </span>
          </div>
        </div>
        <div class="row box__row" ng-if="extraPersons.length === 0">
          <div class="col-xs-12" >
            <small class="box__slabel">
              Geen extra personen toegevoegd
            </small>
          </div>
        </div>
        <div class="row box__row box__row--hover" ng-repeat="person in extraPersons | limitTo: 5" ng-if="extraPersons.length > 0">
          <div class="col-xs-10" >
            <span class="box__slabel" ng-if="person.firstName">
              <a ui-sref="root.person.show.trip({personId: person.id})">{{person | fullname}}</a>
            </span>
            <span class="box__slabel" ng-if="!person.firstName">
              <a ui-sref="root.person.show.trip({personId: person.id})">{{person.email}}</a>
            </span>
          </div>
          <div class="col-xs-2">
            <span class="box__slabel">
              <i ng-click="removeDriver(booking.id, person.email)" class="fa fa-close"></i>
            </span>
          </div>
        </div>
        <div class="row box__row" ng-if="extraPersons.length > 5">
          <div class="col-xs-12" >
            <small class="box__slabel">
              Meer dan 5 extra personen.
            </small>
          </div>
        </div>

      </div>
    </div>
  </div> <!--/ first box, trip -->

  <div class="col-md-3 col-sm-6">
    <div class="box box--min-height">
      <div class="box__title box__title--driver">
        <small>Bestuurder #{{booking.person.id}}, provider #{{booking.person.provider.id}} <a ui-sref="root.person.show.trip({personId: booking.person.id})" class="pull-right box__link">Meer</a></small>
        <h3 title="{{booking.person | fullname }}">{{booking.person | fullname}}</h3>
      </div>
      <div class="box__content">
        <div class="row">
          <div class="col-xs-7">
            <div class="row box__row">
              <div class="col-xs-6"><span class="box__slabel">Status</span></div>
              <div class="col-xs-6"><span class="box__sdata box__sdata--small">{{booking.person.status}}</span></div>
            </div>
            <div class="row box__row">
              <div class="col-xs-6"><span class="box__slabel">Rijbewijs</span></div>
              <div class="col-xs-6"><span class="box__sdata box__sdata--small" ng-class="{'text-danger': booking.person.driverLicenseStatus != 'ok'}">{{booking.person.driverLicenseStatus}}</span></div>
            </div>
            <div class="row box__row">
              <div class="col-xs-12"><span class="box__slabel"><a ng-click="loginAs(booking.person)" class="">Login als bestuurder</a></span></div>
            </div>
          </div>
          <div class="col-xs-5"><img class="pull-right box__sdata box__sdata--image" ng-src="/person/{{booking.person.id}}/90/90/profile.png"></div>
        </div>
        <div class="row box__row">
          <div class="col-xs-4"><span class="box__slabel">Email</span></div>
          <div class="col-xs-8"><span title="{{booking.person.email}}" class="box__sdata box__sdata--small">{{booking.person.email}}</span></div>
          <div class="col-xs-4" ng-if="booking.person.phoneNumbers.length > 0"><span class="box__slabel">Telefoon</span></div>
          <div class="col-xs-8" ng-if="booking.person.phoneNumbers.length > 0">
            <span class="box__sdata box__sdata--small">{{booking.person.phoneNumbers[0].number}} <span ng-click="phoneNumbers.showDriver=!phoneNumbers.showDriver" class="no-outline pull-right" ng-show="booking.person.phoneNumbers.length > 1">{{booking.person.phoneNumbers.length -1}} meer{{showMore}} </span> </span>

            <span ng-if="phoneNumbers.showDriver">
              <span ng-repeat="phone in booking.person.phoneNumbers" ng-if="!$first" class="box__sdata box__sdata--small">
                <br>{{phone.number}}
              </span>
            </span>
          </div>

          <div class="col-xs-4"><span class="box__slabel">Lid sinds</span></div>
          <div class="col-xs-8"><span class="box__sdata box__sdata--small">{{booking.person.created | amDateFormat:'DD-MM-YYYY'}}</span></div>
        </div>
        <div class="row box__row">
          <div class="col-xs-12">
            <div class="box__divider"></div>
          </div>
        </div>
        <div class="row box__row">
          <div class="col-xs-4"><span class="box__slabel">Credit</span></div>
          <div class="col-xs-8"><span class="box__sdata box__sdata--small">{{requiredCredit.credit | currency}}</span></div>
          <div class="col-xs-4"><span class="box__slabel">Debt</span></div>
          <div class="col-xs-8"><span class="box__sdata box__sdata--small">{{requiredCredit.debt | currency}}</span></div>
          <div class="col-xs-4"><span class="box__slabel" title="Bedrag nodig voor aankomende boekingen ({{requiredCredit.bookings.length}} boeking(en))">Boekingen</span></div>
          <div class="col-xs-8"><span class="box__sdata box__sdata--small">{{requiredCredit.sub_total | currency}}</span></div>
          <div class="col-xs-4"><span class="box__slabel"><strong>Totaal nodig</strong></span></div>
          <div class="col-xs-8" ng-if="requiredCredit.total < 0"><span class="box__sdata box__sdata--small">{{0.00 | currency}}</span></div>
          <div class="col-xs-8" ng-if="requiredCredit.total >= 0"><span class="box__sdata box__sdata--small">{{requiredCredit.total | currency}}</span></div>
        </div>
      </div>
    </div>
  </div> <!--/ second box, driver -->

  <div class="col-md-3 col-sm-6">
    <div class="box box--min-height">
      <div class="box__title box__title--owner">
        <small>Eigenaar #{{booking.resource.owner.id}}, provider #{{booking.resource.owner.provider.id}} <a ui-sref="root.person.show.trip({personId: booking.resource.owner.id})" class="pull-right box__link">Meer</a></small>
        <h3 title="{{booking.resource.owner | fullname}}">{{booking.resource.owner | fullname}}</h3>
      </div>
      <div class="box__content">
        <div class="row">
          <div class="col-xs-7">
            <div class="row box__row">
              <div class="col-xs-6"><span class="box__slabel">Status</span></div>
              <div class="col-xs-6"><span class="box__sdata box__sdata--small">{{booking.resource.owner.status}}</span></div>
            </div>
            <div class="row box__row">
              <div class="col-xs-6"><span class="box__slabel">Rijbewijs</span></div>
              <div class="col-xs-6"><span class="box__sdata box__sdata--small" ng-class="{'text-danger': booking.resource.owner.driverLicenseStatus != 'ok'}">{{booking.resource.owner.driverLicenseStatus}}</span></div>
            </div>
            <div class="row box__row">
              <div class="col-xs-12"><span class="box__slabel"><a ng-click="loginAs(booking.resource.owner)" class="">Login als eigenaar</a></span></div>
            </div>
          </div>
          <div class="col-xs-5"><img class="pull-right box__sdata box__sdata--image" ng-src="/person/{{booking.resource.owner.id}}/90/90/profile.png"></div>
        </div>
        <div class="row box__row">
          <div class="col-xs-4"><span class="box__slabel">Email</span></div>
          <div class="col-xs-8"><span title="{{booking.resource.owner.email}}" class="box__sdata box__sdata--small">{{booking.resource.owner.email}}</span></div>
          <div class="col-xs-4" ng-if="booking.resource.owner.phoneNumbers.length > 0"><span class="box__slabel">Telefoon</span></div>
          <div class="col-xs-8" ng-if="booking.resource.owner.phoneNumbers.length > 0">
            <span class="box__sdata box__sdata--small">{{booking.resource.owner.phoneNumbers[0].number}} <span ng-click="phoneNumbers.showOwner=!phoneNumbers.showOwner" class="no-outline pull-right" ng-show="booking.resource.owner.phoneNumbers.length > 1">{{booking.resource.owner.phoneNumbers.length -1}} meer </span> </span>

            <span ng-if="phoneNumbers.showOwner">
              <span ng-repeat="phone in booking.resource.owner.phoneNumbers" ng-if="!$first" class="box__sdata box__sdata--small">
                <br>{{phone.number}}
              </span>
            </span>
          </div>

          <div class="col-xs-4"><span class="box__slabel">Lid sinds</span></div>
          <div class="col-xs-8"><span class="box__sdata box__sdata--small">{{booking.resource.owner.created | amDateFormat:'DD-MM-YYYY'}}</span></div>
        </div>
        <div class="row box__row" ng-if="booking.resource.contactPerson">
          <div class="col-xs-12">
            <div class="box__divider"></div>
          </div>
        </div>
        <div class="row box__row" ng-if="booking.resource.contactPerson">
          <div class="col-xs-4"><span class="box__slabel">Beheerder</span></div>
          <div class="col-xs-8"><span class="box__sdata box__sdata--small">{{booking.resource.contactPerson | fullname}}</span></div>
          <div class="col-xs-4"><span class="box__slabel">Email</span></div>
          <div class="col-xs-8"><span class="box__sdata box__sdata--small">{{booking.resource.contactPerson.email}}</span></div>
          <div class="col-xs-4" ng-if="booking.resource.contactPerson.phoneNumbers.length > 0"><span class="box__slabel">Telefoon</span></div>
          <div class="col-xs-8" ng-if="booking.resource.contactPerson.phoneNumbers.length > 0">
            <span class="box__sdata box__sdata--small">{{booking.resource.contactPerson.phoneNumbers[0].number}} <span ng-click="phoneNumbers.showContactPerson=!phoneNumbers.showContactPerson" class="no-outline pull-right" ng-show="booking.resource.contactPerson.phoneNumbers.length > 1">{{booking.resource.contactPerson.phoneNumbers.length -1}} meer </span> </span>

            <span ng-if="phoneNumbers.showContactPerson">
              <span ng-repeat="phone in booking.resource.contactPerson.phoneNumbers" ng-if="!$first" class="box__sdata box__sdata--small">
                <br>{{phone.number}}
              </span>
            </span>
          </div>
          <div class="col-xs-4"><span class="box__slabel">Lid sinds</span></div>
          <div class="col-xs-8"><span class="box__sdata box__sdata--small">{{booking.resource.contactPerson.created | amDateFormat:'DD-MM-YYYY'}}</span></div>
        </div>
      </div>
    </div>
  </div> <!--/ third box, owner -->

  <div class="col-md-3 col-sm-6">
    <div class="box box--min-height">
      <div class="box__title box__title--resource">
        <small>Auto #{{booking.resource.id}} <a ui-sref="root.resource.show.trip({resourceId: booking.resource.id})" class="pull-right box__link">Meer</a></small>
        <h3 title="{{booking.resource.alias}}">{{booking.resource.alias}}</h3>
      </div>
      <div class="box__content">
        <div class="row">
          <div class="col-xs-7">
            <div class="row box__row">
              <div class="col-xs-6"><span class="box__slabel">Kenteken</span></div>
              <div class="col-xs-6"><span class="box__sdata box__sdata--small" title="{{booking.resource.registrationPlate}}">{{booking.resource.registrationPlate || '-'}}</span></div>
              <div class="col-xs-6"><span class="box__slabel">Vloot</span></div>
              <div class="col-xs-6"><span class="box__sdata box__sdata--small">{{booking.resource.fleet.id}}</span></div>
              <div class="col-xs-6"><span class="box__slabel">Actief</span></div>
              <div class="col-xs-6"><span class="box__sdata box__sdata--small" ng-class="{warn: !booking.resource.isActive}">{{booking.resource.isActive ? 'Ja' : 'Nee'}}</span></div>
            </div>
          </div>
          <div class="col-xs-5">
            <img class="pull-right box__sdata box__sdata--image" ng-src="{{booking.resource.pictures[0] | resourceAvatar:'small' }}">
          </div>
        </div>
        <div class="row box__row">
          <div class="col-xs-5"><span class="box__slabel">Huurprijs</span></div>
          <div class="col-xs-7"><span class="box__sdata box__sdata--small">{{booking.price.hourRate}}/h + {{booking.price.dayRateTotal}}/d + {{booking.price.kilometerRate}}/km</span> </div>
          <div class="col-xs-5"><span class="box__slabel">Brandstof</span></div>
          <div class="col-xs-7"><span class="box__sdata box__sdata--small">{{booking.resource.refuelByRenter ? 'Zelf tanken' : booking.price.fuelPerKilometer+ '/km' + (booking.price.kmFree ? ', 100KM gratis' : '')}}</span></div>
          <div class="col-xs-5"><span class="box__slabel">Merk</span></div>
          <div class="col-xs-7"><span class="box__sdata box__sdata--small">{{(booking.resource.brand | toTitleCase) + ' ' + (booking.resource.model | toTitleCase)}}</span></div>
          <!--<div class="col-xs-5"><span class="box__slabel" title="Is deze auto beschikbaar voor vrienden?">Besck. vrienden</span></div>-->
          <!--<div class="col-xs-7"><span class="box__sdata box__sdata--small">{{booking.resource.isAvailableFriends ? 'Ja' : 'Nee'}} {{booking.resource.isConfirmationRequiredFriends ? ', bevestiging nodig' : ', geen bev'}}</span></div>-->
          <!--<div class="col-xs-5"><span class="box__slabel" ng-if="booking.resource.isAvailableFriends" title="Is de bestuurder een vriend van de auto?">Is best. vriend?</span></div>-->
          <!--<div class="col-xs-7"><span class="box__sdata box__sdata--small" ng-if="booking.resource.isAvailableFriends">{{isFriend ? 'Ja' : 'NEE'}}</span></div>-->
          <!--<div class="col-xs-5"><span class="box__slabel" title="Is deze auto beschikbaar voor anderen?">Besch. overig</span></div>-->
          <!--<div class="col-xs-7"><span class="box__sdata box__sdata--small">{{booking.resource.isAvailableOthers ? 'Ja': 'Nee'}} {{booking.resource.isConfirmationRequiredOthers ? ', bevestiging nodig' : ', geen bev'}}</span></div>-->
          <div class="col-xs-5"><span class="box__slabel" title="Locatie">Locatie</span></div>
          <div class="col-xs-7"><span class="box__sdata box__sdata--small" title="{{booking.resource.location + ', ' + booking.resource.city}}">{{booking.resource.location}} {{ booking.resource.streetNumber }}<br>{{booking.resource.city}}</span></div>
          <div class="col-xs-5"><span class="box__slabel" title="Openen met">Openen met</span></div>
          <div class="col-xs-7">
            <span class="box__sdata box__sdata--small" ng-if="booking.resource.locktype === 'smartphone' && [19667, 18062].indexOf(booking.resource.id) < 0">Smartphone</span>
            <span class="box__sdata box__sdata--small" ng-if="booking.resource.locktype === 'chipcard' && [19667, 18062].indexOf(booking.resource.id) < 0">OV-chipkaart</span>
            <span class="box__sdata box__sdata--small" ng-if="booking.resource.locktype === 'meeting' && [19667, 18062].indexOf(booking.resource.id) < 0">Sleuteloverdracht</span>
            <span class="box__sdata box__sdata--small" ng-if="[19667, 18062].indexOf(booking.resource.id) >= 0">Smartphone of OV-chipkaart</span>
          </div>
          <div class="col-xs-5" ng-if="booking.resource.fuelCardCode">
            <span class="box__slabel" title="Locatie">Tankcode</span>
          </div>
          <div class="col-xs-7" ng-if="booking.resource.fuelCardCode">
            <span class="box__sdata box__sdata--small" title="Tankcode van de auto">{{booking.resource.fuelCardCode}}</span>
          </div>
          <div class="col-xs-12"><span class="box__slabel">
            <a ng-click="resourceRemark()" class="">Opmerkingen bij auto</a>
          </span></div>
        </div>
      </div>
    </div>
  </div><!-- /fourth box, car/resource -->

</div><!-- /first row containing 4 boxes -->

<div class="row row--padding-top">

  <div class="col-sm-6">
    <div class="box">
      <div class="box__title box__title--driver">
        <h3 ng-click="open(1)" class="no-outline" >Facturen bestuurder<small style="position:absolute; right: 10px;" class="text-white no-outline"><i class="fa fa-fw" ng-class="{'fa-chevron-down': isOpen(1), 'fa-chevron-right': !isOpen(1)}"></i></small></h3>
      </div>
      <div class="box__content" ng-if="isLoading(1)">
        <h3 class="text-center"><i class="fa fa-fw fa-spin fa-spinner"></i></h3>
      </div>
      <div class="box__content" ng-if="isOpen(1)">
        <div class="row row--small-font row--no-margin row--invoice-heading">
          <div class="col-xs-1">#</div>
          <div class="col-xs-5">Omschrijving</div>
          <div class="col-xs-2 text-right">Totaal</div>
          <div class="col-xs-2">Te ontv/bet</div>
          <div class="col-xs-2">Status</div>
        </div>
        <div class="row row--small-font row--hoverable row--no-margin row--invoice-line" ng-repeat="invoiceLine in invoicesRenter">
          <div ng-if="invoiceLine.invoice.id" class="col-xs-1">{{invoiceLine.invoice.id}}</div>
          <div class="col-xs-5">{{invoiceLine.description}}</div>
          <div title="{{invoiceLine.quantity}} x {{invoiceLine.price}} = {{invoiceLine.total|currency}}" ng-class="{'neg': invoiceLine.total < 0}" class="col-xs-2 text-right number">{{invoiceLine.total | currency}}</div>
          <div class="col-xs-2">te {{invoiceLine.relationType === 'sent' ? 'ontv.' : 'bet.'}}</div>
          <div class="col-xs-2">
            <span ng-if="!invoiceLine.invoice.groupId">
              <i title="Deze factuur is nog niet (uit)betaald" class="fa fa-fw fa-money fa--muted"></i>
              <i title="Factuur nog niet gebundeld" class="fa fa-fw fa-expand fa--muted"></i>
            </span>
            <span ng-if="invoiceLine.invoice.groupId">
              <span ng-if="invoiceLine.invoice.group.total > 0">
                <i ng-class="{'text-muted': !invoiceLine.invoice.group.paid}" title="{{ !invoiceLine.invoice.group.paid ? 'Factuur nog niet betaald' : 'Factuur betaald op ' + invoiceLine.invoice.group.paid}}" class="fa fa-fw fa-money"></i>
              </span>
              <span ng-if="invoiceLine.invoice.group.total <= 0">
                <i ng-class="{'text-muted': !invoiceLine.invoice.group.payoutRequest}" title="{{ !invoiceLine.invoice.group.payoutRequest ? 'Factuur nog niet uitbetaald' : invoiceLine.invoice.group.payoutRequest.paid !== null ? 'Uitbetaling voldaan' : 'Uitbetaling aangevraagd maar nog niet uitgevoerd'}}" class="fa fa-fw fa-money"></i>
              </span>
              <a ui-sref="root.invoice2.invoiceGroup.show({invoiceGroupId: invoiceLine.invoice.groupId})">
                <i title="{{'Factuur onderdeel van verzamelfactuur '+ invoiceLine.invoice.groupId + ', klik om factuur te bekijken'}}" class="fa fa-fw fa-expand"></i>
              </a>
            </span>
          </div>
        </div>
        <div ng-if="!invoicesRenter || invoicesRenter.length == 0" class="row row--small-font">
          <div class="col-xs-12 text-center">
            Nog geen facturen
          </div>
        </div>
      </div>
    </div>
  </div> <!--/ first box, invoices driver-->

  <div class="col-sm-6">
    <div class="box">
      <div class="box__title box__title--owner">
        <h3 ng-click="open(2)">Facturen eigenaar<small style="position:absolute; right: 10px;" class="text-white no-outline"><i class="fa fa-fw" ng-class="{'fa-chevron-down': isOpen(2), 'fa-chevron-right': !isOpen(2)}"></i></small></h3>
      </div>
      <div class="box__content" ng-if="isLoading(2)">
        <h3 class="text-center"><i class="fa fa-fw fa-spin fa-spinner"></i></h3>
      </div>
      <div class="box__content" ng-if="isOpen(2)">
        <div class="row row--small-font row--no-margin row--invoice-heading">
          <div class="col-xs-1">#</div>
          <div class="col-xs-5">Omschrijving</div>
          <div class="col-xs-2 text-right">Totaal</div>
          <div class="col-xs-2">Te ontv/bet</div>
          <div class="col-xs-2">Status</div>
        </div>
        <div class="row row--small-font row--hoverable row--no-margin row--invoice-line" ng-repeat="invoiceLine in invoicesOwner">
          <div ng-if="invoiceLine.invoice.id" class="col-xs-1">{{invoiceLine.invoice.id}}</div>
          <div class="col-xs-5">{{invoiceLine.description}}</div>
          <div title="{{invoiceLine.quantity}} x {{invoiceLine.price}} = {{invoiceLine.total|currency}}" ng-class="{'neg': invoiceLine.total < 0}" class="col-xs-2 text-right number">{{invoiceLine.total | currency}}</div>
          <div class="col-xs-2">te {{invoiceLine.relationType === 'sent' ? 'ontv.' : 'bet.'}}</div>
          <div class="col-xs-2">
            <span ng-if="!invoiceLine.invoice.groupId">
              <i title="Deze factuur is nog niet (uit)betaald" class="fa fa-fw fa-money fa--muted"></i>
              <i title="Factuur nog niet gebundeld" class="fa fa-fw fa-expand fa--muted"></i>
            </span>
            <span ng-if="invoiceLine.invoice.groupId">
              <span ng-if="invoiceLine.invoice.group.total > 0">
                <i ng-class="{'text-muted': !invoiceLine.invoice.group.paid}" title="{{ !invoiceLine.invoice.group.paid ? 'Factuur nog niet betaald' : 'Factuur betaald op ' + invoiceLine.invoice.group.paid}}" class="fa fa-fw fa-money"></i>
              </span>
              <span ng-if="invoiceLine.invoice.group.total <= 0">
                <i ng-class="{'text-muted': !invoiceLine.invoice.group.payoutRequest}" title="{{ !invoiceLine.invoice.group.payoutRequest ? 'Factuur nog niet uitbetaald' : invoiceLine.invoice.group.payoutRequest.paid !== null ? 'Uitbetaling voldaan' : 'Uitbetaling aangevraagd maar nog niet uitgevoerd'}}" class="fa fa-fw fa-money"></i>
              </span>
              <a ui-sref="root.invoice2.invoiceGroup.show({invoiceGroupId: invoiceLine.invoice.groupId})">
                <i title="{{'Factuur onderdeel van verzamelfactuur '+ invoiceLine.invoice.groupId + ', klik om factuur te bekijken'}}" class="fa fa-fw fa-expand"></i>
              </a>
            </span>
          </div>
        </div>
        <div ng-if="!invoicesOwner || invoicesOwner.length == 0" class="row row--small-font">
          <div class="col-xs-12 text-center">
            Nog geen facturen
          </div>
        </div>
      </div>
    </div>
  </div> <!--/ second box, invoices owner-->

</div><!--/ second row, 2 invoice boxes -->

<div class="row row--padding-top">
  <div class="col-sm-6">
    <div class="box">
      <div class="box__title box__title--trip">
        <h3 ng-click="open(3)">Tankbonnen<small style="position:absolute; right: 10px;" class="text-white no-outline"><i class="fa fa-fw" ng-class="{'fa-chevron-down': isOpen(3), 'fa-chevron-right': !isOpen(3)}"></i></small></h3>
      </div>
      <div class="box__content" ng-if="isLoading(3)">
        <h3 class="text-center"><i class="fa fa-fw fa-spin fa-spinner"></i></h3>
      </div>
      <div class="box__content" ng-if="isOpen(3)">
        <div class="row row--small-font row--no-margin row--invoice-heading">
          <div class="col-xs-4">Bedrag</div>
          <div class="col-xs-4">Datum</div>
          <div class="col-xs-4">Afbeelding</div>
        </div>
        <div class="row row--small-font row--hoverable row--no-margin row--invoice-line" ng-repeat="declaration in declarations">
          <div class="col-xs-4">{{declaration.amount | currency}}</div>
          <div class="col-xs-4">{{declaration.created | amDateFormat:'DD-MM-YYYY'}}</div>
          <div class="col-xs-4" ng-click="openDeclaration(declaration)">Bekijk afbeelding <i class="fa fa-fw fa-window-restore"></i></div>
        </div>
        <div class="row row--small-font row--hoverable row--no-margin row--invoice-line" ng-if="!declarations || declarations.length == 0">
          <div class="col-xs-12">Geen tankbonnen toegevoegd</div>
        </div>
      </div>
    </div>
  </div> <!--/ first box, invoices driver-->

  <div class="col-sm-6">
    <div class="box">
      <div class="box__title box__title--trip">
        <h3 ng-click="open(4)">Kortingscodes<small style="position:absolute; right: 10px;" class="text-white no-outline"><i class="fa fa-fw" ng-class="{'fa-chevron-down': isOpen(4), 'fa-chevron-right': !isOpen(4)}"></i></small></h3>
      </div>
      <div class="box__content" ng-if="isLoading(4)">
        <h3 class="text-center"><i class="fa fa-fw fa-spin fa-spinner"></i></h3>
      </div>
      <div class="box__content" ng-if="isOpen(4)">
        <div class="row row--small-font row--no-margin row--invoice-heading">
          <div class="col-xs-4">Code</div>
          <div class="col-xs-4">Korting</div>
          <div class="col-xs-4">Details</div>
        </div>
        <div class="row row--small-font row--hoverable row--no-margin row--invoice-line" ng-repeat="discountCode in discountCodes">
          <div class="col-xs-4">{{discountCode.discount.code}}</div>
          <div class="col-xs-4">{{discountCode.discount.amount ? '€ ' + discountCode.discount.amount : discountCode.discount.percentage + '%'}}</div>
          <div class="col-xs-4 no-outline" ng-click="openDiscount(discountCode)">Bekijk details </div>
        </div>
        <div class="row row--small-font row--hoverable row--no-margin row--invoice-line" ng-if="!discountCodes || discountCodes.length == 0">
          <div class="col-xs-12">Geen kortingscodes toegevoegd</div>
        </div>
      </div>
    </div>
  </div>
</div><!--/ third row, declarations -->

<div class="row row--padding-top">
  <div class="col-sm-12">
    <div class="box">
      <div class="box__title box__title--trip">
        <h3 ng-click="open(5)">Revisies<small style="position:absolute; right: 10px;" class="text-white no-outline"><i class="fa fa-fw" ng-class="{'fa-chevron-down': isOpen(5), 'fa-chevron-right': !isOpen(5)}"></i></small></h3>
      </div>
      <div class="box__content" ng-if="isLoading(5)">
        <h3 class="text-center"><i class="fa fa-fw fa-spin fa-spinner"></i></h3>
      </div>
      <div class="box__content" ng-if="isOpen(5)">
        <div class="row row--small-font row--no-margin row--invoice-heading">
          <div class="col-xs-2">Datum</div>
          <div class="col-xs-4">Wijziging</div>
          <div class="col-xs-2">Begintijd</div>
          <div class="col-xs-2">Eindtijd</div>
          <div class="col-xs-2">Gebruiker</div>
        </div>
        <div class="row row--small-font row--hoverable row--no-margin row--invoice-line" ng-repeat="revision in revisions | orderBy: '-loggedAt'">
          <div class="col-xs-2">{{ revision.loggedAt | amDateFormat:'DD-MM-YYYY HH:mm' }}</div>
          <div class="col-xs-4">
            <span ng-if="revision.action==='create' && revision.data.status">created ({{ revision.data.status }})</span>
            <span ng-if="revision.action==='create' && !revision.data.status">created</span>
            <span ng-if="revision.action==='update' && !revision.data.status && !revision.data.beginRequested.date && !revision.data.responded">
              {{ revision.data | json }}
            </span>
            <span ng-if="revision.action==='update' && !revision.data.status && revision.data.beginRequested.date">requested</span>
            <span ng-if="revision.action==='update' && !revision.data.status && revision.data.responded">times changed</span>
            <span ng-if="revision.action!=='create' && revision.data.status">{{ revision.data.status }}</span>
          </div>
          <div class="col-xs-2" ng-if="revision.data.beginBooking.date || !revision.data.beginRequested.date">
            {{ revision.data.beginBooking.date | amDateFormat:'DD-MM-YYYY HH:mm' }}
          </div>
          <div class="col-xs-2" ng-if="revision.data.beginRequested.date">
            {{ revision.data.beginRequested.date | amDateFormat:'DD-MM-YYYY HH:mm' }}
          </div>
          <div class="col-xs-2" ng-if="revision.data.endBooking.date || !revision.data.endRequested.date">
            {{ revision.data.endBooking.date | amDateFormat:'DD-MM-YYYY HH:mm' }}
          </div>
          <div class="col-xs-2" ng-if="revision.data.endRequested.date">
            {{ revision.data.endRequested.date | amDateFormat:'DD-MM-YYYY HH:mm' }}
          </div>
          <div class="col-xs-2" ng-if="revision.username">{{ revision.username }}</div>
          <div class="col-xs-2" ng-if="!revision.username">system</div>
        </div>
        <div class="row row--small-font row--hoverable row--no-margin row--invoice-line" ng-if="!revisions || revisions.length == 0">
          <div class="col-xs-12">Geen revisies gevonden</div>
        </div>
      </div>
    </div>
  </div>
</div><!--/ fourth row, revisions -->

<div class="row row--padding-top">
  <div class="col-sm-12">
    <div class="box">
      <div class="box__title box__title--trip">
        <h3 ng-click="open(6)">Komende ritten<small style="position:absolute; right: 10px;" class="text-white no-outline"><i class="fa fa-fw" ng-class="{'fa-chevron-down': isOpen(6), 'fa-chevron-right': !isOpen(6)}"></i></small></h3>
      </div>
      <div class="box__content" ng-if="isLoading(6)">
        <h3 class="text-center"><i class="fa fa-fw fa-spin fa-spinner"></i></h3>
      </div>
      <div class="box__content" ng-if="isOpen(6)">
        <div class="row row--small-font row--no-margin row--invoice-heading">
          <div class="col-xs-1">#</div>
          <div class="col-xs-3">Boeking datum</div>
          <div class="col-xs-2">Huurder</div>
          <div class="col-xs-2">Betaald</div>
          <div class="col-xs-2">Telefoonnummer</div>
          <div class="col-xs-2">Actie</div>
        </div>
        <div class="row row--small-font row--hoverable row--no-margin row--invoice-line" ng-repeat="booking in nextBookings | orderBy: 'beginBooking'">
          <div class="col-xs-1">
            <a ui-sref="root.trip.dashboard({ tripId: booking.id })">#{{ booking.id }}</a>
          </div>
          <div class="col-xs-3">
            <booking-date ng-if="booking.beginBooking" booking="booking"></booking-date>
          </div>
          <div class="col-xs-2">
            <a ui-sref="root.person.show.trip({ personId: booking.person.id })">{{ booking.person.firstName }}</a>
          </div>
          <div class="col-xs-2" ng-class="{'box__sdata--green': booking.approved=='OK', 'text-danger': booking.approved == 'BUY_VOUCHER' || booking.approved == 'INSPECT' || booking.approved == 'TO_BE_PAID'}">
            {{booking.approved}}
          </div>
          <div class="col-xs-2">
            <a ng-click="showPhoneNumbers(booking.person)">Toon</a>
          </div>
          <div class="col-xs-2">
            <a ng-click="bookOtherResource(booking)">Omboeken</a>
          </div>
        </div>
        <div class="row row--small-font row--hoverable row--no-margin row--invoice-line" ng-if="!nextBookings || nextBookings.length == 0">
          <div class="col-xs-12">Geen komende ritten gevonden</div>
        </div>
      </div>
    </div>
  </div>
</div><!--/ fifth row, revisions -->

<div class="row row--padding-top">
  <div class="col-sm-12">
    <div class="box box--small">
      <div class="box__title box__title--remarks">
        <h3 ng-click="open(7)">Opmerkingen, notities & overleg<small style="position:absolute; right: 10px;" class="text-white no-outline"><i class="fa fa-fw" ng-class="{'fa-chevron-down': isOpen(7), 'fa-chevron-right': !isOpen(7)}"></i></small></h3>
      </div>
      <div class="box__content" ng-if="isLoading(7)">
        <h3 class="text-center"><i class="fa fa-fw fa-spin fa-spinner"></i></h3>
      </div>
      <div class="" ng-if="isOpen(7)">

        <div class="row remark" ng-if="!remarks || remarks.length == 0">
          <div class="col-xs-12">
            Nog geen notities toegevoegd
          </div>
        </div>

        <div class="row remark" ng-if="remark.type == 'custom'" ng-repeat-start="remark in remarks">
          <div class="col-sm-2 col-xs-4">
            <span class="remark__person">
              {{remark.creator.firstName}}
              <small class="remark__date">{{remark.created | amDateFormat:'DD-MM-YYYY HH:mm'}}</small>
            </span>
          </div>
          <div class="col-xs-6 col-sm-8">
            <span class="remark__message">{{remark.message}}</span>
          </div>
          <div class="col-xs-2 col-sm-2 remark__follow-up">
            <span class="hidden-xs" ng-if="remark.followUpDate">Follow-up: {{remark.followUpDate | amDateFormat:'DD-MM-YYYY'}}</span>
            <span class="hidden-sm hidden-md hidden-lg" ng-if="remark.followUpDate"><span uib-tooltip="Follow-up: {{remark.followUpDate | amDateFormat:'DD-MM-YYYY'}}">FO</span></span>
          </div>
        </div>

        <div class="row remark" ng-if="remark.type == 'owner_called'">
          <div class="col-xs-4 col-sm-2">
            <span class="remark__person remark__person--system">Systeem</span>
          </div>
          <div class="col-xs-8 col-sm-10">
            <span class="remark__message remark__message--system">De eigenaar heeft over deze trip gebeld op {{remark.created | amDateFormat:'DD-MM-YYYY HH:mm'}} en gesproken met {{remark.creator.firstName}}</span>
          </div>
        </div>

        <div class="row remark" ng-if="remark.type == 'driver_called'" ng-repeat-end>
          <div class="col-xs-4 col-sm-2">
            <span class="remark__person remark__person--system">Systeem</span>
          </div>
          <div class="col-xs-8 col-sm-10">
            <span class="remark__message remark__message--system">De bestuurder heeft over deze trip gebeld op {{remark.created | amDateFormat:'DD-MM-YYYY HH:mm'}} en gesproken met {{remark.creator.firstName}}</span>
          </div>
        </div>

      </div>
    </div>
  </div> <!--/ first box, invoices driver-->
</div><!-- / sixt row, remarks -->

<div class="quickaction">

  <ul>
    <a ng-class="{'quickaction__toggler--hidden': hideMain, 'quickaction__toggler--shown' : !hideMain}" ng-init="hideMain=false" ng-click="hideMain=!hideMain" type="button" class="quickaction__toggler">
      <i ng-class="{'fa-chevron-right': hideMain, 'fa-chevron-left' : !hideMain}" class="fa fa-fw"></i>
    </a>
    <li ng-click="changeEndTime()" class="quickaction__item--trip" ng-hide="hideMain"><span tooltip-placement="right" uib-tooltip="Verleng deze rit">Verlengen</span></li>
    <li ng-click="changeBeginTime()" class="quickaction__item--trip" ng-hide="hideMain"><span tooltip-placement="right" uib-tooltip="Vervroeg deze rit">Vervroegen</span></li>
    <li ng-click="stop()" class="quickaction__item--trip" ng-hide="hideMain"><span tooltip-placement="right" uib-tooltip="Rit inkorten">Inkorten</span></li>

    <li ng-click="accept()" ng-if="booking.status === 'requested' || booking.beginRequested" ng-hide="hideMain" class="quickaction__item--trip">
      <span tooltip-placement="right" uib-tooltip="Rit accepteren">Accepteren</span>
    </li>
    <li ng-click="reject()" ng-if="booking.status === 'requested' || booking.beginRequested" ng-hide="hideMain" class="quickaction__item--trip">
      <span tooltip-placement="right" uib-tooltip="Rit afwijzen">Afwijzen</span>
    </li>
    <li ng-click="cancel()" ng-if="['cancelled', 'owner_cancelled', 'rejected'].indexOf(booking.status) < 0" ng-hide="hideMain" class="quickaction__item--trip">
      <span tooltip-placement="right" uib-tooltip="Rit annuleren">Annuleren</span>
    </li>
  
    <li ng-click="openResource()" class="quickaction__item--trip" ng-hide="hideMain" ng-if="booking.resource.boardcomputer">
      <span tooltip-placement="right" uib-tooltip="Auto openen">Openen</span>
    </li>
    <li ng-click="close()" class="quickaction__item--trip" ng-hide="hideMain" ng-if="booking.resource.boardcomputer">
      <span tooltip-placement="right" uib-tooltip="Auto sluiten">Sluiten</span>
    </li>
    <li ng-click="chip()" class="quickaction__item--trip" ng-hide="hideMain" ng-if="booking.resource.boardcomputer === 'ccome'">
      <span tooltip-placement="right" uib-tooltip="Nieuwe OV-chipkaart koppelen">Chipkaart</span>
    </li>

    <li ng-click="start()" class="quickaction__item--trip" ng-hide="hideMain" ng-if="booking.resource.boardcomputer">
      <span tooltip-placement="right" uib-tooltip="Problemen met starten">Starten</span>
    </li>
    <li ng-click="book()" class="quickaction__item--trip" ng-hide="hideMain"><span tooltip-placement="right" uib-tooltip="Boek een auto">Boeken</span></li>
    <li ng-click="breakdown()" class="quickaction__item--trip" ng-hide="hideMain"><span tooltip-placement="right" uib-tooltip="Pechhulp inschakelen">Pech</span></li>
    <li ng-click="damage()" class="quickaction__item--trip" ng-hide="hideMain"><span tooltip-placement="right" uib-tooltip="Schade melden">Schade</span></li>
    <li ng-click="previousBooking()" class="quickaction__item--trip" ng-hide="hideMain"><span tooltip-placement="right" uib-tooltip="Contactgegevens van de vorige huurder">Vorige</span></li>

    <a ng-class="{'quickaction__toggler--hidden': hide, 'quickaction__toggler--shown' : !hide}" ng-init="hide=true" ng-click="hide=!hide" type="button" class="quickaction__toggler">
      <i ng-class="{'fa-chevron-right': hide, 'fa-chevron-left' : !hide}" class="fa fa-fw"></i>
    </a>

    <!-- / hide some actions -->
    <li ng-click="resendBoardcomputer()" class="quickaction__item--trip" ng-if="booking.resource.boardcomputer === 'ccome'" ng-hide="hide">
      <span tooltip-placement="right" uib-tooltip="Stuur boeking naar boordcomputer">CCOME</span>
    </li>
    <li ng-click="refundBooking()" class="quickaction__item--trip" ng-hide="hide" ng-if="booking.approved=='OK'"><span tooltip-placement="right" uib-tooltip="Crediteer rit">Restitutie</span></li>
    <li ng-click="addDeclaration()" class="quickaction__item--trip" ng-hide="hide"><span tooltip-placement="right" uib-tooltip="Voeg tankbonnen toe">Tankbon</span></li>
    <li ng-click="addKm()" class="quickaction__item--trip" ng-hide="hide"><span tooltip-placement="right" uib-tooltip="Wijzig kilometerstanden">KM-standen</span></li>
    <!--<li ng-click="notifyDamage()" class="quickaction__item--trip"><span tooltip-placement="right" uib-tooltip="Stuur schademails">Schade</span></li>-->
    <li ng-click="mailAgreement()" class="quickaction__item--trip" ng-hide="hide"><span tooltip-placement="right" uib-tooltip="Mail huurovereenkomst">Overeen</span></li>
    <li ng-click="applyDiscount()" class="quickaction__item--trip" ng-hide="hide"><span tooltip-placement="right" uib-tooltip="Voeg kortingscode toe">Korting</span></li>
    <li ng-click="switchContract()" class="quickaction__item--trip" ng-hide="hide"><span tooltip-placement="right" uib-tooltip="Wissel van contract">Contract</span></li>
  </ul>
</div>

<div class="chat container">
  <div class="row chat__form">
      <form ng-submit="sendChat()">
        <div class="col-sm-12">
          <div class="relcon">
            <input type="text" placeholder="Opmerkingen, notities en aantekeningen voor collega's" class="chat__message-inp" ng-model="chat.message">
            <div class="chat__inp-buttons">
              <button type="submit" class="chat__button" uib-tooltip="Verstuur (enter)" ng-disabled="chat.loading.message"><i ng-class="{'fa-spinner fa-spin': chat.loading.message, 'fa-paper-plane': !chat.loading.message}" class="fa fa-fw"></i></button>
              <button type="button" ng-click="openTextEditorDialog()" class="chat__button" uib-tooltip="Toon groter tekstvlak" ><i class="fa fa-fw fa-expand"></i></button>
              <button type="button" ng-class="{'chat__button--active': chat.date}" ng-click="openDatepickerDialog()" class="chat__button" uib-tooltip="Voeg follow-up datum toe" ><i class="fa fa-fw fa-calendar"></i></button>
              <button type="button" ng-click="sendCalled('driver')" ng-disabled="chat.loading.driver" class="chat__button" uib-tooltip="{{!chat.driverCalledFlag ? 'Voeg \'De bestuurder belde\' notitie toe' : 'Verwijder \'De bestuurder belde\' notitie'}}"><i ng-class="{'fa-spinner fa-spin': chat.loading.driver, 'fa-phone': !chat.loading.driver}" class="fa fa-fw"></i> Bestuuder</button>
              <button type="button" ng-click="sendCalled('owner')" ng-disabled="chat.loading.owner" class="chat__button" uib-tooltip="{{!chat.ownerCalledFlag ? 'Voeg \'De eigenaar belde\' notitie toe' : 'Verwijder \'De eigenaar belde\' notitie'}}" ><i ng-class="{'fa-spinner fa-spin': chat.loading.owner, 'fa-phone': !chat.loading.owner}" class="fa fa-fw"></i> Eigenaar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
