<md-dialog flex="70" flex-sm="80">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Vouchers ({{vouchers.length}})</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Created</th>
            <th>Paid</th>
            <th>Current value</th>
            <th>Initial value</th>
            <th>Payout</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="voucher in vouchers | orderBy: '-created'">
            <td>{{ voucher.id }}</td>
            <td>{{ voucher.created | amDateFormat : 'DD-MM-YY' }}</td>
            <td>{{ voucher.paid | amDateFormat : 'DD-MM-YY HH:MM' }}</td>
            <td><b>{{ voucher.currency }} {{ voucher.value | number:2 }}</b></td>
            <td>{{ voucher.currency }} {{ voucher.initialValue | number:2 }}</td>
            <td ng-if="!voucher.payoutRequest && voucher.value >= 0.1"><a href="" ng-click="payoutVoucher(voucher)">Payout</a></td>
            <td ng-if="voucher.payoutRequest && !voucher.payoutRequest.paid" class="text-muted">Requested</td>
            <td ng-if="voucher.payoutRequest.paid" class="text-success text-center">
              <i class="fa fa-check"></i>
            </td>
            <td ng-if="!voucher.payoutRequest && voucher.value < 0.1"></td>
            <td ng-if="!voucher.payments.length  && !voucher.payoutRequest">
              <button class="btn btn-default btn-xs" title="Verwijder voucher" ng-click="deleteVoucher(voucher)">
                <i class="fa fa-trash-o fa-lg"></i>
              </button>
            </td>
            <td ng-if="voucher.payments.length  && !voucher.payoutRequest">
              <button title="Verwijder betalingen" class="btn btn-default btn-xs" ng-click="deletePayments(voucher)">
                <i class="fa fa-chain-broken fa-lg"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="cancel()">
     Sluiten
    </md-button>
  </md-dialog-actions>
</md-dialog>
