<table class="table">
    <thead>
        <tr>
            <td></td>
            <th>Volgorde</th>
            <th>Telefoonnummer</th>
            <th>Type</th>
            <th>Geverifieerd</th>
            <th><i class="fa fa-eye"></i></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="phone in phoneNumbers">
            <td class="text-right">
                <button class="btn btn-default btn-sm" ng-click="editPhone(phone)"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-default btn-sm" ng-click="removePhone(phone)"><i class="fa fa-trash-o"></i></button>
            </td>
            <td class="text-right">{{ phone.sortOrder }}</td>
            <td>{{ phone.number }}</td>
            <td>{{ phone.type }}</td>
            <td>{{ phone.verified ? 'Ja' : 'Nee' }}</td>
            <td><i ng-class="{ 'fa fa-eye': !phone.confidential, 'fa fa-eye-slash': phone.confidential }"></i></td>
        </tr>
    </tbody>
</table>
<button ng-click="addPhone()" class="btn">Voeg telefoonnummer toe</button>