<div class="panel panel-default card">
  <div class="panel-heading card__heading">
    <div class="media">
      <div class="pull-left">
        <img class="img-responsive media-object img-square" ng-src="{{ person | personAvatar:'square' }}">
      </div>
      <div class="media-body">
        <h3 class="card__title"><a target="_blank" href="{{ frontDashboard }}{{ person.email }}"><i
          class="fa fa-external-link"></i></a> {{ person | fullname }}
          <small>
            {{ person.id }},
            provider {{ person.provider.id }} <b>{{ person.provider.name }}</b>
          </small>
        </h3>
        <ul class="list-inline card__subtitle">
          <li><i class="fa fa-user"></i> {{ person.status }}</li>
          <li><i class="fa fa-calendar"></i> {{ person.created | amDateFormat:'DD-MM-YYYY' }}</li>
          <li><a href="mailto:{{person.email}}"><i class="fa fa-envelope"></i></a> {{ person.email }}</li>
          <li><i class="fa fa-mobile-phone"></i> <span ng-repeat="phone in person.phoneNumbers | limitTo: 2">{{ phone.number }}<span ng-if="!$last">, </span></span></li>
          <li><i class="fa fa-home"></i> {{ person.streetName }} {{ person.streetNumber }}, {{person.zipcode}} {{ person.city }}</li>
          <li><i class="fa fa-calendar-o"></i> {{ person.dateOfBirth | amDateFormat:'DD-MM-YYYY' }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default card">
  <nav class="navbar navbar-default card__navbar">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ow-navbar-collapse-person">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="ow-navbar-collapse-person">
      <ul class="nav navbar-nav navbar__full-width">
        <li ng-class="{ active: $state.includes('root.person.show.summary') }">
          <a ui-sref="root.person.show.summary">Summary</a>
        </li>
        <li ng-class="{ active: $state.includes('root.person.show.data') }">
          <a ui-sref=".data.personal">Data</a>
        </li>
        <li ng-class="{ active: $state.includes('root.person.show.trip') }">
          <a ui-sref=".trip">Trips</a>
        </li>
        <li show-if-user-has-role="ROLE_ADMIN" ng-class="{ active: $state.includes('root.person.show.invoice-group') }">
          <a ui-sref=".invoice-group.list">Verzamelfacturen</a>
        </li>
        <li ng-class="{ active: $state.includes('root.person.show.invoiceGroupV2') }" ng-if="user.identity.id !== 542476">
          <a ui-sref=".invoiceGroupV2.list">Invoice</a>
        </li>
        <li ng-class="{ active: $state.includes('root.person.show.vouchers') }" ng-if="user.identity.id !== 542476">
          <a ui-sref=".vouchers">Vouchers</a>
        </li>
        <li ng-class="{ active: $state.includes('root.person.show.damage') }">
          <a ui-sref="root.person.show.damage({ personId: person.id })">Damage</a>
        </li>
        <li ng-class="{ active: $state.includes('root.person.show.payouts') }" ng-if="user.identity.id !== 542476">
          <a ui-sref=".payouts">Payouts</a>
        </li>
        <li ng-class="{ active: $state.includes('root.person.show.contracts') }">
          <a ui-sref=".contracts">Contracts</a>
        </li>
        <li ng-class="{ active: $state.includes('root.person.show.resource.list') }">
          <a ui-sref=".resource.list">Resources</a>
        </li>
        <li ng-class="{ active: $state.includes('root.person.show.chipcards') }">
          <a ui-sref=".chipcards">Chipcards</a>
        </li>

        <li class="dropdown" ng-class="{ active: $state.includes('root.person.show.messages') || $state.includes('root.person.show.communication') || $state.includes('root.person.show.messagesms') }">
          <a class="dropdown-toggle" data-toggle="dropdown">Messages</a>
          <ul class="dropdown-menu">
            <li ng-class="{ active: $state.includes('root.person.show.messages') }">
              <a ui-sref=".messages">PM Messages</a>
            </li>
            <li ng-class="{ active: $state.includes('root.person.show.messagesms') }">
              <a ui-sref=".messagesms">Push Messages</a>
            </li>
            <li ng-class="{ active: $state.includes('root.person.show.communication') }">
              <a ui-sref=".communication">Communication</a>
            </li>
          </ul>
        </li>
        <li ng-class="{ active: $state.includes('root.person.show.remarklog') }">
          <a ui-sref=".remarklog">Remarks</a>
        </li>

        <li class="dropdown pull-right">
        <a class="dropdown-toggle" data-toggle="dropdown">More <big><i class="fa fa-fw fa fa-ellipsis-v"></i></big></a>
          <ul class="dropdown-menu">
            <li show-if-user-has-role="ROLE_ADMIN" ng-class="{ active: $state.includes('root.person.show.transaction.list') }">
              <a ui-sref=".transaction.list">Transactions</a>
            </li>
            <li ng-class="{ active: $state.includes('root.person.show.rating') }">
              <a ui-sref=".rating">Ratings</a>
            </li>
            <li ng-class="{ active: $state.includes('root.person.show.badges') }">
              <a ui-sref=".badges">Badges ( {{ person.badges.length }} )</a>
            </li>
            <li ng-class="{ active: $state.includes('root.person.show.actions') }">
              <a ui-sref=".actions">Actions</a>
            </li>
            <li ng-class="{ active: $state.includes('root.person.show.revisions') }">
              <a ui-sref=".revisions">Revisions</a>
              </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div style="margin: 1em;">
    <div style="margin-bottom: 0;" uib-alert close="hide=!hide" ng-hide="hide || !person.remark" class="alert-warning">
      <strong>Remark:</strong> 
      <span style="white-space: pre;">{{person.remark}}</span>
    </div>
  </div>
  <div class="panel-body" style="padding-top: 0">
    <div ui-view></div>
  </div>
</div>
