<div class="row">

  <div class="col-sm-3">
    <div class="panel panel-default card">
      <div class="panel-body">
        <form class="form">

          <div class="form-group">
            <label>Filter</label>
            <select ng-model="params.unchecked" class="form-control"
              ng-options="(item ? 'Unchecked only' : 'Checked only') for item in [true, false]"></option>
            <select>
          </div>

        </form>
      </div>
    </div>
  </div>


  <div class="col-sm-9">
    <div class="panel panel-default card">
      <div class="panel-body">
        <h3>Accounts</h3>

        <table class="table">
          <thead>
            <tr>
              <th>Person</th>
              <th>Name</th>
              <th>IBAN</th>
              <th>Approved</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="account in accounts">
              <td>
                <a ui-sref="root.person.show.summary({ personId: account.person.id })">
                  {{ account.person | fullname }}
                </a>
              </td>

              <td>{{ account.lastName }}</td>

              <td>{{ account.iban }}</td>

              <td>
                <span ng-if="account.approved">
                  <i class="fa fa-check fa-fw text-success"></i> Approved (<a href="" ng-click="disapprove(account)" show-if-user-has-role="ROLE_ADMIN">(disapprove)</a>
                </span>
                <span ng-if="!account.approved">
                  <i class="fa fa-times fa-fw text-danger"></i> Not approved <a href="" ng-click="approve(account)" show-if-user-has-role="ROLE_ADMIN">(approve)</a>
                </span>
              </td>

            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
