<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->


  <div class="collapse navbar-collapse navbar-main-collapse">
    <ul class="nav navbar-nav" ng-if="user.identity.provider.id === 1">
      <li show-if-user-has-role="ROLE_PROVIDER_ADMIN" ng-class="{ active: $state.includes('phoneLog.current') }">
        <a ui-sref="phoneLog.current">Phone calls</a>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li show-if-user-has-role="ROLE_PROVIDER_ADMIN"
          ng-class="{ dropdown: true, active: $state.includes('root.person') }">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">Person <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li show-if-user-has-role="ROLE_ADMIN"><a ui-sref="root.person.create">Add person</a></li>
          <li><a ui-sref="root.person.search">Advanced search</a></li>
          <li show-if-user-has-role="ROLE_ADMIN" ng-class="{ active: $state.includes('root.person.blacklist') }"><a
            ui-sref="root.person.blacklist">Blacklist</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul show-if-user-has-role="ROLE_PROVIDER_ADMIN" class="nav navbar-nav" ng-if="user.identity.id !== 542476">
      <li ng-class="{ dropdown: true, active: $state.includes('root.resource') }">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">Resource <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a ui-sref="root.resource.create">Add resource</a></li>
          <li><a ui-sref="root.resource.creategarage">Add garage</a></li>
        </ul>
      </li>
    </ul>
    <ul show-if-user-has-role="ROLE_PROVIDER_ADMIN" class="nav navbar-nav">
      <li id="triproot" ng-class="{ dropdown: true, active: $state.includes('root.trip') }">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">Trip <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <form ng-submit="followTripId(tripId)" ng-click="stopPropagation($event)">
              <input ng-model="tripId" class="form-control" placeholder="Jump to trip id" style="width: 90%; margin: 5px 5% 0 5%;" />
            </form>
          </li>
          <li class="divider"></li>
          <li ng-repeat="booking in previousDashboard|limitTo:2" ng-if="previousDashboard">
            <a ui-sref="root.trip.dashboard({tripId: booking.id})">
              <strong><small>#{{booking.id}} </small>{{booking.person.firstName + ' ' + booking.person.lastName}}</strong>
              <br><small>{{booking.resource.alias}}</small>
              <small ng-if="booking.beginBooking"><br><booking-date booking="booking" type="booking"></booking-date></small>
              <small ng-if="!booking.beginBooking"><br><booking-date booking="booking" type="requested"></booking-date></small>
            </a>
          </li>
          <li ng-if="!previousDashboard">
            <a href="">
              <strong>Geen recent bekeken ritten</strong>
            </a>
          </li>
          <li class="divider"></li>
          <li ng-class="{ active: $state.includes('root.trip.list.requested') }">
            <a ui-sref="root.trip.list.requested">Requested</a>
          </li>
          <li ng-class="{ active: $state.includes('root.trip.list.current') }">
            <a ui-sref="root.trip.list.current">Current</a>
          </li>
          <li show-if-user-has-role="ROLE_ADMIN" ng-class="{ active: $state.includes('root.trip.list.notactive') }">
            <a ui-sref="root.trip.list.notactive">Not active bookings</a>
          </li>
          <li class="divider"></li>
          <li ng-class="{ active: $state.includes('root.trip.list.strange-kms') }" show-if-user-has-role="ROLE_ADMIN">
            <a ui-sref="root.trip.list.strange-kms">Strange kms</a>
          </li>
          <li ng-class="{ active: $state.includes('root.trip.list.remarked') }" show-if-user-has-role="ROLE_ADMIN">
            <a ui-sref="root.trip.list.remarked">Remarks</a>
          </li>
          <li ng-class="{ active: $state.includes('root.trip.list.returned-late') }" show-if-user-has-role="ROLE_ADMIN">
            <a ui-sref="root.trip.list.returned-late">Returned late</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul show-if-user-has-role="ROLE_ADMIN" class="nav navbar-nav" hide>
      <li ng-class="{ dropdown: true, active: $state.includes('root.invoice') }">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">Bill <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li ng-class="{ active: $state.includes('root.invoice.group.list') }">
            <a ui-sref="root.invoice.group.list">Verzamelfacturen</a>
          </li>
          <li ng-class="{ active: $state.includes('root.invoice.group.list') }">
            <a ui-sref="root.invoice.group.list({neq_saldo: true, unpaid: false})">Openstaand !== Saldo</a>
          </li>
          <li ng-class="{ active: $state.includes('root.invoice.group.list') }">
            <a ui-sref="root.invoice.group.list({unpaid: true, amount: 5, ltdue: twoWeeksAgo, neq_saldo: false})">Openstaande
              bedragen</a>
          </li>
          <li ng-class="{ active: $state.includes('root.invoice.group.list') }">
            <a ui-sref="root.invoice.group.list({due: 'concept', owner: true, amount: 10})">Concept for owner</a>
          </li>
          <li ng-class="{ active: $state.includes('root.invoice.account.belowcredit') }">
            <a ui-sref="root.invoice.account.belowcredit({due: 'concept', owner: true, amount: 10})">Under credit
              limit</a>
          </li>
          <li>
            <a href="" ng-click="printBills()">Print Bills</a>
          </li>
          <!-- <li ng-class="{ active: $state.includes('root.invoice.account.list') }">
            <a ui-sref="root.invoice.account.list" >Rekeningen</a>
          </li> -->
          <!-- <li><a href="">Transactions</a></li>
          <li><a href="">Invoices</a></li> -->
        </ul>
      </li>
    </ul>

    <!-- INVOICE MODULE VERSION 2 -->
    <ul show-if-user-has-role="ROLE_ADMIN" class="nav navbar-nav" ng-if="user.identity.id !== 542476">
      <li id="invoiceroot" ng-class="{ dropdown: true, active: $state.includes('root.invoice2') }">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">Invoice <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <form ng-submit="followInvoiceGroupId(invoiceGroupId)" ng-click="stopPropagation($event)">
              <input ng-model="invoiceGroupId" class="form-control" placeholder="Jump to invoicegroup id" style="width: 90%; margin: 5px 5% 0 5%;" />
            </form>
          </li>
          <li class="divider"></li>
          <li ng-class="{ active: $state.includes('root.invoice2.account.list') }">
            <a ui-sref="root.invoice2.account.list">Accounts</a>
          </li>
          <li ng-class="{ active: $state.includes('root.invoice2.invoiceGroup.list') }">
            <a ui-sref="root.invoice2.invoiceGroup.list({max: 50})">Invoice groups</a>
          </li>
          <li ng-class="{ active: $state.includes('root.invoice2.invoice.debtors-list') }">
            <a ui-sref="root.invoice2.invoice.debtors-list">Debtors</a>
          </li>
          <li ng-class="{ active: $state.includes('root.invoice2.invoice.creditors-list') }">
            <a ui-sref="root.invoice2.invoice.creditors-list">Creditors</a>
          </li>
          <li ng-class="{ active: $state.includes('root.invoice2.voucher.list') }">
            <a ui-sref="root.invoice2.voucher.list">Vouchers</a>
          </li>
          <li ng-class="{ active: $state.includes('root.invoice2.payment.list') }">
            <a ui-sref="root.invoice2.payment.list">Payments</a>
          </li>
          <li ng-class="{ active: $state.includes('root.invoice2.payout.list') }">
            <a ui-sref="root.invoice2.payout.list({gateway: 'paynl_gateway_mywheels', state: 'unpaid'})">Payouts</a>
          </li>
          <li class="divider"></li>
          <li ng-class="{ active: $state.includes('root.invoice2.invoice.create') }">
            <a ui-sref="root.invoice2.invoice.create">Create invoice</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul show-if-user-has-role="ROLE_ADMIN" class="nav navbar-nav" hide>
      <li class="dropdown" ng-class="{ active: $state.includes('root.bank') }">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">Bank <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li ng-class="{ active: $state.includes('root.bank.transaction.import') }">
            <a ui-sref="root.bank.transaction.import">Import Transactions</a>
          </li>
          <li ng-class="{ active: $state.includes('root.bank.transaction.all') }">
            <a ui-sref="root.bank.transaction.all">Show Transactions</a>
          </li>
          <li ng-class="{ active: $state.includes('root.bank.transaction.unknownaccount') }">
            <a ui-sref="root.bank.transaction.unknownaccount">Unknown Account</a>
          </li>
          <li ng-class="{ active: $state.includes('root.bank.transaction.todo') }">
            <a ui-sref="root.bank.transaction.todo">To Do</a>
          </li>
          <li class="divider"></li>
          <li ng-class="{ active: $state.includes('root.bank.incasso.all') }">
            <a ui-sref="root.bank.incasso.all">Incasso Batches</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul show-if-user-has-role="ROLE_ADMIN" class="nav navbar-nav">
      <li class="dropdown" ng-class="{ active: $state.includes('root.checklist') }">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">Checklists <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li show-if-user-has-role="ROLE_ADMIN" ng-class="{ active: $state.includes('ow-dashboard') }">
            <a ui-sref="ow-dashboard">Dashboard</a>
          </li>
          <li ui-sref-active="active" ng-repeat="item in checklists"> 
            <a ui-sref="root.checklist.generic({queryid: item.id})">{{item.title}}</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul show-if-user-has-role="ROLE_ADMIN" class="nav navbar-nav">
      <li ng-class="{ active: $state.includes('root.querytool') }">
        <a ui-sref="root.querytool">Database</a>
      </li>
    </ul>

    <ul show-if-user-has-role="ROLE_ADMIN" class="nav navbar-nav">
      <li ng-class="{ dropdown: true, active: $state.includes('root.globaldiscount') }">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">Discount<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a ui-sref="root.globaldiscount.create">Create global discount</a></li>
        </ul>
      </li>
    </ul>
    <form show-if-user-has-role="ROLE_PROVIDER_ADMIN" class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control input-sm typeahead" placeholder="Search person by name"
               ng-model="selectedPerson"
               uib-typeahead="person as ('<p>' + (person|fullname) + ' [' + person.id + ']<br><small>' + person.city + '<br>' + person.email + '<br> ' + (person.preference | toTitleCase) + ' - <b>Provider ' + person.provider.id + '</b></small></p>') for person in searchPersons($viewValue)"
               typeahead-min-length="3" typeahead-on-select="selectPerson()"
               typeahead-input-formatter="formatPerson($model)"
               typeahead-no-results="noPersonResults"
               typeahead-loading="searchingForPersonResults"
               typeahead-wait-ms="300">
        <span ng-if="noPersonResults && !searchingForPersonResults && !personsOverflow" auto-close="disabled" is-open="true" uib-dropdown uib-dropdown-toggle>
          <ul class="dropdown-menu" style="top:28px; padding:15px; width:168px;">
            <li class="uib-typeahead-match">No persons found.</li>
          </ul>
        </span>
        <span ng-if="searchingForPersonResults" auto-close="disabled" is-open="true" uib-dropdown uib-dropdown-toggle>
          <ul class="dropdown-menu" style="top:28px; padding:15px; width:168px;">
            <li class="uib-typeahead-match">Searching...</li>
          </ul>
        </span>
        <span ng-if="personsOverflow && !searchingForPersonResults" auto-close="disabled" is-open="true" uib-dropdown uib-dropdown-toggle>
          <ul class="dropdown-menu" style="top:28px; padding:15px; width:168px;">
            <li class="uib-typeahead-match">Too many results. Limit your search by adding a firstname or surname.</li>
          </ul>
        </span>
      </div>
    </form>
    <form show-if-user-has-role="ROLE_PROVIDER_ADMIN" class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control input-sm typeahead" placeholder="Search resource"
               ng-model="selectedResource"
               uib-typeahead="resource as ('<p>[' + resource.id + '] ' + resource.alias + '<br><small>' + resource.registrationPlate + '<br>' + resource.city + '<br>Provider ' + resource.providerId + '</p>') for resource in searchResources($viewValue)"
               typeahead-min-length="3" typeahead-on-select="selectResource()"
               typeahead-input-formatter="formatResource($model)"
               typeahead-no-results="noResourceResults"
               typeahead-loading="searchingForResourceResults"
               typeahead-wait-ms="300">
        <span ng-if="noResourceResults && !searchingForResourceResults && !resourcesOverflow" auto-close="disabled" is-open="true" uib-dropdown uib-dropdown-toggle>
          <ul class="dropdown-menu" style="top:28px; padding:15px; width:168px;">
            <li class="uib-typeahead-match">No resources found.</li>
          </ul>
        </span>
        <span ng-if="searchingForResourceResults" auto-close="disabled" is-open="true" uib-dropdown uib-dropdown-toggle>
          <ul class="dropdown-menu" style="top:28px; padding:15px; width:168px;">
            <li class="uib-typeahead-match">Searching...</li>
          </ul>
        </span>
        <span ng-if="resourcesOverflow && !searchingForResourceResults" auto-close="disabled" is-open="true" uib-dropdown uib-dropdown-toggle>
          <ul class="dropdown-menu" style="top:28px; padding:15px; width:168px;">
            <li class="uib-typeahead-match">Too many results. Search for a registration plate.</li>
          </ul>
        </span>
      </div>
    </form>

    <div show-if-user-has-role="ROLE_ADMIN" style="float:left;line-height:40px;">
      <div style="float:left;padding-right:8px;line-height:38px;">Limit:</div>
        <input type="checkbox" ng-model="$root.limit" checked="true">
    </div>

    <ul class="nav navbar-nav">
      <li ng-if="!user.isAuthenticated">
        <a ng-click="logIn()">Log In</a>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li ng-if="user.isAuthenticated">
            <a ng-click="logOut()">Log out</a>
          </li>
          <li ng-class="{ active: $state.includes('root.settings') }">
            <a href="" ui-sref="root.settings">Settings</a>
          </li>
        </ul>
      </li>
    </ul>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>
