<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-show="!showNavigationOnDashboard">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->


  <div class="collapse navbar-collapse navbar-main-collapse">
    <ul class="nav navbar-nav" ng-if="user.identity.provider.id === 1">
      <li show-if-user-has-role="ROLE_PROVIDER_ADMIN" ng-class="{ active: $state.includes('phoneLog.current') }">
        <a ui-sref="phoneLog.current">Telefoongesprekken</a>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li show-if-user-has-role="ROLE_PROVIDER_ADMIN"
          ng-class="{ dropdown: true, active: $state.includes('root.person') }">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">Persoon <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li show-if-user-has-role="ROLE_ADMIN" ng-if="!$root.isInterswitch">
            <a ui-sref="root.person.create">Persoon toevoegen</a>
          </li>
          <li>
            <a ui-sref="root.person.search">Uitgebreid zoeken</a>
          </li>
          <li ng-class="{ active: $state.includes('root.person.blacklist') }" show-if-user-has-role="ROLE_ADMIN" ng-if="!$root.isInterswitch">
            <a
            ui-sref="root.person.blacklist">Zwarte lijst</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul show-if-user-has-role="ROLE_PROVIDER_ADMIN" class="nav navbar-nav" ng-if="!$root.isInterswitch">
      <li ng-class="{ dropdown: true, active: $state.includes('root.resource') }">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">Auto <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a ui-sref="root.resource.create">Auto toevoegen</a></li>
          <li><a ui-sref="root.resource.creategarage">Garage toevoegen</a></li>
        </ul>
      </li>
    </ul>
    <ul show-if-user-has-role="ROLE_PROVIDER_ADMIN" class="nav navbar-nav">
      <li id="triproot" ng-class="{ dropdown: true, active: $state.includes('root.trip') }">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">Rit <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <form ng-submit="followTripId(tripId)" ng-click="stopPropagation($event)">
              <input ng-model="tripId" class="form-control" placeholder="Naar ritnummer" style="width: 90%; margin: 5px 5% 0 5%;" />
            </form>
          </li>
          <li class="divider"></li>
          <li ng-repeat="booking in previousDashboard|limitTo:2" ng-if="previousDashboard">
            <a ui-sref="root.trip.dashboard({tripId: booking.id})">
              <strong><small>#{{booking.id}} </small>{{booking.person.firstName + ' ' + booking.person.lastName}}</strong>
              <br><small>{{booking.resource.alias}}</small>
              <small ng-if="booking.beginBooking"><br><booking-date booking="booking" type="booking"></booking-date></small>
              <small ng-if="!booking.beginBooking"><br><booking-date booking="booking" type="requested"></booking-date></small>
            </a>
          </li>
          <li ng-if="!previousDashboard">
            <a href="">
              <strong>Geen recent bekeken ritten</strong>
            </a>
          </li>
          <li class="divider"></li>
          <li ng-class="{ active: $state.includes('root.trip.list.requested') }">
            <a ui-sref="root.trip.list.requested">In aanvraag</a>
          </li>
          <li ng-class="{ active: $state.includes('root.trip.list.current') }">
            <a ui-sref="root.trip.list.current">Lopende ritten</a>
          </li>
          <li ng-class="{ active: $state.includes('root.trip.list.notactive') }">
            <a ui-sref="root.trip.list.notactive">Nog niet actieve ritten</a>
          </li>
          <li class="divider"></li>
          <li ng-class="{ active: $state.includes('root.trip.list.strange-kms') }" show-if-user-has-role="ROLE_ADMIN" ng-if="!$root.isInterswitch">
            <a ui-sref="root.trip.list.strange-kms">Vreemde kilometerstanden</a>
          </li>
          <li ng-class="{ active: $state.includes('root.trip.list.remarked') }" show-if-user-has-role="ROLE_ADMIN" ng-if="!$root.isInterswitch">
            <a ui-sref="root.trip.list.remarked">Opmerkingen</a>
          </li>
          <li ng-class="{ active: $state.includes('root.trip.list.returned-late') }" show-if-user-has-role="ROLE_ADMIN" ng-if="!$root.isInterswitch">
            <a ui-sref="root.trip.list.returned-late">Te laat teruggebracht</a>
          </li>
        </ul>
      </li>
    </ul>

  <!--<ul show-if-user-has-role="ROLE_ADMIN" class="nav navbar-nav" hide>
      <li ng-class="{ dropdown: true, active: $state.includes('root.invoice') }">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">Bill <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li ng-class="{ active: $state.includes('root.invoice.group.list') }">
            <a ui-sref="root.invoice.group.list">Verzamelfacturen</a>
          </li>
          <li ng-class="{ active: $state.includes('root.invoice.group.list') }">
            <a ui-sref="root.invoice.group.list({neq_saldo: true, unpaid: false})">Openstaand !== Saldo</a>
          </li>
          <li ng-class="{ active: $state.includes('root.invoice.group.list') }">
            <a ui-sref="root.invoice.group.list({unpaid: true, amount: 5, ltdue: twoWeeksAgo, neq_saldo: false})">Openstaande
              bedragen</a>
          </li>
          <li ng-class="{ active: $state.includes('root.invoice.group.list') }">
            <a ui-sref="root.invoice.group.list({due: 'concept', owner: true, amount: 10})">Concept for owner</a>
          </li>
          <li ng-class="{ active: $state.includes('root.invoice.account.belowcredit') }">
            <a ui-sref="root.invoice.account.belowcredit({due: 'concept', owner: true, amount: 10})">Under credit
              limit</a>
          </li>
          <li>
            <a href="" ng-click="printBills()">Print Bills</a>
          </li>
          <li ng-class="{ active: $state.includes('root.invoice.account.list') }">
            <a ui-sref="root.invoice.account.list" >Rekeningen</a>
          </li> -->
          <!-- <li><a href="">Transactions</a></li>
          <li><a href="">Invoices</a></li>
        </ul>
      </li>
    </ul> -->

    <!-- INVOICE MODULE VERSION 2 -->
    <ul show-if-user-has-role="ROLE_ADMIN" class="nav navbar-nav" ng-if="!$root.isInterswitch">
      <li id="invoiceroot" ng-class="{ dropdown: true, active: $state.includes('root.invoice2') }">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">Facturen <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <form ng-submit="followInvoiceGroupId(invoiceGroupId)" ng-click="stopPropagation($event)">
              <input ng-model="invoiceGroupId" class="form-control" placeholder="Naar factuurnummer" style="width: 90%; margin: 5px 5% 0 5%;" />
            </form>
          </li>
          <li class="divider"></li>
          <li ng-class="{ active: $state.includes('root.invoice2.account.list') }">
            <a ui-sref="root.invoice2.account.list">IBAN-nummers</a>
          </li>
          <li ng-class="{ active: $state.includes('root.invoice2.payout.list') }">
            <a ui-sref="root.invoice2.payout.list({gateway: 'paynl_gateway_mywheels', state: 'unpaid'})">Uitbetalingen</a>
          </li>
          <li ng-class="{ active: $state.includes('root.subscription.list') }">
            <a ui-sref="root.subscription.list">Abonnementen</a>
          </li>
          <li ng-class="{ active: $state.includes('root.globaldiscount.create') }">
            <a ui-sref="root.globaldiscount.create">Kortingscode toevoegen</a>
          </li>
          <li class="divider"></li>
          <li ng-class="{ active: $state.includes('root.invoice2.invoice.create') }">
            <a ui-sref="root.invoice2.invoice.create">Factuurregel toevoegen</a>
          </li>
        </ul>
      </li>
    </ul>

    <!-- <ul show-if-user-has-role="ROLE_ADMIN" class="nav navbar-nav" hide>
      <li class="dropdown" ng-class="{ active: $state.includes('root.bank') }">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">Bank <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li ng-class="{ active: $state.includes('root.bank.transaction.import') }">
            <a ui-sref="root.bank.transaction.import">Import Transactions</a>
          </li>
          <li ng-class="{ active: $state.includes('root.bank.transaction.all') }">
            <a ui-sref="root.bank.transaction.all">Show Transactions</a>
          </li>
          <li ng-class="{ active: $state.includes('root.bank.transaction.unknownaccount') }">
            <a ui-sref="root.bank.transaction.unknownaccount">Unknown Account</a>
          </li>
          <li ng-class="{ active: $state.includes('root.bank.transaction.todo') }">
            <a ui-sref="root.bank.transaction.todo">To Do</a>
          </li>
          <li class="divider"></li>
          <li ng-class="{ active: $state.includes('root.bank.incasso.all') }">
            <a ui-sref="root.bank.incasso.all">Incasso Batches</a>
          </li>
        </ul>
      </li>
    </ul> -->

    <ul show-if-user-has-role="ROLE_ADMIN" class="nav navbar-nav" ng-if="!$root.isInterswitch">
      <li class="dropdown" ng-class="{ active: $state.includes('root.checklist') }">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">Controlelijsten <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li ng-class="{ active: $state.includes('ow-dashboard') }">
            <a ui-sref="ow-dashboard">Dashboard</a>
          </li>
          <li ui-sref-active="active" ng-repeat="item in checklists | filter:{onDashboard:false}"> 
            <a ui-sref="root.checklist.generic({queryid: item.id})">{{item.title}}</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul show-if-user-has-role="ROLE_ADMIN" class="nav navbar-nav" ng-if="!$root.isInterswitch">
      <li ng-class="{ active: $state.includes('root.querytool') }">
        <a ui-sref="root.querytool">Database</a>
      </li>
    </ul>

    <ul show-if-user-has-role="ROLE_ADMIN" class="nav navbar-nav" ng-if="!$root.isInterswitch">
      <li ng-class="{ dropdown: true, active: $state.includes('root.provider') }">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">Provider<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li ng-class="{ active: $state.includes('root.provider.create') }">
            <a ui-sref="root.provider.create">Provider toevoegen</a>
          </li>
          <li ng-class="{ active: $state.includes('root.provider.list') }">
            <a ui-sref="root.provider.list">Providerlijst</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul show-if-user-has-role="ROLE_ADMIN" class="nav navbar-nav" ng-if="!$root.isInterswitch">
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown"><md-icon>email</md-icon><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <!--<li>
            <a ng-click="$root.emailer.open()">(lege email)</a>
          </li>-->
          <li ng-repeat="template in $root.EMAILER_TEMPLATES">
            <a ng-click="$root.emailer.open({ templateKey: template.key })">{{ template.key }}</a>
          </li>
        </ul>
      </li>
    </ul>

    <form show-if-user-has-role="ROLE_PROVIDER_ADMIN" class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control input-sm typeahead" placeholder="Zoek persoon"
               ng-model="selectedPerson"
               uib-typeahead="person as ('<p>' + (person|fullname) + ' [' + person.id + ']<br><small>' + person.city + '<br>' + person.email + '<br> ' + (person.preference | toTitleCase) + ' - <b>Provider ' + person.provider.id + '</b></small></p>') for person in searchPersons($viewValue)"
               typeahead-min-length="3" typeahead-on-select="selectPerson()"
               typeahead-input-formatter="formatPerson($model)"
               typeahead-no-results="noPersonResults"
               typeahead-loading="searchingForPersonResults"
               typeahead-wait-ms="300">
        <span ng-if="noPersonResults && !searchingForPersonResults && !personsOverflow" auto-close="disabled" is-open="true" uib-dropdown uib-dropdown-toggle>
          <ul class="dropdown-menu" style="top:28px; padding:15px; width:168px;">
            <li class="uib-typeahead-match">Geen persoon gevonden.</li>
          </ul>
        </span>
        <span ng-if="searchingForPersonResults" auto-close="disabled" is-open="true" uib-dropdown uib-dropdown-toggle>
          <ul class="dropdown-menu" style="top:28px; padding:15px; width:168px;">
            <li class="uib-typeahead-match">Zoeken...</li>
          </ul>
        </span>
        <span ng-if="personsOverflow && !searchingForPersonResults" auto-close="disabled" is-open="true" uib-dropdown uib-dropdown-toggle>
          <ul class="dropdown-menu" style="top:28px; padding:15px; width:168px;">
            <li class="uib-typeahead-match">Te veel personen gevonden. Beperk de zoekopdracht door een voor- of achternaam toe te voegen.</li>
          </ul>
        </span>
      </div>
    </form>

    <form show-if-user-has-role="ROLE_PROVIDER_ADMIN" class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control input-sm typeahead" placeholder="Zoek auto"
               ng-model="selectedResource"
               uib-typeahead="resource as ('<p>[' + resource.id + '] ' + resource.alias + '<br><small>' + resource.registrationPlate + '<br>' + resource.city + '<br>Provider ' + resource.providerId + '</p>') for resource in searchResources($viewValue)"
               typeahead-min-length="3" typeahead-on-select="selectResource()"
               typeahead-input-formatter="formatResource($model)"
               typeahead-no-results="noResourceResults"
               typeahead-loading="searchingForResourceResults"
               typeahead-wait-ms="300">
        <span ng-if="noResourceResults && !searchingForResourceResults && !resourcesOverflow" auto-close="disabled" is-open="true" uib-dropdown uib-dropdown-toggle>
          <ul class="dropdown-menu" style="top:28px; padding:15px; width:168px;">
            <li class="uib-typeahead-match">Geen auto's gevonden.</li>
          </ul>
        </span>
        <span ng-if="searchingForResourceResults" auto-close="disabled" is-open="true" uib-dropdown uib-dropdown-toggle>
          <ul class="dropdown-menu" style="top:28px; padding:15px; width:168px;">
            <li class="uib-typeahead-match">Zoeken...</li>
          </ul>
        </span>
        <span ng-if="resourcesOverflow && !searchingForResourceResults" auto-close="disabled" is-open="true" uib-dropdown uib-dropdown-toggle>
          <ul class="dropdown-menu" style="top:28px; padding:15px; width:168px;">
            <li class="uib-typeahead-match">Te veel auto's gevonden. Beperk de zoekopdracht door op kenteken te zoeken.</li>
          </ul>
        </span>
      </div>
    </form>

    <div show-if-user-has-role="ROLE_ADMIN" style="float:left;line-height:40px;" ng-if="!$root.isInterswitch">
      <div style="float:left;padding-right:8px;line-height:38px;">Limiteer:</div>
        <input type="checkbox" ng-model="$root.limit" checked="true">
    </div>

    <ul class="nav navbar-nav">
      <li ng-if="!user.isAuthenticated">
        <a ng-click="logIn()">Inloggen</a>
      </li>
    </ul>

    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li ng-if="user.isAuthenticated">
            <a ng-click="logOut()">Uitloggen</a>
          </li>
          <li ng-class="{ active: $state.includes('root.settings') }">
            <a href="" ui-sref="root.settings">Instellingen</a>
          </li>
        </ul>
      </li>
    </ul>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>
