<h4>Chipcards</h4>

<div class="row">
    <div class="col-md-4">
        <button class="btn btn-default" ng-click="createEditChipcard()">Add new chipcard</button>
    </div>
    <div  class="col-md-3 col-md-offset-3">
        <h4 ng-show="fish.pincode">Pincode: {{fish.pincode}}</h4>
        <p ng-show="fish.pincode">Geldig tot: {{ fish.validUntil |  amDateFormat:'DD-MM-YYYY' }}</p>
        <p ng-hide="fish.pincode">This person is not allowed to add chipcards at this moment.</p>

    </div>
    <div class="col-md-2">
        <button ng-show="fish.pincode" class="btn btn-default" ng-click="deleteFish()">Delete fish</button>
        <button ng-hide="fish.pincode" class="btn btn-default" ng-click="createFish()">Create fish</button>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <td></td>
        <td></td>
        <th>Mifare UID</th>
        <th>UID HEX</th>
        <th>Blocked</th>
        <th>OV-fiets</th>
        <th>Description</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>Last OV-fiets sync</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="chipcard in chipcards" ng-class="{danger: chipcard.isBlocked}">
        <td class="text-right">
            <button class="btn btn-default btn-xs" ng-click="createEditChipcard(chipcard)"><i class="fa fa-pencil fa-lg"></i></button>
        </td>
        <td>
            <button class="btn btn-default btn-xs" ng-show="chipcard.isBlocked" ng-click="unblock(chipcard)">Unblock</button>
            <button class="btn btn-default btn-xs" ng-hide="chipcard.isBlocked" ng-click="block(chipcard)">Block</button>
        </td>
        <td>{{ chipcard.mifareUid }}</td>
        <td>{{ chipcard.mifareUid | dec2hex }}</td>
        <td>{{ chipcard.isBlocked }}</td>
        <td>{{ chipcard.isOvfietsEnabled }}</td>
        <td>{{ chipcard.description  }}</td>
        <td>{{ chipcard.insertedOn | amDateFormat:'DD-MM-YYYY HH:mm' }}</td>
        <td>{{ chipcard.updated | amDateFormat:'DD-MM-YYYY HH:mm' }}</td>
        <td>{{ chipcard.lastOvfietsSync | amDateFormat:'DD-MM-YYYY HH:mm' }}</td>
    </tr>
    </tbody>
</table>