<form name="personalDataForm">
  <div  class="form-group"
        ng-class="{
          'has-error': personalDataForm.firstName.$invalid,
          'has-success': !personalDataForm.firstName.$invalid
        }">
    <label for="firstName">Voornaam</label>
    <input type="text" id="firstName" name="firstName" class="form-control" ng-model="person.firstName" required placeholder="Voornaam">
  </div>


  <div class="form-group" ng-class="{true: 'has-error', false: 'is-required'}[personalDataForm.person.surname.$dirty && personalDataForm.person.surname.$invalid]">
    <label for="preposition">Tussenvoegsel & achternaam</label>
    <div class="row">
      <div class="col-xs-4">
        <label for="preposition" class="sr-only">Tussenvoegsel</label>
        <input type="text" id="preposition" class="form-control" ng-model="person.preposition" placeholder="Tussenvoegsel">
      </div>
      <div class="col-xs-8">
        <label for="surname" class="sr-only">Achternaam</label>
        <input type="text" id="surname" class="form-control" ng-model="person.surname" required placeholder="Achternaam">
      </div>
    </div>
    <span class="help-block" ng-show="personalDataForm.person.surname.$dirty && personalDataForm.person.surname.$error.required">Een achternaam is verplicht.</span>
  </div>



  <div class="form-group">
    <label for="gender">Geslacht</label>
    <span class="nullable">
      <select id="gender" class="form-control" ng-model="person.male" ng-change="selectAction()" ng-options="gender.value as gender.label for gender in genderOptions">
        <option value="">-- selecteer geslacht --</option>
      </select>
    </span>
  </div>

  <div class="form-group">
    <label for="dateOfBirth">Geboortedatum</label>
    <input type="text" id="dateOfBirth" placeholder="Selecteer de geboortedatum" class="form-control pickadate-input" ng-model="person.dateOfBirth" pickadate="dateConfig">
  </div>

  <div class="form-group">
    <button ng-click="cancel()" ng-disabled="isCancelDisabled()" class="btn">Annuleer</button>
    <button  ng-click="save()" ng-disabled="isPersonalDataSaveDisabled()" class="btn btn-primary">Opslaan</button>
  </div>

</form>
