<div class="panel panel-default card" ng-show="resource.removed">
    <div class="panel-heading">
        <h1>Resource with id: {{resource.id}} was removed.</h1>
    </div>
</div>
<div class="panel panel-default card summary-resource">
    <div class="panel-heading">
        <div class="media row">

          <div class="col-md-2 summary-image">
            <img class="img-responsive media-object" ng-src="{{ resource.pictures[0] | resourceAvatar:'normal' }}" />
          </div>

          <div class="col-md-7" style="margin-top:10px;">
            <h3 class="card__title">
              {{ resource.alias | limitTo: 25}}{{resource.alias.length > 25 ? '...' : ''}}
              van 
              <a ui-sref="root.person.show.summary({ personId: resource.ownerId })">{{ resource.owner.firstName }}</a>
              <small>({{ resource.registrationPlate }}, {{ resource.id }})</small>
            </h3>
            <ul class="list-inline card__subtitle">
              <li ng-class="{'text-success': resource.isActive, 'text-danger': !resource.isActive}">
                <i class="fa fa-check"></i> {{ resource.isActive ? 'Active' : 'Inactive' }}
              </li>
              <li ng-class="{'text-success': resource.isAvailableOthers, 'text-danger': !resource.isAvailableOthers}">
                <i class="fa fa-search"></i> {{ resource.isAvailableOthers ? 'Available for others' : 'Not available for others'}}
              </li>
              <li>
                <i class="fa fa-calendar"></i> {{ resource.created | amDateFormat:'DD-MM-YYYY' }}
              </li>
              <li>
                <i class="fa fa-map-marker"></i> {{ resource.location }} {{ resource.streetNumber }}, {{ resource.city }}
              </li>
            </ul>

            <ul class="list-inline card__subtitle" style="margin-top:5px;">
              <li ng-if="resource.locktypes.indexOf('smartphone') >= 0 && resource.locktypes.indexOf('chipcard') < 0">
                <h4>Micpoint: smartphone</h4>
              </li>
              <li ng-if="resource.locktypes.indexOf('smartphone') >= 0 && resource.locktypes.indexOf('chipcard') >= 0">
                <h4>Micpoint: smartphone & chipcard</h4>
              </li>
              <li ng-if="resource.locktypes.indexOf('smartphone') < 0 && resource.locktypes.indexOf('chipcard') >= 0">
                <h4>Convadis: chipcard</h4>
              </li>
              <li ng-if="resource.locktypes.indexOf('smartphone') < 0 && resource.locktypes.indexOf('chipcard') < 0">
                <h4>Meeting</h4>
              </li>
            </ul>
          </div>

          <div class="col-md-2" id="resourceSummaryActions">
            <button class="btn btn-primary" ng-click="bookResource(resource)">Book Resource</button>

            <div id="resourceParkingpermit">
              <button ng-if="resource.fleet.id == 5 && permits.length == 0" class="btn btn-info" ng-click="createParkingPermit(resource)">
                <i class="fa fa-plus"></i> create parking permit
              </button>
              <button ng-if="resource.fleet.id == 5 && permits.length > 0" class="btn btn-warning" ng-click="removeParkingPermit(permits)">
                <i class="fa fa-times"></i> remove parking permit
              </button>
              <button ng-if="resource.fleet.id == 5 && permits.length > 0" class="btn btn-warning" ng-click="updateParkingPermit(permits)">
                <i class="fa fa-edit"></i> alter parking permit
              </button>
            </div>

          </div>

          <div class="col-md-1">
              <i class="fa fa-trash-o fa-2x  pull-right" ng-click="removeResource(resource)"></i>
          </div>

        </div>
      </div>
    </div>
</div>

<div class="panel panel-default card">
    <nav class="navbar navbar-default card__navbar">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ow-navbar-collapse-person">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="root.resource.show.summary({ tripId: resource.id })">Summary</a>
        </div>
        <div class="collapse navbar-collapse" id="ow-navbar-collapse-person">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: $state.includes('root.resource.show.edit') }">
                  <a ui-sref="root.resource.show.edit({ resourceId: resource.id })">Edit</a>
                </li>
                <li ng-class="{ active: $state.includes('root.resource.show.members') }">
                    <a ui-sref="root.resource.show.members({ resourceId: resource.id })">Members</a>
                </li>
                <li ng-class="{ active: $state.includes('root.resource.show.trip') }">
                    <a ui-sref="root.resource.show.trip({ resourceId: resource.id })">Trips</a>
                </li>
                <li ng-class="{ active: $state.includes('root.resource.show.tripdata') }">
                    <a ui-sref="root.resource.show.tripdata({ resourceId: resource.id })" ng-if="resource.boardcomputer">Tripdata</a>
                </li>
                <li ng-class="{ active: $state.includes('root.resource.show.boardcomputer') }" ng-if="resource.locktype === 'smartphone' || resource.locktype === 'chipcard'">
                    <a ui-sref="root.resource.show.boardcomputer({ resourceId: resource.id })">Board PC</a>
                </li>
                <li ng-class="{ active: $state.includes('root.resource.show.log') }" ng-if="resource.locktypes.indexOf('smartphone') >= 0">
                  <a ui-sref="root.resource.show.log({ resourceId: resource.id })">Boardcomputer Log</a>
                </li>
                <li class="dropdown" ng-class="{ active: $state.includes('root.resource.show.myfmschipcard') || $state.includes('root.person.show.myfmslog') }" ng-if="resource.locktypes.indexOf('smartphone') >= 0">
                    <a class="dropdown-toggle" data-toggle="dropdown">MyFMS Requests <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-class="{ active: $state.includes('root.resource.show.myfmschipcard') }">
                            <a ui-sref=".myfmschipcard">Chipcard</a>
                        </li>
                        <li ng-class="{ active: $state.includes('root.person.show.myfmslog') }">
                            <a ui-sref=".myfmslog">Log</a>
                        </li>
                    </ul>
                </li>

                <li ng-class="{ active: $state.includes('root.resource.show.rating') }">
                    <a ui-sref="root.resource.show.rating({ resourceId: resource.id })">Ratings</a>
                </li>
                <li ng-class="{ active: $state.includes('root.resource.show.discount') }">
                    <a ui-sref="root.resource.show.discount({ resourceId: resource.id })">Discount</a>
                </li>
                <li ng-class="{ active: $state.includes('root.resource.show.damage') }">
                    <a ui-sref="root.resource.show.damage({ resourceId: resource.id })">Damage</a>
                </li>
                <li ng-class="{ active: $state.includes('root.resource.show.maintenance') }">
                    <a ui-sref="root.resource.show.maintenance({ resourceId: resource.id })">Maintenance</a>
                </li>
                <li ng-class="{ active: $state.includes('root.resource.show.revisions') }">
                    <a ui-sref="root.resource.show.revisions({ resourceId: resource.id })">Revisions</a>
                </li>
                <li ng-class="{ active: $state.includes('root.resource.show.remarklog') }">
                    <a ui-sref="root.resource.show.remarklog({ resourceId: resource.id })">Remark</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="panel-body">
        <div ui-view></div>
    </div>
</div>
