<div class="alert alert-danger" ng-if="! isFinished()"><b>Pas op!</b> Deze boeking is nog niet voorbij. Gebruik het scherm <a ui-sref="^.edit_booking">Edit booking</a> om de boeking te verlengen of te stoppen.</div>
<div class="row">

  <div class="col-sm-6">
    <h4 class="booking__timeframe__title" ng-class="{ 'booking--isActive': isBooking() }">Booking</h4>
    <form name="bookingBooking">
      <div class="form-group">
        <label for="beginBooking">Begin date & time</label>
        <div class="row">
          <div class="col-xs-7">
            <input type="text" id="beginBooking" placeholder="pick a date" class="form-control pickadate-input" ng-model="booking.beginBooking" pickadate="dateConfig">
          </div>
          <div class="col-xs-5">
            <input type="text" placeholder="pick a time" class="form-control pickadate-input" ng-model="booking.beginBooking" pickatime="timeConfig">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="endBooking">End date & time</label>
        <div class="row">
          <div class="col-xs-7">
            <input type="text" id="endBooking" placeholder="pick a date" class="form-control pickadate-input" ng-model="booking.endBooking" pickadate="dateConfig">
          </div>
          <div class="col-xs-5">
            <input type="text" placeholder="pick a time" class="form-control pickadate-input" ng-model="booking.endBooking" pickatime="timeConfig">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="contract">Contract</label>
        <select class="form-control" id="contract" ng-model="booking.contract.id" ng-options="contract.id as ( ( contract.contractor | fullname ) + ' - ' + contract.type.name ) for contract in driverContracts"></select>
      </div>

      <div class="form-group">
        <label for="remarkRequester">Remark requester</label>
        <textarea id="remarkRequester" name="remarkRequester" class="form-control" ng-model="booking.remarkRequester"
          placeholder="Remark requester"></textarea>
      </div>

      <div class="form-group">
        <button class="btn btn-default" ng-click="saveBooking()">Save Booking</button>
      </div>

    </form>
  </div>

  <div class="col-sm-6">
    <h4 class="booking__timeframe__title" ng-class="{ 'trip--isActive': isTrip() }">Trip</h4>
    <form name="bookingTrip">
      <div class="form-group">
        <label for="beginTrip">Begin date & time</label>
        <div class="row">
          <div class="col-xs-7">
            <input type="text" id="beginTrip" placeholder="pick a date" class="form-control pickadate-input" ng-model="booking.trip.begin" pickadate="dateConfig">
          </div>
          <div class="col-xs-5">
            <input type="text" id="endTrip" placeholder="pick a time" class="form-control pickadate-input" ng-model="booking.trip.begin" pickatime="timeConfig">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="endTrip">End date & time</label>

        <div class="row">
          <div class="col-xs-7">
            <input type="text" placeholder="pick a date" class="form-control pickadate-input" ng-model="booking.trip.end" pickadate="dateConfig">
          </div>
          <div class="col-xs-5">
            <input type="text" placeholder="pick a time" class="form-control pickadate-input" ng-model="booking.trip.end" pickatime="timeConfig">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="beginOdo">Begin & end odo</label>
        <div class="row">
          <div class="col-xs-6">
            <input type="number" id="beginOdo" class="form-control" ng-model="booking.trip.odoBegin" placeholder="Begin odo">
          </div>
          <div class="col-xs-6">
            <input type="number" id="endOdo" class="form-control" ng-model="booking.trip.odoEnd" placeholder="End odo">
          </div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-default" ng-click="setTrip()">Save Trip</button>
      </div>
    </form>
  </div>
  <div class="col-sm-6" >
    <h4 class="booking__timeframe__title">Declarations (tankbonnen)</h4>
    <form name="declarations" ng-submit="addDeclaration()" ng-if="contract.type.canHaveDeclaration">
      <div class="form-group">
        <div class="row" >
          <div class="col-sm-12">
            <label>Add new declaration</label>
          </div>
          <div ng-if="!booking.declarations || booking.declarations.length < 5">
            <div class="col-sm-6">
              <input ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" type="number" step="0.01" max="200" min="0.01" class="form-control" ng-model="declaration.amount" placeholder="Amount">
            </div>
            <div class="col-sm-6">
              <file-input reset="noreset" type="file" class="form-control" on-change="fileChanged" name="declarationfile">
            </div>
          </div>
          <div ng-if="booking.declarations.length >= 5">
            <div class="col-sm-12">
              <p>
                You can not add more than 5 declarations}
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <label>Added declarations</label>
          </div>
          <div ng-if="!booking.declarations || booking.declarations.length == 0" class="col-xs-6">
            No declarations yet.
          </div>
          <div ng-repeat="declaration in booking.declarations" class="col-xs-6">
            <button class="btn btn-link" ng-click="openModal(declaration)">{{declaration.amount | currency}}</button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" ng-disabled="declarations.$invalid" class="btn btn-default">Add Declaration</button>
      </div>
    </form>
    <div ng-if="!contract.type.canHaveDeclaration">
      <p>This car can not have declarations, since the contract type does not support declarations. Change contract type, click save and refresh to upload declarations</p>
    </div>
  </div>

</div>
